{% load filters %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=800px, initial-scale=1.0">
    <title>Sales Confirmation</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            min-width: 980px;
            max-width: 980px;
        }
        #wrapper {
            width: 980px;
            text-align: left;
        }
        table {
            border:0;
            border-collapse:separate;
            border-spacing:0 5px;
        }
        thead tr th {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-collapse:separate;
            border-spacing:5px 5px;
        }
        tfoot tr th {
            border-top: 1px solid black;
            border-bottom: 0px solid black;
            border-collapse:separate;
            border-spacing:5px 5px;
        }
        tr {
            vertical-align: top;
        }
        table.fixed tbody {
            table-layout:fixed;
            width:980px;
        }
        table.fixed tbody td {
            overflow:hidden;
        }
        table.fixed tbody td:nth-of-type(1) {
            width:550px;
        }
        table.fixed tbody td:nth-of-type(2) {
            width:80px;
        }
        table.fixed tbody td:nth-of-type(3) {
            width:80px;
        }
        table.fixed tbody td:nth-of-type(4) {
            width:165px;
        }
        table.fixed tbody td:nth-of-type(5) {
            width:165px;
        }
    </style>
</head>
<body>
{% if order_details.customer %}
    <p> <b> Hi {{ order_details.customer.organization_name}}</b> </p>
{% endif %}
<div id="wrapper">
    {% if emedis_data %}
    <h1>{{ emedis_data.name }}</h1>
    <p>{{ emedis_data.address_1 }}<br />{{ emedis_data.address_2 }}<br />Telepon: {{ emedis_data.phone }}<br />Fax: {{ emedis_data.fax }}<br />Email: <a href="mailto:{{ emedis_data.email }}">{{ emedis_data.email }}</a></p>
    <table>
        <tr>
            <td><b>Nomor Pesanan:</b></td>
            <td colspan="3">{{ customer_data.order_no }}</td>
        </tr>
        <tr>
            <td><b>Tanggal:</b></td>
            <td colspan="3">{{ customer_data.order_date }}</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td colspan="3">{{ customer_data.email }}</td>
        </tr>
        <tr class="row_padding">
            <td><b>Telepon:</b></td>
            <td colspan="3">{{ customer_data.phone }}</td>
        </tr>
        <tr>
            <td><b>Tujuan Penagihan:</b></td>
            <td>
                {{ customer_data.billing_address }}
            </td>
            <td style="padding-left: 20px;"><b>Alamat Pengiriman:</b></td>
            <td>
                {{ customer_data.shipping_address }}
            </td>
        </tr>
    </table>
{% endif %}
    <br />
    <table class="fixed">
        <thead>
        <th>Nama Barang</th>
        <th>Jumlah</th>
        <th>Satuan</th>
        <th>Harga Satuan</th>
        <th>Total</th>
        </thead>
        <tbody>
        {% if product_details %}
        {% for product_detail in product_details %}
            <tr>
                <td >{{ product_detail.product_name }} - {{ product_detail.product_number }}</td>
                <td>{{ product_detail.product_quantity }}</td>
                <td>{{ product_detail.satuan }}</td>
                <td>{{ product_detail.product_price|make_currency }}</td>
                <td>{{ product_detail.subtotal|make_currency }}</td>
            </tr>
        {% endfor %}
        {% endif %}
        <tfoot>
                <tr>
                    <th>Grand Total</th>
                    <th></th>
                    <th></th>
                    <th></th>{% if grand_total %}
                    <th>{{ grand_total|make_currency }}</th>
                    {% endif %}
                </tr>
            </tfoot>
        </tbody>
    </table>
    <br /><br />{% if order_id %}
    <small><a target='_blank' href='/documents/sales_confirmation/{{ order_id }}/download'>Sales Konfirmasi Bentuk PDF</a></small>
{% endif %}
</div>
</body>
</html>