.footer-class {
    color: #95a0aa;
    font-size: 16px;
}
div .orange-content {
    color: rgb(237, 84, 18);
}
.button {
    background-color: #ed5412;
    color: #fff;
}
.button:hover {
    background-color: #ed7012;
}
.button:active {
    background-color: #ed7012;
}
.button:focus {
    background-color: #ed7012;
    color: #fff; }
.gray-text {
    color: #555555;
}
/*.alert-box.alert {*/
/*border: 3px solid #D91E18;*/
/*border-radius: 5px;*/
/*background-color: rgba(217, 30, 24, 0.2); }*/

/*.alert-box.success {*/
/*!*border: 3px solid #1E824C;*!*/
/*border-radius: 0px;*/
/*background-color: rgba(30, 130, 76, 0.2); }*/

.alert-box i {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: .2em .4em;
    margin-right: 0.8rem; }
.alert-box .close {
    background: transparent;
    color: #000;
    font-size: 2rem;
    top: 19px; }
@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
.alert-box.success {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #4da453;
    color: #dddddd;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*line-height: 2.5;*/
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
.alert-box.alert {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #ba3030;
    color: #dddddd;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*line-height: 2.5;*/
    overflow: hidden;
    /*-webkit-box-shadow: 0 0 5px black;*/
    /*-moz-box-shadow:    0 0 5px black;*/
    /*box-shadow:         0 0 5px black;*/
}