.old-price-emedis > span {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 26px;
    position: relative;
    top: 0px;
}
.old-price-emedis {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 24px;
    vertical-align: bottom;
}

.old-price-lkpp {
    color: #757575;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 16px;
    vertical-align: bottom;
    position: relative;
    top: -10px;
}

#product .pb-left-column .product-image .product-img-thumb {
    margin-top: 0px;
    padding: 0 40px;
}

.kodeproduk
{
position: relative !important;
top: 20px !important;
}

#product .pb-right-column .product-price-group .price-lkpp-text {
    color: #757575;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 13px;
}


/* counter */




.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: px 0;
    background: #fafafa;
    position: relative;
    /* top: -1px; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jml-barang {
    margin-right: 10px;
    position: relative;
    top: 0px;
    color: #757575;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
}

.btn.color-4 {
    background-color: #ff8d00;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top: 1px solid #dfdfdf;
    width: 100%;
}

.button-details
{
margin-top: 10px;
}

.button-details > .col-md-5
{
padding-left: 0px;
padding-right: 10px;
}


.button-details > .col-md-7
{
padding-left: 0px;
padding-right: 0px;

}

td > .subharga
{
    font-weight: bold;
    color: #ff6d00;
}

.button-details
{
margin-top: 20px;
}


.col-md-7 > .keranjang
{
    background-color: #f5f5f5;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top: 1px solid #dfdfdf;
    width: 100%;
}

.col-md-7 > .keranjang > .button-text
{
color: #757575;
font-size: 13px;
position: relative;
top: 2px;
}


.col-md-7 > .keranjang > .fa-shopping-cart
{
color: #757575;
font-size: 14px !important;
}


.btn-continue {
    position: relative;
    top: -30px;
    color: #333;
    line-height: 32px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    padding: 5px 15px;
        margin-right: 20px;
}


.productname-cart
{
text-align: left;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 2px 0 0 2px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 2px 2px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}
input.number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}


input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 30px;
    position: relative;
    top: 1px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*
counter closed
*/

#product .pb-right-column .product-price-group .discount {
    background: #f5f5f5;
    color: #757575;
    padding: 0 15px;
    text-align: center;
    line-height: inherit;
    margin-right: 0;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    border-radius: 5px;
}

.info-orther > .more
{
margin-left: -15px;
margin-top: 5px;
}

#product .pb-right-column .info-orther {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 0px;
    color: #757575;
    padding-left: 20px;
    display: inline;
    position: relative;
    margin-top: -5px;
}

.info-orther > ul > li
{
list-style: initial;
margin-top: 3px;
}

#product .pb-right-column .product-price-group .old-price {
    text-decoration: line-through;
    color: #b5b5b5;

}

.product-tab .nav-tab>li {
    height: 50px;
    line-height: 50px;
    float: left;
    display: inline;
    background: #f9f9f9;
    border: 1px solid #dfdfdf;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-right: 8px;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.product-tab .nav-tab>.active>a {
    color: #333333;
    padding: 0 26px;
    height: 50px;
    float: left;
    border-top: 2px solid #ff9800;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    text-transform: initial;
    font-weight: normal;
}

.product-tab .nav-tab>li>a {
   color: #757575;
    padding: 0 26px;
    height: 50px;
    float: left;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    text-transform: initial;
    font-weight: normal;
}

.product-tab .tab-container {
    padding: 20px;
    border: 1px solid #e2e2e2;
    margin-top: -1px;
    z-index: 1;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.product-name-details {
    color: #333;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 27px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#product-detail > h2 {
    font-size: 20px;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    padding-top: 10px;
        font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
}

#product-detail > h4 {
    font-size: 15px;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    padding-top: 10px;
}


#product-detail > p {
        font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    padding-top: 10px;
}

.table-bordered {
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
}

.verified-box {
    padding-left: 20px;
    padding-right: 20px;
    color: #757575;
    width: 80%;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 30px;
    padding-bottom: 10px;
}

.verified-box-2 {
    padding-left: 0px;
    padding-right: 20px;
    color: #333;
    width: 80%;
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 50px;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 16px;
    float: left;
}

.sidebar-list > center > p
{
color: #757575;
text-transform: uppercase;
font-size: 13px;
padding: 5px;
padding-bottom: 10px;
width: 70%;
}


  .border-sidebar
  {
	    border-bottom:2px solid #dfdfdf;
	  height: 1px;
	  width: 60px;
  }
  
.productbox {
    border: none;
    margin-right: 1%;
    width: 75%;
    /* margin-top: 1%; */
    padding: 10px;
    padding-left: 0px;
    padding: 20px;
    margin-left: 40px;
}

.right-block > h5 > a {
    text-align: left;
    float: left;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.right-block > .content-price-emedis > .product-price-emedis {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 13px;
    float: left;
    top: -5px;
    position: relative;
}

.right-block > .content-price-emedis > .old-price-emedis {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 21px;
    vertical-align: bottom;
    float: left;
}

.right-block > .content-price-emedis > .old-price-emedis > span {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 25px;
    vertical-align: bottom;
    float: left;
    position: relative;
    top:-4px;
}


.right-block > .content-price-lkpp {
    padding-top: 10px;
    padding-bottom: 20px;
    float: left;
}

.right-block > .content-price-lkpp > .product-price-lkpp {
    color: #757575;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 12px;
    position: relative;
    top: -10px;
    float: left;
}



.right-block > .content-price-lkpp > .old-price-lkpp {
    color: #757575;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 16px;
    vertical-align: bottom;
    position: relative;
    top: 10px;
    float: left;
    left: -25px;
}

.product-list > .owl-stage-outer > .owl-stage > .owl-item
{
width: 197px !important;
}

li > .product-container > center > .productbox {
    border: none;
    margin-right: 0px;
    width: auto;
    /* margin-top: 1%; */
    padding: 10px;
    padding-left: 0px;
    margin-left: 0px;
}

.product-list .product-container {
    border: none;
    overflow: hidden;
    padding-bottom: 10px;
}

#product .pb-left-column .product-image .product-img-thumb li {
    border: none;
    padding: 7px 10px;
}

.product-img-thumb > ul > .owl-stage-outer > .owl-stage > .owl-item.active > li > .zoomGalleryActive > img
{
border: 1px solid #ff8d00;
}

.page-product-box .owl-prev {
    top: 50%;
    left: 0px;
    right: 26px;
}

.page-product-box .owl-next {
    top: 50%;
}

.productbox:hover {
    border: 1px solid #ff8d00 !important;
    cursor: pointer;
}

#button-hover {
    opacity: 0;
    left: 10%;
    position: absolute;
}

.productbox:hover #button-hover
{
opacity: 1;
position: absolute;
top: 20%;
width: 80%;
z-index: 10;
}

.productbox
{
cursor: pointer;
}



.owl-controls .owl-prev, .owl-controls .owl-next {
    background: transparent;
    width: 24px;
    height: 24px;
    color: #ccc;
    text-align: center;
    line-height: 24px;
}

.fa-angle-left:before {
    content: "\f104";
    font-size: 40px;
}

.fa-angle-right:before {
    content: "\f105";
    font-size: 40px;
}

.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover {
    background: none;
    color: #757575;
}