.logo > a > img
{
width: 120px;
}

.tagline {
    color: black;
    font-size: 11px;
    text-align: left;
    position: relative;
    left: 4px;
}

.recommendationbox {
    position: relative;
    top: 5px;
}

#content2
{
    background: #fafafa;
    margin-top: 20px;
    padding: 10px;
}


.main-header .header-search-box {
    margin-top: 3px;
    padding-left: 0px;
    padding-right: 45px;
}

.main-header .shopping-cart-box {
    margin-top: 17px;
    margin-top: 3px;
    padding: 0;
    margin-right: 15px;
    margin-left: -15px;
    line-height: normal;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dfdfdf;
    border-radius: 0px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* border-radius: 0px; */
}

.input-prefix, .input-suffix {
    background-color: #edefed;
    width: 1px;
    white-space: nowrap;
    vertical-align: top;
    padding: 3px;
    vertical-align: middle;
    border: 1px solid #dfdfdf;
    width: 20%;
    /* height: 100px; */
    padding-top: 6px;
    padding-bottom: 5px;
}

.content-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}

#footer {
    background: #fafafa;
    border-top: 1px solid #dfdfdf;
}

.form-control:focus {
    border-color: #ff9800;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,0,.6);
}


section {
  display: none;
  padding: 20px 0 0;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    display: none;
}


label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 17px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.old-price-emedis > span {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 14px;
    position: relative;
    top: 0px;
}

.total-harga > div > span > span > span
{
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.total-harga > div > span > span
{
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 16px;
    position: relative;
    top: 0px;
}

.total-harga
{
border-top: 1px solid #dfdfdf;
margin-top: 10px;
margin-bottom: 10px;
}

.masukkan-pesanan
{
margin-top: 20px;
float: right;
}



.total-harga > div > span
{
    color: black;
    font-family: 'MuseoSans-300','Roboto','Arial', sans-serif;
    font-size: 23px;
    position: relative;
    top: 5px;
    
}



.penghematan > div > span > span > span
{
color: #00C853;
}

.penghematan > div > span > span
{
color: #00C853;
}



.penghematan > div > span
{
color: #00C853;
}


/* dropdown-start */

ul li label {
  background: #f5f5f5;
  /* fallback colour */
  border-top: 1px solid #878e98;
  border-bottom: 1px solid #33373d;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  letter-spacing: 0.09em;
}

ul li input[type='checkbox'] {
  display: none;
}

ul li label {
  display: block;
  padding: 12px;
  width: 300px;
}

ul li i {
  font-size: 18px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}

ul li span {
  display: inline;
  float: right;
  background: #48515c;
  border: 1px solid #3c434c;
  border-bottom: 1px solid #707781;
  padding: 4px 6px;
  font-size: 10px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: inset 0 0 10px #111;
  -webkit-box-shadow: inset 0 0 10px #111;
  box-shadow: inner 0 0 10px #111;
  position: relative;
}

ul li label:hover {
  background: #566f82;
  /* fallback colour */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82), to(#3e505e));
  background: -webkit-linear-gradient(top, #566f82, #3e505e);
  background: -moz-linear-gradient(top, #566f82, #3e505e);
  background: -ms-linear-gradient(top, #566f82, #3e505e);
  background: -o-linear-gradient(top, #566f82, #3e505e);
}

ul li label:hover span {
  background: #3e505e;
}

ul li input[type='checkbox']:checked ~ label {
  background: #44c6eb;
  /* fallback colour */
  border-top: 1px solid #878e98;
  border-bottom: 1px solid #2799db;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44c6eb), to(#2799db));
  background: -webkit-linear-gradient(top, #44c6eb, #2799db);
  background: -moz-linear-gradient(top, #44c6eb, #2799db);
  background: -ms-linear-gradient(top, #44c6eb, #2799db);
  background: -o-linear-gradient(top, #44c6eb, #2799db);
}

ul li input[type='checkbox']:checked ~ label span {
  background: #2173a1;
  /* fallback colour */
  border-top: 1px solid #1b5f85;
  border-bottom: 1px solid #4cb1e4;
  -moz-box-shadow: inset 0 0 5px #111;
  -webkit-box-shadow: inset 0 0 5px #111;
  box-shadow: inner 0 0 5px #111;
}

ul li input[type='checkbox']:checked ~ .options {
  height: auto;
  display: block;
  min-height: 40px;
  max-height: 400px;
}

ul ul {
  background: #fff;
  margin: 0;
  padding: 0;
  -moz-box-shadow: inset 0 2px 2px #b3b3b3;
  -webkit-box-shadow: inset 0 2px 2px #b3b3b3;
  box-shadow: inner 0 2px 2px #b3b3b3;
}

ul ul li a {
  display: block;
  padding: 6px 12px;
  color: #999;
  text-decoration: none;
}

ul ul li a:hover {
  color: #44c6eb;
}

ul ul li a span {
  color: #999;
  background: none;
  border: 1px solid #ccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul ul li {
  border-bottom: 1px solid #ccc;
}

ul ul li:first-child {
  padding-top: 6px;
}

ul ul li:last-child {
  padding-bottom: 6px;
  border: 0;
}

.options {
  height: 0;
  display: block;
  overflow: hidden;
}


/* Abridged icomoon font styles
/* (Hosted on Frecosse - Please don't hotlink!)
=============================================== */

@font-face {
  font-family: 'icomoon';
  src: url('http://www.frecosse.com/workshop/accordion_menu/icomoon.eot');
  src: url('http://www.frecosse.com/workshop/accordion_menu/icomoon.eot?#iefix') format('embedded-opentype'), url('http://www.frecosse.com/workshop/accordion_menu/icomoon.woff') format('woff'), url('http://www.frecosse.com/workshop/accordion_menu/icomoon.ttf') format('truetype'), url('http://www.frecosse.com/workshop/accordion_menu/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-music:before,
.icon-search:before,
.icon-fire:before,
.icon-dribbble:before,
.icon-flickr:before,
.icon-deviantart:before,
.icon-picassa:before,
.icon-reddit:before,
.icon-android:before,
.icon-users:before,
.icon-film:before,
.icon-eye:before,
.icon-point-right:before,
.icon-microphone:before,
.icon-download:before,
.icon-warning:before,
.icon-images:before,
.icon-movie:before,
.icon-cloud:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-music:before {
  content: "\61";
}

.icon-search:before {
  content: "\62";
}

.icon-fire:before {
  content: "\63";
}

.icon-dribbble:before {
  content: "\64";
}

.icon-flickr:before {
  content: "\65";
}

.icon-deviantart:before {
  content: "\66";
}

.icon-picassa:before {
  content: "\67";
}

.icon-reddit:before {
  content: "\68";
}

.icon-android:before {
  content: "\69";
}

.icon-users:before {
  content: "\6a";
}

.icon-film:before {
  content: "\6b";
}

.icon-eye:before {
  content: "\6c";
}

.icon-point-right:before {
  content: "\6d";
}

.icon-microphone:before {
  content: "\6e";
}

.icon-download:before {
  content: "\6f";
}

.icon-warning:before {
  content: "\70";
}

.icon-images:before {
  content: "\71";
}

.icon-movie:before {
  content: "\72";
}

.icon-cloud:before {
  content: "\73";
}
/* dropdown-end */

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f09d';
}

label[for*='2']:before {
  content: '\f0d6';
}

.metode-box
{
padding-top: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    /* border-top: 2px solid orange; */
    /* border-bottom: 1px solid #fff; */
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {

}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
