<div id="nav-top-menu" class="nav-top-menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" id="box-vertical-megamenus">
                <div class="box-vertical-megamenus">
                    <h4 class="title">
                        <span class="title-menu">Semua Kategori</span>
                        <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                    </h4>
                    <div class="vertical-menu-content is-home">
                        <ul class="vertical-menu-list">
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/12.png">Electronics</a></li>
                            <li>
                                <a class="parent" href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/13.png">Sports &amp; Outdoors</a>
                                <div class="vertical-dropdown-menu" style="width: 900px;">
                                    <div class="vertical-groups col-sm-12">
                                        <div class="mega-group col-sm-4">
                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
                                            <ul class="group-link-default">
                                                <li><a href="#">Tennis</a></li>
                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                <li><a href="#">Intimates</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-group col-sm-4">
                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
                                            <ul class="group-link-default">
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                <li><a href="#">Intimates</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-group col-sm-4">
                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
                                            <ul class="group-link-default">
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                <li><a href="#">Intimates</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-custom-html col-sm-12">
                                            <a href="#"><img src="assets/data/banner-megamenu.jpg" alt="Banner"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/14.png">Smartphone &amp; Tablets</a></li>
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/15.png">Health &amp; Beauty Bags</a></li>
                            <li>
                                <a class="parent" href="list.php">
                                    <img class="icon-menu" alt="Funky roots" src="assets/data/16.png">Shoes &amp; Accessories</a>
                                <div class="vertical-dropdown-menu" style="width: 900px;">
                                    <div class="vertical-groups col-sm-12">
                                        <div class="mega-group col-sm-12">
                                            <h4 class="mega-group-header"><span>Special products</span></h4>
                                            <div class="row mega-products">
                                                <div class="col-sm-3 mega-product">
                                                    <div class="product-avatar">
                                                        <a href="#"><img src="assets/data/p10.jpg" alt="product1"></a>
                                                    </div>
                                                    <div class="product-name">
                                                        <a href="#">Fashion hand bag</a>
                                                    </div>
                                                    <div class="product-price">
                                                        <div class="new-price">$38</div>
                                                        <div class="old-price">$45</div>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 mega-product">
                                                    <div class="product-avatar">
                                                        <a href="#"><img src="assets/data/p11.jpg" alt="product1"></a>
                                                    </div>
                                                    <div class="product-name">
                                                        <a href="#">Fashion hand bag</a>
                                                    </div>
                                                    <div class="product-price">
                                                        <div class="new-price">$38</div>
                                                        <div class="old-price">$45</div>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 mega-product">
                                                    <div class="product-avatar">
                                                        <a href="#"><img src="assets/data/p12.jpg" alt="product1"></a>
                                                    </div>
                                                    <div class="product-name">
                                                        <a href="#">Fashion hand bag</a>
                                                    </div>
                                                    <div class="product-price">
                                                        <div class="new-price">$38</div>
                                                        <div class="old-price">$45</div>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 mega-product">
                                                    <div class="product-avatar">
                                                        <a href="#"><img src="assets/data/p13.jpg" alt="product1"></a>
                                                    </div>
                                                    <div class="product-name">
                                                        <a href="#">Fashion hand bag</a>
                                                    </div>
                                                    <div class="product-price">
                                                        <div class="new-price">$38</div>
                                                        <div class="old-price">$45</div>
                                                    </div>
                                                    <div class="product-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/17.png">Toys &amp; Hobbies</a></li>
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/18.png">Computers &amp; Networking</a></li>
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/19.png">Laptops &amp; Accessories</a></li>
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/20.png">Jewelry &amp; Watches</a></li>
                            <li><a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/21.png">Flashlights &amp; Lamps</a></li>
                            <li>
                                <a href="list.php">
                                    <img class="icon-menu" alt="Funky roots" src="assets/data/21.png">
                                    Cameras &amp; Photo
                                </a>
                            </li>
                            <li class="cat-link-orther">
                                <a href="list.php">
                                    <img class="icon-menu" alt="Funky roots" src="assets/data/22.png">
                                    Television
                                </a>
                            </li>
                            <li class="cat-link-orther">
                                <a href="list.php">
                                    <img class="icon-menu" alt="Funky roots" src="assets/data/12.png">Computers &amp; Networking
                                </a>
                            </li>
                            <li class="cat-link-orther">
                                <a href="list.php">
                                    <img class="icon-menu" alt="Funky roots" src="assets/data/14.png">
                                    Toys &amp; Hobbies
                                </a>
                            </li>
                            <li class="cat-link-orther">
                                <a href="list.php"><img class="icon-menu" alt="Funky roots" src="assets/data/17.png">Jewelry &amp; Watches</a></li>
                        </ul>
                        <div class="all-category"><span class="open-cate">All Categories</span></div>
                    </div>
                </div>
            </div>
            <div id="main-menu" class="col-sm-9 main-menu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="#">MENU</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown">
                                    <a class="dropdown-toggle" href="#">Home</a>
                                    <ul class="dropdown-menu container-fluid">
                                        <li class="block-container">
                                            <ul class="block">
                                                <li class="link_container"><a href="index.html">Home Style 1</a></li>
                                                <li class="link_container"><a href="index2.html">Home Style 2</a></li>
                                                <li class="link_container"><a href="index3.html">Home Style 3</a></li>
                                                <li class="link_container"><a href="index4.html">Home Style 4</a></li>
                                                <li class="link_container"><a href="index5.html">Home Style 5</a></li>
                                                <li class="link_container"><a href="index6.html">Home Style 6</a></li>
                                                <li class="link_container"><a href="index7.html">Home Style 7</a></li>
                                                <li class="link_container"><a href="index8.html">Home Style 8</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="list.php" class="dropdown-toggle">Fashion</a>
                                    <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 830px; left: 36px;">
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="img_container">
                                                    <a href="#">
                                                        <img class="img-responsive" src="assets/data/men.png" alt="sport">
                                                    </a>
                                                </li>
                                                <li class="link_container group_header">
                                                    <a href="#">MEN'S</a>
                                                </li>
                                                <li class="link_container"><a href="#">Skirts</a></li>
                                                <li class="link_container"><a href="#">Jackets</a></li>
                                                <li class="link_container"><a href="#">Tops</a></li>
                                                <li class="link_container"><a href="#">Scarves</a></li>
                                                <li class="link_container"><a href="#">Pants</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="img_container">
                                                    <a href="#">
                                                        <img class="img-responsive" src="assets/data/women.png" alt="sport">
                                                    </a>
                                                </li>
                                                <li class="link_container group_header">
                                                    <a href="#">WOMEN'S</a>
                                                </li>
                                                <li class="link_container"><a href="#">Skirts</a></li>
                                                <li class="link_container"><a href="#">Jackets</a></li>
                                                <li class="link_container"><a href="#">Tops</a></li>
                                                <li class="link_container"><a href="#">Scarves</a></li>
                                                <li class="link_container"><a href="#">Pants</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="img_container">
                                                    <a href="#">
                                                        <img class="img-responsive" src="assets/data/kid.png" alt="sport">
                                                    </a>
                                                </li>
                                                <li class="link_container group_header">
                                                    <a href="#">Kids</a>
                                                </li>
                                                <li class="link_container"><a href="#">Shoes</a></li>
                                                <li class="link_container"><a href="#">Clothing</a></li>
                                                <li class="link_container"><a href="#">Tops</a></li>
                                                <li class="link_container"><a href="#">Scarves</a></li>
                                                <li class="link_container"><a href="#">Accessories</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="img_container">
                                                    <a href="#">
                                                        <img class="img-responsive" src="assets/data/trending.png" alt="sport">
                                                    </a>
                                                </li>
                                                <li class="link_container group_header">
                                                    <a href="#">TRENDING</a>
                                                </li>
                                                <li class="link_container"><a href="#">Men's Clothing</a></li>
                                                <li class="link_container"><a href="#">Kid's Clothing</a></li>
                                                <li class="link_container"><a href="#">Women's Clothing</a></li>
                                                <li class="link_container"><a href="#">Accessories</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="list.php">Sports</a></li>
                                <li class="dropdown">
                                    <a href="list.php" class="dropdown-toggle">Foods</a>
                                    <ul class="mega_dropdown dropdown-menu" style="width: 830px; left: 36px;">
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="link_container group_header">
                                                    <a href="#">Asian</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Vietnamese Pho</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Noodles</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Seafood</a>
                                                </li>
                                                <li class="link_container group_header">
                                                    <a href="#">Sausages</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Meat Dishes</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Desserts</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Tops</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Tops</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="link_container group_header">
                                                    <a href="#">European</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Greek Potatoes</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Famous Spaghetti</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Famous Spaghetti</a>
                                                </li>
                                                <li class="link_container group_header">
                                                    <a href="#">Chicken</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Italian Pizza</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">French Cakes</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Tops</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Tops</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="link_container group_header">
                                                    <a href="#">FAST</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Hamberger</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Pizza</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Noodles</a>
                                                </li>
                                                <li class="link_container group_header">
                                                    <a href="#">Sandwich</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Salad</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Paste</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Tops</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="#">Tops</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block">
                                                <li class="img_container">
                                                    <img src="assets/data/banner-topmenu.jpg" alt="Banner">
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="list.php" class="dropdown-toggle">Digital</a>
                                    <ul class="dropdown-menu container-fluid">
                                        <li class="block-container">
                                            <ul class="block">
                                                <li class="link_container"><a href="#">Mobile</a></li>
                                                <li class="link_container"><a href="#">Tablets</a></li>
                                                <li class="link_container"><a href="#">Laptop</a></li>
                                                <li class="link_container"><a href="#">Memory Cards</a></li>
                                                <li class="link_container"><a href="#">Accessories</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="list.php">Furniture</a></li>
                                <li><a href="list.php">Jewelry</a></li>
                                <li class="dropdown">
                                    <a href="list.php" class="dropdown-toggle">Pages</a>
                                    <ul class="mega_dropdown dropdown-menu" style="width: 830px; left: 36px;">
                                        <li class="block-container col-sm-4">
                                            <ul class="block">
                                                <li class="link_container group_header">
                                                    <a href="#">Page</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="list.php">Category Left Sidebar</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="list.php">Category Right Sidebar</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="detail.php">Product Left Sidebar</a>
                                                </li>

                                                <li class="link_container">
                                                    <a href="detail2.html">Product Full width</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="detail3.html">Product Right Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-4">
                                            <ul class="block">
                                                <li class="link_container group_header">
                                                    <a href="#">Page</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="wishlist.html">Wishlist</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="compare.html">Compare</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="order.html">Order</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="checkout.html">Checkout</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="login.html">Login</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-4">
                                            <ul class="block">
                                                <li class="link_container group_header">
                                                    <a href="#">Page</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="blog.html">Blog</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="blog-detail.html">Blog Post</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="about.html">About Us</a>
                                                </li>
                                                <li class="link_container">
                                                    <a href="contact.html">Contact Us</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>
        </div>
        <!-- userinfo on top-->
        <div id="form-search-opntop">
        </div>
        <!-- userinfo on top-->
        <div id="user-info-opntop">
        </div>
        <!-- CART ICON ON MMENU -->
        <div id="shopping-cart-box-ontop">
            <i class="fa fa-shopping-cart"></i>
            <div class="shopping-cart-box-ontop-content"></div>
        </div>
    </div>
</div>