<!DOCTYPE html>
<html>
<head>
    {% include 'web/head_css.html' %}
</head>
<body class="home">
{#<!-- TOP BANNER -->#}

{#<!-- HEADER -->#}
{% include 'web/body_header.html' %}
{#<!-- end header -->#}

{% include 'web/body_auth.html' %}

{#<!-- Footer -->#}
{% include 'web/body_footer.html' %}

{% include 'web/body_js.html' %}

</body>
</html>