<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
{#        <div class="breadcrumb clearfix">#}
{#            <a class="home" href="#" title="Return to Home">Home</a>#}
{#            <span class="navigation-pipe">&nbsp;</span>#}
{#            <span class="navigation_page">Fashion</span>#}
{#        </div>#}
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <!-- ./block category  -->
                <!-- block filter -->
                <div class="block left-module">
                    <p class="title_block">Filter</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-filter-price">
                            <!-- filter categgory -->
                            <div class="layered_subtitle">KATEGORI</div>
                            <div class="layered-content">
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="c1" name="cc">
                                        <label for="c1">
                                            <span class="button"></span>
                                            Tops<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c2" name="cc">
                                        <label for="c2">
                                            <span class="button"></span>
                                            T-shirts<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c3" name="cc">
                                        <label for="c3">
                                            <span class="button"></span>
                                            Dresses<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c4" name="cc">
                                        <label for="c4">
                                            <span class="button"></span>
                                            Jackets and coats<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c5" name="cc">
                                        <label for="c5">
                                            <span class="button"></span>
                                            Knitted<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c6" name="cc">
                                        <label for="c6">
                                            <span class="button"></span>
                                            Pants<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c7" name="cc">
                                        <label for="c7">
                                            <span class="button"></span>
                                            Bags &amp; Shoes<span class="count">(10)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c8" name="cc">
                                        <label for="c8">
                                            <span class="button"></span>
                                            Best selling<span class="count">(10)</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./filter categgory -->
                        </div>
                        <!-- ./layered -->

                    </div>
                </div>
                <!-- ./block filter  -->

                <!-- left silide -->
                <div class="col-left-slide left-module">
                    <ul class="owl-carousel owl-style2 owl-theme owl-loaded" data-loop="true" data-nav="false" data-margin="30" data-autoplaytimeout="1000" data-autoplayhoverpause="true" data-items="1" data-autoplay="true">



                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: 0s; width: 2100px;"><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li><a href="#"><img src="assets/data/slide-left2.jpg" alt="slide-left"></a></li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li><a href="#"><img src="assets/data/slide-left3.png" alt="slide-left"></a></li></div><div class="owl-item" style="width: 270px; margin-right: 30px;"><li><a href="#"><img src="assets/data/slide-left.jpg" alt="slide-left"></a></li></div><div class="owl-item animated owl-animated-out fadeOut" style="width: 270px; margin-right: 30px; left: 300px;"><li><a href="#"><img src="assets/data/slide-left2.jpg" alt="slide-left"></a></li></div><div class="owl-item animated owl-animated-in fadeIn active" style="width: 270px; margin-right: 30px;"><li><a href="#"><img src="assets/data/slide-left3.png" alt="slide-left"></a></li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li><a href="#"><img src="assets/data/slide-left.jpg" alt="slide-left"></a></li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li><a href="#"><img src="assets/data/slide-left2.jpg" alt="slide-left"></a></li></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;"><i class="fa fa-angle-left"></i></div><div class="owl-next" style="display: none;"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div></ul>

                </div>
                <!--./left silde-->
                <!-- TAGS -->
                <div class="block left-module">
                    <p class="title_block">TAGS</p>
                    <div class="block_content">
                        <div class="tags">
                            <a href="#"><span class="level1">actual</span></a>
                            <a href="#"><span class="level2">adorable</span></a>
                            <a href="#"><span class="level3">change</span></a>
                            <a href="#"><span class="level4">consider</span></a>
                            <a href="#"><span class="level3">phenomenon</span></a>
                            <a href="#"><span class="level4">span</span></a>
                            <a href="#"><span class="level1">spanegs</span></a>
                            <a href="#"><span class="level5">spanegs</span></a>
                            <a href="#"><span class="level1">actual</span></a>
                            <a href="#"><span class="level2">adorable</span></a>
                            <a href="#"><span class="level3">change</span></a>
                            <a href="#"><span class="level4">consider</span></a>
                            <a href="#"><span class="level2">gives</span></a>
                            <a href="#"><span class="level3">change</span></a>
                            <a href="#"><span class="level2">gives</span></a>
                            <a href="#"><span class="level1">good</span></a>
                            <a href="#"><span class="level3">phenomenon</span></a>
                            <a href="#"><span class="level4">span</span></a>
                            <a href="#"><span class="level1">spanegs</span></a>
                            <a href="#"><span class="level5">spanegs</span></a>
                        </div>
                    </div>
                </div>
                <!-- ./TAGS -->
                <!-- Testimonials -->
                <div class="block left-module">
                    <p class="title_block">Testimonials</p>
                    <div class="block_content">
                        <ul class="testimonials owl-carousel owl-theme owl-loaded" data-loop="true" data-nav="false" data-margin="30" data-autoplaytimeout="1000" data-autoplay="true" data-autoplayhoverpause="true" data-items="1">



                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1290px, 0px, 0px); transition: 0.3s; width: 1806px;"><div class="owl-item cloned" style="width: 228px; margin-right: 30px;"><li>
                                            <div class="client-mane">Roverto &amp; Maria</div>
                                            <div class="client-avarta">
                                                <img src="assets/data/testimonial.jpg" alt="client-avarta">
                                            </div>
                                            <div class="testimonial">
                                                "Your product needs to improve more. To suit the needs and update your image up"
                                            </div>
                                        </li></div><div class="owl-item cloned" style="width: 228px; margin-right: 30px;"><li>
                                            <div class="client-mane">Roverto &amp; Maria</div>
                                            <div class="client-avarta">
                                                <img src="assets/data/testimonial.jpg" alt="client-avarta">
                                            </div>
                                            <div class="testimonial">
                                                "Your product needs to improve more. To suit the needs and update your image up"
                                            </div>
                                        </li></div><div class="owl-item" style="width: 228px; margin-right: 30px;"><li>
                                            <div class="client-mane">Roverto &amp; Maria</div>
                                            <div class="client-avarta">
                                                <img src="assets/data/testimonial.jpg" alt="client-avarta">
                                            </div>
                                            <div class="testimonial">
                                                "Your product needs to improve more. To suit the needs and update your image up"
                                            </div>
                                        </li></div><div class="owl-item" style="width: 228px; margin-right: 30px;"><li>
                                            <div class="client-mane">Roverto &amp; Maria</div>
                                            <div class="client-avarta">
                                                <img src="assets/data/testimonial.jpg" alt="client-avarta">
                                            </div>
                                            <div class="testimonial">
                                                "Your product needs to improve more. To suit the needs and update your image up"
                                            </div>
                                        </li></div><div class="owl-item" style="width: 228px; margin-right: 30px;"><li>
                                            <div class="client-mane">Roverto &amp; Maria</div>
                                            <div class="client-avarta">
                                                <img src="assets/data/testimonial.jpg" alt="client-avarta">
                                            </div>
                                            <div class="testimonial">
                                                "Your product needs to improve more. To suit the needs and update your image up"
                                            </div>
                                        </li></div><div class="owl-item cloned active" style="width: 228px; margin-right: 30px;"><li>
                                            <div class="client-mane">Roverto &amp; Maria</div>
                                            <div class="client-avarta">
                                                <img src="assets/data/testimonial.jpg" alt="client-avarta">
                                            </div>
                                            <div class="testimonial">
                                                "Your product needs to improve more. To suit the needs and update your image up"
                                            </div>
                                        </li></div><div class="owl-item cloned" style="width: 228px; margin-right: 30px;"><li>
                                            <div class="client-mane">Roverto &amp; Maria</div>
                                            <div class="client-avarta">
                                                <img src="assets/data/testimonial.jpg" alt="client-avarta">
                                            </div>
                                            <div class="testimonial">
                                                "Your product needs to improve more. To suit the needs and update your image up"
                                            </div>
                                        </li></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;"><i class="fa fa-angle-left"></i></div><div class="owl-next" style="display: none;"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div></ul>
                    </div>
                </div>
                <!-- ./Testimonials -->
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->

            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>