{% load staticfiles %}
{% load humanize %}
<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 page-top-left">
                <div class="popular-tabs">
                    <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" id="best-seller" href="#tab-1">BEST SELLERS</a></li>
                        <li><a data-toggle="tab" href="#tab-2">Sale</a></li>
                        <li><a data-toggle="tab" href="#tab-3">Produk Terbaru</a></li>
                    </ul>
                    <div class="tab-container">
                        <div id="tab-1" class="tab-panel active">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                {% for best_seller_product in best_seller_products %}
                                    <li>
                                        <div class="left-block">
                                            <a href="{% url 'website.views.product_detail' best_seller_product.product.get_product_metadata.slug %}">
                                                <img class="img-responsive product-image" alt="product" src="{{ best_seller_product.product.get_product_image.image_media_url }}" />
                                            </a>
                                            <div class="quick-view">
                                                <a title="Quick view" class="search" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Tambahkan" class="add-product-to-cart" href="#" data-product-id="{{ best_seller_product.product.id }}" data-qty="1">Tambahkan</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="{% url 'website.views.product_detail' best_seller_product.product.get_product_metadata.slug %}">{{ best_seller_product.product.product_name }}{{  best_seller_product.product.id }}</a></h5>
                                            <div class="content_price" style="width: 100%;">
                                                <span class="price product-price pull-left">Emedis</span>
                                                <span class="price product-price pull-right">{{ best_seller_product.currency }} {{ best_seller_product.private_price|floatformat:2|intcomma }}</span><br />
                                                <div class="clearfix"></div>
                                                <span class="price product-price pull-left">LKPP</span>
                                                <span class="price product-price pull-right">{{ best_seller_product.currency }} {{ best_seller_product.e_catalogue_price|floatformat:2|intcomma }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="tab-2" class="tab-panel">
                            <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "30"  data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                {% for sale_product in sale_products %}
                                    <li>
                                        <div class="left-block">
                                            <p>Ok</p>
                                            <a href="{% url 'website.views.product_detail' sale_product.product.get_product_metadata.slug %}">
                                                <img class="img-responsive product-image" alt="product" src="{{ sale_product.product.get_product_image.image_media_url }}" /></a>
                                            <div class="quick-view">
                                                <a title="Quick view" class="search" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Tambahkan" class="add-product-to-cart" href="#" data-product-id="{{ sale_product.product.id }}" data-qty="1">Tambahkan</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-sale">Sale</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="{% url 'website.views.product_detail' sale_product.product.get_product_metadata.slug %}">{{ sale_product.product.product_name }}{{  sale_product.product.id }}</a></h5>
                                            <div class="content_price" style="width: 100%">
                                                <span class="price product-price pull-left">Emedis</span>
                                                <span class="price product-price pull-right">{{ sale_product.currency }} {{ sale_product.private_price|floatformat:2|intcomma }}</span><br />
                                                <div class="clearfix"></div>
                                                <span class="price product-price pull-left">LKPP</span>
                                                <span class="price product-price pull-right">{{ sale_product.currency }} {{ sale_product.e_catalogue_price|floatformat:2|intcomma }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="tab-3" class="tab-panel">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                {% for new_product in new_products %}
                                    <li>
                                        <div class="left-block">
                                            <a href="{% url 'website.views.product_detail' new_product.product.get_product_metadata.slug %}"><img class="img-responsive product-image" alt="product" src="{{ new_product.product.get_product_image.image_media_url }}" /></a>
                                            <div class="quick-view">
                                                <a title="Quick view" class="search" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Tambahkan" class="add-product-to-cart" href="#" data-product-id="{{ new_product.product.id }}" data-qty="1">Tambahkan</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="{% url 'website.views.product_detail' new_product.product.get_product_metadata.slug %}">{{ new_product.product.product_name }}{{  new_product.product.id }}</a></h5>
                                            <div class="content_price" style="width: 100%;">
                                                <span class="price product-price pull-left">Emedis</span>
                                                <span class="price product-price pull-right">{{ new_product.currency }} {{ new_product.private_price|floatformat:2|intcomma }}</span>
                                                <div class="clearfix"></div>
                                                <span class="price product-price pull-left">LKPP</span>
                                                <span class="price product-price pull-right">{{ new_product.currency }} {{ new_product.e_catalogue_price|floatformat:2|intcomma }}</span><br />
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 page-top-right">
                <div class="latest-deals">
                    <h2 class="latest-deal-title">Promosi Terkini</h2>
                    <div class="latest-deal-content">
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":1}}'>
                            {% for current_promotion_product in current_promotion_products %}
                                <li>
                                    <div class="count-down-time" data-countdown="2017/06/27"></div>
                                    <div class="left-block">
                                        <a href="{% url 'website.views.product_detail' current_promotion_product.product.get_product_metadata.slug %}">
                                            <img class="img-responsive product-image" alt="{{ current_promotion_product.product.product_name }}" src="{{ current_promotion_product.product.get_product_image.image_media_url }}" />
                                        </a>
                                        <div class="quick-view">
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" class="add-product-to-cart" href="#" data-product-id="{{ current_promotion_product.product.id }}" data-qty="1">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="{% url 'website.views.product_detail' current_promotion_product.product.get_product_metadata.slug %}">{{ current_promotion_product.product.product_name }}</a></h5>
                                        <div class="content_price">
                                            <div class="content_price" style="width: 100%;">
                                                <span class="price product-price pull-left">Emedis</span>
                                                <span class="price product-price pull-right">{{ current_promotion_product.currency }} {{ current_promotion_product.private_price|floatformat:2|intcomma }}</span><br />
                                                <div class="clearfix"></div>
                                                <span class="price product-price pull-left">LKPP</span>
                                                <span class="price product-price pull-right">{{ current_promotion_product.currency }} {{ current_promotion_product.e_catalogue_price|floatformat:2|intcomma }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>