<div class="top-header">
    <div class="container">
        <div class="nav-top-links">
            <a class="first-item" href="#"><i class="fa fa-phone"></i> 081-981-9181</a>
        </div>
        <div class="top-bar-social">
            <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Skype"><i class="fa fa-skype"></i></a>
            <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" title="Youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="support-link">
            {% if logined %}
                <a href="{% url 'website.auth.views.signin' %}">Masuk</a>
                <a href="{% url 'website.auth.views.signin' %}">Bergabung</a>
            {% else %}
                <a class="dropdown_menu" href="#">Welcome, {{ customer.name }}</a>
                <a href="{% url 'website.auth.views.signin' %}">Keluar</a>
            {% endif %}
        </div>
    </div>
</div>