<div class="columns-container">
    <div class="container" id="columns">
        <div class="breadcrumb clearfix">{#  <!-- breadcrumb -->#}
            <a class="home" href="#" title="Return to Home">Home</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Authentication</span>
        </div>

        <h2 class="page-heading">
            <span class="page-heading-title2">Masuk / Bergabung</span>
        </h2>
        <div class="page-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-authentication">
                        <h3>Buat akun eMedis</h3>
                        <p>Masukkan alamat email Anda untuk mendaftar</p>
                        <label for="email_address">Email</label>
                        <input name="email_address" type="text" class="form-control">
                        <button class="button"><i class="fa fa-user"></i>Bergabung</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form action="{% url 'website.auth.views.signin' %}" method="post">{% csrf_token %}
                        <div class="box-authentication">
                            <h3>Masuk Sistem eMedis</h3>
                            <label for="email_address">Email</label>
                            <input name="email_address" type="text" class="form-control" value="">
                            <label for="login_password">Password</label>
                            <input name="login_password" type="password" class="form-control" value="">
                            <p class="forgot-pass"><a href="#">Lupa password?</a></p>
                            <button class="button"><i class="fa fa-lock"></i>Masuk</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>