{% load humanize %}
<div class="columns-container">
    <div class="container" id="columns">{# <!-- breadcrumb --> #}
{#        <div class="breadcrumb clearfix">#}
{#            <a class="home" href="#" title="Return to Home">Home</a>#}
{#            <span class="navigation-pipe">&nbsp;</span>#}
{#            <span class="navigation_page">Fashion</span>#}
{#        </div>{# <!-- ./breadcrumb --> #}
        <div class="row">{# <!-- row --> #}
            <div class="column col-xs-12 col-sm-3" id="left_column">{# <!-- Left colunm --> #}
                <div class="block left-module">{# <!-- block filter --> #}
                    <p class="title_block">Filter</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-filter-price">
                            <!-- filter categgory -->
                            <div class="layered_subtitle">KATEGORI</div>
                            <div class="layered-content">
                                <ul class="check-box-list">
                                    {% for category in categories %}
                                    <li>
                                        <input type="checkbox" id="c1" name="cc">
                                        <label for="c1">
                                            <span class="button"></span>
                                            {{ category.name }}<span class="count"></span>
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- ./filter categgory -->
                        </div>
                        <!-- ./layered -->

                    </div>
                </div>{# <!-- ./block filter  --> #}

                <div class="col-left-slide left-module">{# <!-- left silide --> #}
                </div>{# <!--./left silde--> #}
            </div>{# <!-- ./left colunm --> #}
            <div class="center_column col-xs-12 col-sm-9" id="center_column">{# <!-- Center colunm--> #}
                <div id="view-product-list" class="view-product-list">{# <!-- view-product-list--> #}
                    <div id="cart_success_notification" class="jumbotron flyover flyover-centered" style="text-align: center">
                        <span style="font-size: 150%; font-weight: bold;">Produk Berhasil Ditambahkan</span>
                        <p id="cart_success_message"></p>
                        <button id="cart_success_continue_button" class="btn btn-default">Lanjutkan Belanja</button>
                        <button id="cart_success_checkout_button" data-url="{% url 'website.views.checkout' %}" class="btn btn-warning">Teruskan ke Checkout</button>
                    </div>
                    <div id="cart_update_fail_notification" class="alert alert-danger flyover flyover-bottom">
                        <h2><strong>Product Gagal Ditambahkan</strong></h2>
                        <p id="cart_update_fail_message"></p>
                    </div>
                    <h2 class="page-heading">
                        <span class="page-heading-title">{{ current_category.name }}</span>
                    </h2>
                    <ul class="display-product-option">
                        <li class="view-as-grid selected">
                            <span>grid</span>
                        </li>
                        <li class="view-as-list">
                            <span>list</span>
                        </li>
                    </ul>
                    <ul class="row product-list grid">{# <!-- PRODUCT LIST --> #}
                        {% for product in products %}
                            <li class="col-sx-12 col-sm-4">
                                <div class="product-container parent">
                                    <div class="left-block">
                                        <a href="{% url 'website.views.product_detail' product.slug %}">
                                            <img class="img-responsive product-image" alt="product" src="{{ product.image.url }}">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" class="add-product-to-cart" href="#" data-product-id="{{ product.id }}" data-qty="1">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><b><a href="{% url 'website.views.product_detail' product.slug %}">{{ product.product_name }}</a></b></h5>
                                        <div class="content_price" style="width: 100%;">
                                            <span class="price product-price pull-left">Emedis</span>
                                            <span class="price product-price pull-right">{{ product.price.private_currency }} {{ product.price.private|floatformat:2|intcomma }}</span>
                                            <br /><div class="clearfix"></div>
                                            <span class="price product-price pull-left">LKPP</span>
                                            <span class="price product-price pull-right">{{ product.price.e_catalogue_currency }} {{ product.price.e_catalogue|floatformat:2|intcomma }}</span>
                                        </div>
                                        <div class="info-orther">
                                            <p>Item Code: {{ product.product_number }}</p>
                                            <br />
                                            <div class="product-desc">Product Description {{ product }}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>{# <!-- ./PRODUCT LIST --> #}
                </div>{# <!-- ./view-product-list--> #}
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            <ul class="pagination">
                                {% if pagination.paginators.first_page > 0 %}
                                    <li>
                                    <a href="{{ request.path }}?page={{ pagination.paginators.first_page }}" aria-label="Awal">
                                        <span aria-hidden="true">Awal</span>
                                    </a>
                                    </li>
                                {% endif %}
                                {% if pagination.paginators.previous_page > 0 %}
                                    <li>
                                    <a href="{{ request.path }}?page={{ pagination.paginators.previous_page }}" aria-label="Sebelum">
                                        <span aria-hidden="true">Sebelum</span>
                                    </a>
                                    </li>
                                {% endif %}
                                {% for page_number in pagination.paginators.page_number %}
                                    <li class="{% if page_number == pagination.current_page %}active{% endif %}">
                                    <a href="{% if page_number == pagination.current_page %}#{% else %}{{ request.path }}?page={{ page_number }}{% endif %}" aria-label="Berikut">
                                        <span aria-hidden="true">{{ page_number }}</span>
                                    </a>
                                    </li>
                                {% endfor %}
                                {% if pagination.paginators.next_page > 0 %}
                                    <li>
                                    <a href="{{ request.path }}?page={{ pagination.paginators.next_page }}" aria-label="Berikut">
                                        <span aria-hidden="true">Berikut</span>
                                    </a>
                                    </li>
                                {% endif %}
                                {% if pagination.paginators.last_page > 0 %}
                                    <li>
                                    <a href="{{ request.path }}?page=
                                    {{ pagination.paginators.last_page }}" aria-label="Akhir">
                                        <span aria-hidden="true">Akhir</span>
                                    </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
{#                    <div class="show-product-item">#}
{#                        <select name="">#}
{#                            <option value="18">Show 18</option>#}
{#                            <option value="20">Show 20</option>#}
{#                            <option value="50">Show 50</option>#}
{#                            <option value="100">Show 100</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="sort-product">#}
{#                        <select>#}
{#                            <option value="name">Product Name</option>#}
{#                            <option value="price">Price</option>#}
{#                        </select>#}
{#                        <div class="sort-product-icon">#}
{#                            <i class="fa fa-sort-alpha-asc"></i>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>{# <!-- ./ Center colunm --> #}
        </div>{# <!-- ./row--> #}
    </div>
</div>
