{% load staticfiles %}
<div class="container main-header">
    <div class="row">
        <div class="col-xs-12 col-sm-3 logo">
            <a href="/"><img alt="eMedis" src="{% static 'assets/images/logo.png' %}" /></a>
        </div>
        <div class="col-xs-7 col-sm-7 header-search-box">
            <div class="form-inline">
                <div class="form-group input-serach">
                    <input type="text"  placeholder="Cari Produk Anda Dengan Kata Kunci (Nama Produk / Brand / dll)" name="search-input">
                </div>
                <button type="submit" class="pull-right btn-search"></button>
            </div>
        </div>
        <div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
            {% include 'web/body_shopping_cart.html' %}
        </div>
    </div>
</div>