{% load staticfiles %}
<div class="content-page">
    <div class="container">{# <!-- Baner bottom -->#}
        <div class="row banner-bottom">
            <div class="col-sm-6">
                <div class="banner-boder-zoom">
                    <a href="#"><img alt="ads" class="img-responsive" src="{% static 'assets/img/mid-ads-570x120.jpg' %}" /></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="banner-boder-zoom">
                    <a href="#"><img alt="ads" class="img-responsive" src="{% static 'assets/img/mid-ads-570x120.jpg' %}" /></a>
                </div>
            </div>
        </div>{# <!-- end banner bottom -->#}
    </div>
</div>