{% load staticfiles %}
<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
{#<!-- Script-->#}
<script type="text/javascript" src="{% static 'assets/lib/jquery/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lib/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lib/jquery.bxslider/jquery.bxslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lib/owl.carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lib/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.actual.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lib/fancyBox/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/lib/jquery.elevatezoom.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/theme-script.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/lib/jquery.elevatezoom.js' %}"></script>
{#<script type="text/javascript" src="{% static 'assets/lib/jquery-ui/jquery-ui.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'assets/js/jquery.number.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/cart.js' %}"></script>
{#<div class="zoomContainer" style="transform: translateZ(0px); position: absolute; left: 100.5px; top: 259px; height: 512px; width: 420px;"><div class="zoomWindowContainer" style="width: 400px;"><div style="z-index: 999; overflow: hidden; margin-left: 0px; margin-top: 0px; width: 420px; height: 512px; float: left; cursor: crosshair; position: absolute; top: 0px; left: 0px; display: none; background-image: url('assets/data/product-s3-850x1036.jpg'); background-position: -430px -9.07031px; background-repeat: no-repeat;" class="zoomWindow">&nbsp;</div></div></div>#}
