{% load staticfiles %}
<div class="columns-container">
    <div class="container" id="columns">
{#        <div class="breadcrumb clearfix">#}
{#            <a class="home" href="{% url 'website.views.index' %}" title="Return to Home">Home</a>#}
{#            <span class="navigation-pipe">&nbsp;</span>#}
{#            <span class="navigation_page">{{ content.title }}</span>#}
{#        </div>#}
        <div class="row">
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <div class="block left-module">
                    <p class="title_block">Infomations</p>
                    <div class="block_content">
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li><span></span><a href="{% url 'cms.views.page' 'tentang-kami' %}">Tentang Kami</a></li>
                                    <li><span></span><a href="{% url 'cms.views.page' 'berbelanja-di-emedis' %}">Berbelanja di Emedis</a></li>
                                    <li><span></span><a href="{% url 'cms.views.page' 'syarat-dan-ketentuan' %}">Syarat dan Ketentuan</a></li>
                                    <li><span></span><a href="{% url 'cms.views.page' 'menjadi-mitra-penyedia' %}">Menjadi Mitra Penyedia</a></li>
                                    <li><span></span><a href="{% url 'cms.views.page' 'unduh-katalog' %}">Unduh Katalog</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- Banner silebar -->
                <div class="block left-module">
                    <div class="banner-opacity">
                        <a href="#"><img src="{% static 'assets/data/slide-left.jpg' %}" alt="ads-banner"></a>
                    </div>
                </div>
            </div>
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <h2 class="page-heading">
                    <span class="page-heading-title2">{{ content.title }}</span>
                </h2>
                <div class="content-text clearfix">
                    {% autoescape off %}
                        {{ content.content }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>
