<div id="nav-top-menu" class="nav-top-menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" id="box-vertical-megamenus">
                <div class="box-vertical-megamenus">
                    <h4 class="title">
                        <span class="title-menu">Kategori</span>
                        <span class="btn-open-mobile pull-right"><i class="fa fa-bars"></i></span>
                    </h4>
                    {% include 'web/body_header_nav_top_menu_vertical_menu.html' %}
                </div>
            </div>
            <div id="main-menu" class="col-sm-9 main-menu" style="display: none">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="#">MENU</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                        </div>{#  <!--/.nav-collapse -->#}
                    </div>
                </nav>
            </div>
        </div>
        <div id="form-search-opntop">{# <!-- userinfo on top-->#}
        </div>
        <div id="user-info-opntop">{# <!-- userinfo on top-->#}
        </div>
        <div id="shopping-cart-box-ontop">{#  <!-- CART ICON ON MMENU -->#}
            <i class="fa fa-shopping-cart"></i>
            <div class="shopping-cart-box-ontop-content"></div>
        </div>
    </div>
</div>