{% if homepage %}
    <div class="vertical-menu-content is-home">
{% elif static_page or category_page or detail_page or checkout_page or auth_page %}
    <div class="vertical-menu-content" style="display:none;">
{% endif %}
<ul class="vertical-menu-list">
    {% for category in categories %}
        <li {% if forloop.counter > 10 %}class="cat-link-orther"{% endif %}>
            <a href="{% url 'website.views.category' category.slug %}" title="{{ category.name }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
<div class="all-category"><span class="open-cate">Semua Kategori</span></div>
</div>