{% load staticfiles %}
<footer id="footer2">
    <div class="footer-row footer-center">
        <div class="container">
            <h3>Segera bergabung untuk promo berlangganan</h3>
            <p>Dapatkan informasi produk dan promosi terkini serta penawaran menarik lainnya</p>                 <form class="form-inline form-subscribe">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email Anda">
                <button type="submit" class="btn btn-default"><i class="fa fa-paper-plane-o"></i></button>
            </div>

        </form>
        </div>
    </div>
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box">
            <div class="row">
                <div class="col-md-8">
                    <a href="#"><img src="{% static 'assets/images/logo-footer.png' %}" alt="" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="address-box">
                        <div id="address-list"><p class="small text-justify" style="color: #555;">
                            Emedis.id merupakan perintis marketplace alat kesehatan di Indonesia dengan cakupan wilayah distribusi bisnis ke seluruh pelosok Indonesia. Sebagai toko alat kesehatan online dengan katalog terbesar dan terlengkap di Indonesia, Emedis.id menawarkan pengalaman berbelanja alat kesehatan secara online yang mudah, aman dan nyaman. Di Emedis.id, kami memprioritaskan kepuasan pelanggan dan kenyamanan mitra penyedia. Melalui platform teknologi Emedis.id, kami berkomitmen untuk terus meningkatkan pelayanan dengan kualitas terbaik bagi pelanggan agar dapat membantu menciptakan iklim transaksi bisnis yang transparans, aman dan mudah. Belanja alat kesehatan tidak pernah semudah ini!
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="introduce-title">Company</div>
                            <ul id="introduce-company"  class="introduce-list">
                                <li><a href="{% url 'cms.views.page' 'tentang-kami' %}">Tentang Kami</a></li>
                                <li><a href="{% url 'cms.views.page' 'berbelanja-di-emedis' %}">Berbelanja di Emedis</a></li>
                                <li><a href="{% url 'cms.views.page' 'syarat-dan-ketentuan' %}">Syarat dan Ketentuan</a></li>
                                <li><a href="{% url 'cms.views.page' 'menjadi-mitra-penyedia' %}">Menjadi Mitra Penyedia</a></li>
                                <li><a href="{% url 'cms.views.page' 'unduh-katalog' %}">Unduh Katalog</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-8">
                            <div class="introduce-title">Hubungi Kami</div>
                            <div id="address-box">
                                <div id="address-list">
                                    <div class="tit-name">Alamat:</div>
                                    <div class="tit-contain">Taman Palem Lestari, Ruko Galaxy Blok P/28 Jakarta Barat 11730</div>
                                    <div class="tit-name">Kontak:</div>
                                    <div class="tit-contain">081-981-9181</div>
                                    <div class="tit-name">Email:</div>
                                    <div class="tit-contain"><a href="mailto:support@emedis.id">support@emedis.id</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#introduce-box -->

        <!-- #trademark-box -->
        <div id="trademark-box" class="row">
            <div class="col-sm-12">
                <ul id="trademark-list"></ul>
            </div>
        </div>
    </div>
</footer>
<footer class="footer3">
    <div class="container">
        <div class="footer-coppyright">
            <div class="coppyright">Copyright © 2016 <a href="https://www.emedis.id/#" title="PT Medis Raya">PT Medis Raya</a>. All Rights Reserved.</div>
            <div class="payment-logo">
                <img src="{% static 'assets/images/payment-logo.png' %}" alt="">
            </div>
        </div>
    </div>
</footer>