{% load staticfiles %}
<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 slider-left"></div>
            <div class="col-sm-9 header-top-right">
                <div class="homeslider">
                    <div class="content-slide">
                        <ul id="contenhomeslider">
                            <li><img alt="Funky roots" src="{% static 'assets/data/slide.jpg' %}" title="Funky roots" /></li>
                            <li><img alt="Funky roots" src="{% static 'assets/data/slide.jpg' %}" title="Funky roots" /></li>
                            <li><img alt="Funky roots" src="{% static 'assets/data/slide.jpg' %}" title="Funky roots" /></li>
                            <li><img alt="Funky roots" src="{% static 'assets/data/slide.jpg' %}" title="Funky roots" /></li>
                            <li><img alt="Funky roots" src="{% static 'assets/data/slide.jpg' %}" title="Funky roots" /></li>
                        </ul>
                    </div>
                </div>
                <div class="header-banner banner-opacity">
                    <a href="#"><img alt="Funky roots" src="{% static 'assets/img/top-ads-234x450.jpg' %}" /></a>
                </div>
            </div>
        </div>
    </div>
</div>