{% load staticfiles %}
<div class="container">
    <div class="service ">
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="{% static 'assets/images/logistics-64x64.png' %}" />
            </div>
            <div class="info">
                <h3>Distribusi Nasional</h3>
                <span>Cakupan pengiriman ke seluruh wilayah Indonesia</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="{% static 'assets/images/lkpp-64x64.png' %}" />
            </div>
            <div class="info">
                <h3>LKPP<br />Connect</h3>
                <span>Fitur LKPP Connect memudahkan navigasi langsung ke situs LKPP </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="{% static 'assets/images/flexible-payment-64x64.png' %}" />
            </div>

            <div class="info" >
                <h3>Pembayaran Fleksibel</h3>
                <span>2% diskon tunai dan mendukung fasilitas kredit *</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="{% static 'assets/images/original-64x64.png' %}" />
            </div>
            <div class="info">
                <h3>Garansi dan Jaminan Keaslian</h3>
                <span>Produk asli dari Distributor Resmi</span>
            </div>
        </div>
    </div>
</div>