{% load humanize %}
<div class="columns-container">
    <div class="container" id="columns">{#<!-- breadcrumb -->#}{#<!-- row -->#}
        <br />
        <br />
        <br />
        <div class="row">{#<!-- Center colunm-->#}
            <div class="center_column col-xs-12 col-sm-12" id="center_column">{#<!-- Product -->#}
                <div id="cart_success_notification" class="jumbotron flyover flyover-centered" style="text-align: center">
                    <span style="font-size: 150%; font-weight: bold;">Produk Berhasil Ditambahkan</span>
                    <p id="cart_success_message"></p>
                    <button id="cart_success_continue_button" class="btn btn-default">Lanjutkan Belanja</button>
                    <button id="cart_success_checkout_button" data-url="{% url 'website.views.checkout' %}" class="btn btn-warning">Teruskan ke Checkout</button>
                </div>
                <div id="cart_update_fail_notification" class="alert alert-danger flyover flyover-bottom">
                    <h2><strong>Product Gagal Ditambahkan</strong></h2>
                    <p id="cart_update_fail_message"></p>
                </div>
                <div id="product">
                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-5">{#<!-- product-imge-->#}
                            <div class="product-image">
                                <div class="product-full">
                                    <img id="product_image" style="width: 470px; height: 282px;" src="{{ image_url }}">
                                </div>
                            </div>{#<!-- product-imge-->#}
                        </div>
                        <div class="pb-right-column col-xs-12 col-sm-7">
                            <h1 class="product-name">{{ product }}</h1>
                            <div class="product-price-group" style="padding-top: 5px;">
                                <span class="price product-price">Emedis</span>
                                <span class="price product-price">{{ product.get_product_detail.currency }} {{ product.get_product_detail.private_price|floatformat:2|intcomma }}</span><br />
                                <div class="clearfix"></div>
                                <span class="price product-price">LKPP</span>
                                <span class="price product-price">{{ product.get_product_detail.currency }} {{ product.get_product_detail.e_catalogue_price|floatformat:2|intcomma }}</span>
                            </div><br />
                            <div class="info-orther">
                                <p>Kode Produk: {{ product.product_number }}</p>
                            </div>
                            <div class="product-desc">{{ product.get_product_spesification_and_certification.specification }}</div>
                            <div class="form-option">
                                <div class="attributes">
                                    <div class="attribute-label">Qty:</div>
                                    <div class="attribute-list product-qty">
                                        <div class="qty">
                                            <input id="option-product-qty" data-qty="1" type="text" value="1">
                                        </div>
                                        <div class="btn-plus">
                                            <a href="#" class="btn-plus-up">
                                                <i class="fa fa-caret-up"></i>
                                            </a>
                                            <a href="#" class="btn-plus-down">
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-action">
                                <div class="button-group">
                                    <a title="Tambahkan" data-product-id="{{ product.id }}" data-qty="" class="btn-add-cart add-product-to-cart" href="#">Tambahkan</a>
                                </div>
                            </div>
                            <div class="form-share">
                                <div class="sendtofriend-print">
                                    <a href="javascript:print();"><i class="fa fa-print"></i> Cetak</a>
                                    <a href="#"><i class="fa fa-envelope-o fa-fw"></i>Emailkan produk ini</a>
                                </div>
                                <div class="network-share">
                                </div>
                            </div>
                        </div>
                    </div>{#<!-- tab product -->#}
                    <div class="product-tab">
                        <ul class="nav-tab">
                            <li class="active">
                                <a aria-expanded="false" data-toggle="tab" href="#product-detail">Detil Produk</a>
                            </li>
                            <li>
                                <a aria-expanded="true" data-toggle="tab" href="#information">Spesifikasi</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#extra-tabs">Lainnya</a>
                            </li>
                        </ul>
                        <div class="tab-container">
                            <div id="product-detail" class="tab-panel active">{{ product.get_product_spesification_and_certification.specification }}</div>
                            <div id="information" class="tab-panel">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                    </tr>
                                    </tbody></table>
                            </div>
                        </div>
                    </div>{#<!-- ./tab product -->#}
                    <div class="page-product-box">{#<!-- box product -->#}
                        <h3 class="heading">Produk Terkait Lainnya</h3>
                        <ul class="product-list owl-carousel owl-theme owl-loaded" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplaytimeout="1000" data-autoplayhoverpause="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;600&quot;:{&quot;items&quot;:3},&quot;1000&quot;:{&quot;items&quot;:4}}">
                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: 0s; width: 3600px;"><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p40.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p35.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p37.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p39.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p40.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p35.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p37.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item active" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p39.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p40.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p35.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p37.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div><div class="owl-item cloned" style="width: 270px; margin-right: 30px;"><li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="assets/data/p39.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a title="Tambahkan" href="#add">Tambahkan</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                        <div class="content_price">
                                            <span class="price product-price">$38,95</span>
                                            <span class="price old-price">$52,00</span>
                                        </div>
                                    </div>
                                </div>
                            </li></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></ul>
                    </div>{#<!-- ./box product -->#}
                </div>{#<!-- Product -->#}
            </div>{#<!-- ./ Center colunm -->#}
        </div>{#<!-- ./row-->#}
    </div>
</div>