{% load staticfiles %}
<div class="container">
    {% if homepage %}
{#    <div class="brand-showcase">#}
{#        <h2 class="brand-showcase-title">#}
{#            Etalase Brand#}
{#        </h2>#}
{#        <div class="brand-showcase-box">#}
{#            <ul class="brand-showcase-logo owl-carousel" data-loop="true" data-nav = "true" data-dots="false" data-margin = "1" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":2},"600":{"items":5},"1000":{"items":8}}'>#}
{#                <li data-tab="showcase-1" class="item active"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-2" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-3" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-4" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-5" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-6" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-7" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-8" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#                <li data-tab="showcase-9" class="item"><img src="{% static 'assets/data/gucci.png' %}" alt="logo" class="item-img" /></li>#}
{#            </ul>#}
{#            <div class="brand-showcase-content">#}
{#                <div class="brand-showcase-content-tab active" id="showcase-1">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">Lihat Brand Ini</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p24.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p25.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p26.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p27.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-2">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p10.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p11.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p12.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="#">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p13.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-3">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p14.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p15.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p16.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="#"><img class="img-responsive" src="assets/data/p17.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-4">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p18.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p19.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p20.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p21.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-5">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p22.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p23.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p24.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p25.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-6">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p26.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p27.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p28.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p29.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-7">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p30.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p31.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p32.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p15.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-8">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p25.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p21.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p10.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p23.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="brand-showcase-content-tab" id="showcase-9">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12 col-sm-4 trademark-info">#}
{#                            <div class="trademark-logo">#}
{#                                <a href="detail.php"><img src="{% static 'assets/images/logo.png' %}" alt="trademark"></a>#}
{#                            </div>#}
{#                            <div class="trademark-desc">#}
{#                                Whatever the occasion, complete your outfit with one of Hermes Fashion’s stylish women’s bags. Discover our spring collection.#}
{#                            </div>#}
{#                            <a href="#" class="trademark-link">shop this brand</a>#}
{#                        </div>#}
{#                        <div class="col-xs-12 col-sm-8 trademark-product">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-repon" src="assets/data/p24.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p14.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p30.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-sm-6 product-item">#}
{#                                    <div class="image-product hover-zoom">#}
{#                                        <a href="detail.php"><img class="img-responsive" src="assets/data/p29.jpg" alt=""></a>#}
{#                                    </div>#}
{#                                    <div class="info-product">#}
{#                                        <a href="detail.php">#}
{#                                            <h5>Maecenas consequat mauris</h5>#}
{#                                        </a>#}
{#                                        <span class="product-price">$38.87</span>#}
{#                                        <div class="product-star">#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                        <a class="btn-view-more" title="View More" href="#">View More</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
    {% endif %}
    {% include 'web/body_testimonials.html' %}
</div>