{% load staticfiles %}
<a class="cart-link" href="{% url 'website.views.checkout' %}">
    <span class="title">Kotak Belanja</span>
    <span class="total">.</span>
    <span id="cart_total_qty_badge" class="notify notify-left"></span>
</a>
<div class="cart-block">
    <div class="cart-block-content">
        <h5 class="cart-title"></h5>
        <div class="cart-block-list">
            <ul id="shopping_cart_list">
            </ul>
        </div>
        <div class="total-cart">
            <span>Total</span>
            <span id="shopping_cart_total" class="toal-price pull-right"></span>
        </div>
        <div id="no_item_on_cart">
            <span>Belum ada produk di kotak belanja</span>
        </div>
        <div class="cart-buttons">
            <a href="{% url 'website.views.checkout' %}" class="btn-check-out">Lihat Kotak Belanja</a>
        </div>
    </div>
</div>