{% load staticfiles %}
<div class="columns-container">
    <div id="cart_update_fail_notification" class="alert alert-danger flyover flyover-bottom">
        <h2><strong>Konfirmasi Belanja Gagal</strong></h2>
        <p id="cart_update_fail_message">Silahkan cek kembali kotak belanja Anda.  Produk yang terdaftar di eCatalogue dapat dipesan secara langsung di situs resmi melalui fitur <img src="{% static 'assets/images/lkpp-connect.png' %}" />.</p>
    </div>
    <div class="container" id="columns">
        <div class="page-content page-order">
            <div id="checkout_cart_table_message" class="heading-counter warning">Detil Kotak Belanja Anda</div>
            <div id="checkout_cart_table_notification" class="warning" style="display: none;">
                Tidak ada produk dalam kotak belanja Anda, silahkan klik <a href="/" class="click_here">di sini</a> untuk ke halamanan utama</div>
            <div class="order-detail-content" style="display: none;">
                <table id="checkout_cart_table" class="table table-bordered table-responsive cart_summary">
                    <thead>
                    <tr>
                        <th class="cart_product">Gambar</th>
                        <th>Produk</th>
                        <th>Harga per Unit</th>
                        <th>Jumlah</th>
                        <th>Subtotal</th>
                        <th class="action"><i class="fa fa-trash-o"></i></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td style="text-align: left; font-size: 80%;" colspan="2" rowspan="2"><strong>*</strong><i>Terdapat penyesuaian harga bila ada: <br/>(1) Pelatihan dan Instalasi<br>(2) Pengiriman</i></td>
                        <td colspan="2"><strong>Total Belanja&nbsp;*</strong><p style="font-size: 80%;"><i>Total harga tidak termasuk untuk pembelian produk LKPP</i></p></td>
                        <td colspan="2"><strong id="checkout_cart_total"></strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>