<!DOCTYPE html>
<html>
<head>
    {% include 'web/head_css.html' %}
</head>
<body class="category-page">
<!-- HEADER -->
{% include 'web/body_header.html' %}
<!-- end header -->

<!-- Body Container -->
{%  include 'web/body_container.html' %}

<!-- Body Content Page -->
{% include 'web/body_checkout_page.html' %}

<!-- Footer -->
{% include 'web/body_footer.html' %}

{% include 'web/body_js.html' %}

</body>
</html>