<!DOCTYPE html>
<html>
<head>
    {% include 'web/head_css.html' %}
</head>
<body class="product-page">
{#<!-- HEADER -->#}{% include 'web/body_header.html' %}{#<!-- end HEADER -->#}
{#<!-- Detail -->#}{% include 'web/body_detail_content.html' %}{#<!-- end Detail -->#}
{#<!-- Footer -->#}{% include 'web/body_footer.html' %}{#<!-- end Footer -->#}
{#<!-- Body Js -->#}{% include 'web/body_js.html' %}{#<!-- end Body Js -->#}

</body>
</html>