{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'assets/lib/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/lib/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/lib/select2/css/select2.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/lib/jquery.bxslider/jquery.bxslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/lib/owl.carousel/owl.carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/lib/fancyBox/jquery.fancybox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/lib/jquery-ui/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}" />

<title>Belanja Alat Kesehatan Online Mudah Dan Terpercaya | Emedis.id: #1 Toko Alat Kesehatan Online Terbesar &amp; Terlengkap se-Indonesia</title>
{% if homepage %}
    <style type="text/css">.fancybox-margin{margin-right:17px;}</style></head>
{% endif %}
<style type="text/css">
    .fix-size img {
        width: auto;
        height: 225px;
        max-height: 225px;
    }
</style>
<link
        rel="shortcut icon"
        href="{% static 'assets/img/emedis.ico' %}"
        type="image/ico"
/>