<!DOCTYPE html>
<html>
<head>
    {% include 'web/head_css.html' %}
</head>
<body class="home">
{#<!-- TOP BANNER -->#}
{#<!-- HEADER -->#}
{% include 'web/body_header.html' %}
<!-- end header -->

{% if homepage %}
{#<!-- Home slideder-->#}
{% include 'web/body_home_slider.html' %}
<!-- END Home slideder-->

{#<!-- servives -->#}
{% include 'web/body_services.html' %}
<!-- end services -->

{#<!-- Body Page Top -->#}
{% include 'web/body_page_top.html' %}

{#<!-- Body Content Page -->#}
{% include 'web/body_content_page.html' %}

{#<!-- Body Container -->#}
{% include 'web/body_container.html' %}
{% endif %}

{#<!-- Footer -->#}
{% include 'web/body_footer.html' %}

{% include 'web/body_js.html' %}

</body>
</html>