<!DOCTYPE html>
<html>
<head>
    {% include 'web/head_css.html' %}
</head>
<body class="category-page">
<!-- HEADER -->
{% include 'web/body_header.html' %}
<!-- end header -->

<!-- Body Content Page -->
{#{% include 'web/body_content_page.html' %}#}
{% include 'web/body_list_content.html' %}

<!-- Body Container -->
{%  include 'web/body_container.html' %}

<!-- Footer -->
{% include 'web/body_footer.html' %}

{% include 'web/body_js.html' %}

</body>
</html>