.logo > a > img
{
width: 120px;
}

.tagline {
    color: black;
    font-size: 11px;
    text-align: left;
    position: relative;
    left: 4px;
}

.recommendationbox {
    position: relative;
    top: 5px;
}


.main-header .header-search-box {
    margin-top: 3px;
    padding-left: 0px;
    padding-right: 45px;
}

.main-header .shopping-cart-box {
    margin-top: 17px;
    margin-top: 3px;
    padding: 0;
    margin-right: 15px;
    margin-left: -15px;
    line-height: normal;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dfdfdf;
    border-radius: 0px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* border-radius: 0px; */
}

.input-prefix, .input-suffix {
    background-color: #edefed;
    width: 1px;
    white-space: nowrap;
    vertical-align: top;
    padding: 3px;
    vertical-align: middle;
    border: 1px solid #dfdfdf;
    width: 20%;
    /* height: 100px; */
    padding-top: 6px;
    padding-bottom: 5px;
}

.content-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}

#footer {
    background: #fafafa;
    border-top: 1px solid #dfdfdf;
}

.form-control:focus {
    border-color: #ff9800;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,0,.6);
}


section {
  display: none;
  padding: 20px 0 0;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    display: none;
}


label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 17px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.old-price-emedis > span {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 16px;
    position: relative;
    top: 0px;
}

.penghematan > div > span
{

}


/* dropdown-start */

ul li label {
    background: #f5f5f5;
    /* border-top: 1px solid #878e98; */
    border: 1px solid #dfdfdf;
    /* border-bottom: 1px solid #33373d; */
    color: #757575;
    /* text-shadow: 0 1px 1px #000; */
    /* letter-spacing: 0.09em; */
}

ul li input[type='checkbox'] {
  display: none;
}

ul li label {
    display: block;
    padding: 12px;
    width: 300px;
    font-size: 16px;
    text-align: left;
}

ul li i {
  font-size: 18px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}

.item2 {
    margin-top: 20px;
}

.cart-sidebar {
    padding-left: 15px;
    padding-bottom: 80px;
    padding-right: 8px;
}

.voucherbox-text
{
margin-bottom: 20px;
}


.input-text {
    height: 38px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    padding: 0px 12px;
    width: 100%;
    background: white;
}
.button-text {
    position: relative;
    /* top: -8px; */
    left: 3px;
    text-transform: initial;
    font-size: 16px;
    font-weight: 100;
    color: white;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
}

.btn.color-4 {
    background-color: #ff8d00;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top: 1px solid #dfdfdf;
    width: 100%;
    margin-top: 20px;
}

.item2
{
cursor: default !important;
}

.keranjangbox {
    background: #fafafa;
    border: 1px solid #dfdfdf;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.perbaris > .col-md-8
{
padding-right: 0px;
}


table#miyazaki tbody td {
    padding: 0px;
    font-size: 14px;
    color: #444;
    background: #fff;
    vertical-align: middle;
    height: 100%;
    width: 1px;
}

/* counter */




.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    /* height: 20px; */
    text-align: center;
    vertical-align: middle;
    padding: 9px 0;
    background: #f5f5f5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


td > .subharga
{
    font-weight: bold;
    color: #ff6d00;
}



.btn-continue {
    position: relative;
    top: -30px;
    color: #333;
    line-height: 32px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    padding: 5px 15px;
        margin-right: 20px;
}


.productname-cart
{
text-align: left;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 2px 0 0 2px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 2px 2px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}
input.number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}


input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*
counter closed
*/

table#miyazaki tbody tr:not(:last-child) {
    border-top: 1px solid #ddd;
    border-bottom: none !important;
}

table#miyazaki thead th, table#miyazaki tbody td {
    padding: 0px;
    font-size: 1.4rem;
    padding-right: 0;
    width: auto;
}

.productimg {
    width: 60%;
}
table#miyazaki tbody .hargatotal {
    padding: 0px;
    font-size: 1.4rem;
    padding-right: 0;
    width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'MuseoSans-700','Roboto', 'Open Sans', sans-serif !important;
    font-size: 18px;
}

table#miyazaki thead th, table#miyazaki tbody .hargatotal
{
    padding: 0px;
    padding-right: 0;
    width: 1px;
    padding-top: 10px;
   padding-bottom: 10px;
}

.perbaris > div > .harga {
    text-align: right;
    float: right;
    font-weight: bold;
    color: #ff6d00;
}

td > center {
    font-family: 'MuseoSans-500','Roboto', 'Open Sans', sans-serif !important;
    font-size: 14px;
    text-align: center;
}

.perbaris
{
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 32px;
    border-bottom: 1px solid #dfdfdf;
}
.button-lanjut {
    padding-bottom: 0px;
    margin-top: -10px;
}

.block > .labelio:before {
    content: "\f0d7";
    width: 26px;
    height: 26px;
    display: block;
    border: 1px solid #c2c2c2;
    /* font-family: 'porto'; */
    position: relative;
    right: 0px;
    top: 8px;
    margin-top: -13px;
    border-radius: 3px;
    color: #757575;
    text-align: center;
    line-height: 23px;
    background-color: #fff;
    font-size: 13px;
    float: right;
}

.voucherbox
{

}


ul li label:hover {

}

ul li label:hover span {
  background: #3e505e;
}

ul li input[type='checkbox']:checked ~ label {
    /* background: #44c6eb; */
    border: 1px solid #dfdfdf;
    /* border-bottom: 1px solid #2799db; */
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44c6eb), to(#2799db)); */
    /* background: -webkit-linear-gradient(top, #44c6eb, #2799db); */
    background: -moz-linear-gradient(top, #44c6eb, #2799db);
    background: -ms-linear-gradient(top, #44c6eb, #2799db);
    background: -o-linear-gradient(top, #44c6eb, #2799db);
}

ul li input[type='checkbox']:checked ~ label span {
  background: #2173a1;
  /* fallback colour */
  border-top: 1px solid #1b5f85;
  border-bottom: 1px solid #4cb1e4;
  -moz-box-shadow: inset 0 0 5px #111;
  -webkit-box-shadow: inset 0 0 5px #111;
  box-shadow: inner 0 0 5px #111;
}

ul li input[type='checkbox']:checked ~ .options {
    height: auto;
    display: block;
    padding: 20px;
    min-height: 40px;
    max-height: 400px;
}

.voucherbox {
    height: auto;
    display: block;
    min-height: 0px;
    background: #fbfbfb;
    max-height: 0px;
    border: 1px solid #dfdfdf;
    padding: 0px;
     margin-top: -1px;
}

ul ul {
  background: #fff;
  margin: 0;
  padding: 0;
  -moz-box-shadow: inset 0 2px 2px #b3b3b3;
  -webkit-box-shadow: inset 0 2px 2px #b3b3b3;
  box-shadow: inner 0 2px 2px #b3b3b3;
}

ul ul li a {
  display: block;
  padding: 6px 12px;
  color: #999;
  text-decoration: none;
}

ul ul li a:hover {
  color: #44c6eb;
}

ul ul li a span {
  color: #999;
  background: none;
  border: 1px solid #ccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul ul li {
  border-bottom: 1px solid #ccc;
}

ul ul li:first-child {
  padding-top: 6px;
}

ul ul li:last-child {
  padding-bottom: 6px;
  border: 0;
}

.options {
  height: 0;
  display: block;
  overflow: hidden;
}


/* Abridged icomoon font styles
/* (Hosted on Frecosse - Please don't hotlink!)
=============================================== */

@font-face {
  font-family: 'icomoon';
  src: url('http://www.frecosse.com/workshop/accordion_menu/icomoon.eot');
  src: url('http://www.frecosse.com/workshop/accordion_menu/icomoon.eot?#iefix') format('embedded-opentype'), url('http://www.frecosse.com/workshop/accordion_menu/icomoon.woff') format('woff'), url('http://www.frecosse.com/workshop/accordion_menu/icomoon.ttf') format('truetype'), url('http://www.frecosse.com/workshop/accordion_menu/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-music:before,
.icon-search:before,
.icon-fire:before,
.icon-dribbble:before,
.icon-flickr:before,
.icon-deviantart:before,
.icon-picassa:before,
.icon-reddit:before,
.icon-android:before,
.icon-users:before,
.icon-film:before,
.icon-eye:before,
.icon-point-right:before,
.icon-microphone:before,
.icon-download:before,
.icon-warning:before,
.icon-images:before,
.icon-movie:before,
.icon-cloud:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-music:before {
  content: "\61";
}

.icon-search:before {
  content: "\62";
}

.icon-fire:before {
  content: "\63";
}

.icon-dribbble:before {
  content: "\64";
}

.icon-flickr:before {
  content: "\65";
}

.icon-deviantart:before {
  content: "\66";
}

.icon-picassa:before {
  content: "\67";
}

.icon-reddit:before {
  content: "\68";
}

.icon-android:before {
  content: "\69";
}

.icon-users:before {
  content: "\6a";
}

.icon-film:before {
  content: "\6b";
}

.icon-eye:before {
  content: "\6c";
}

.icon-point-right:before {
  content: "\6d";
}

.icon-microphone:before {
  content: "\6e";
}

.icon-download:before {
  content: "\6f";
}

.icon-warning:before {
  content: "\70";
}

.icon-images:before {
  content: "\71";
}

.icon-movie:before {
  content: "\72";
}

.icon-cloud:before {
  content: "\73";
}
/* dropdown-end */

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}


.metode-box
{
padding-top: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
