/*------------------------------------------------------------------
[Table of contents]
1. Styles for devices(>1200px)
2. Styles for devices(>=992px and <=1199px)
3. Styles for devices(>=768px and <=992px)
4. Styles for devices(>=481px and <=767px)
5. Styles for devices(<=480px)
-------------------------------------------------------------------*/
/*----------------
[1. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){
.old-price-emedis > span {
    color: #ff6d00;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 18px;
    position: relative;
    top: 1px;
}
}
/*----------------
[2. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
	.nav-menu .nav > li > a{
		padding: 15px 15px;
	}
.main-header .header-search-box {
    padding-left: 0;
    width: 58%;
}

#main-menu .navbar .navbar-nav>li>a {
    color: #757575;
    margin: 15px 0;
    padding: 0;
    padding: 0 25px;
    background: transparent;
    display: inline;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 16px;
    /* vertical-align: middle; */
    /* height: 20px; */
    /* position: relative; */
    position: relative;
    top: 10px;
    margin-left: 20px;
    left: 10px;
}
	.main-header .shopping-cart-box{
		float: right;
		width: 25%;
	}
	.box-vertical-megamenus .vertical-menu-content{
		display: none;
	}
	.home .box-vertical-megamenus .vertical-menu-content{
		display: none;
	}
	#home-slider .slider-left{
		display: none;
	}
	#home-slider .header-top-right{
		width: 100%;
		margin: 0;
		border-top: none;
		padding: 0 15px;
	}
#home-slider .header-top-right .homeslider, #home-slider .header-top-right .header-banner {
    /* border-top: 3px solid #F36; */
}
	.service .service-item {
		padding: 0;
		overflow: hidden;
	}
	.service .service-item .icon{
		width: 100%;
		text-align: center;
		padding-bottom: 15px;
		height: auto;
	}
	.service .service-item .info{
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.product-list li .product-star{
		float: left;
	}
	.latest-deals .count-down-time span{
		font-size: 12px;
	}
	.product-list.grid li{
		width: 50%;
	}
	.subcategories li a{
		padding: 0 10px;
	}
	#left_column .block .block_content{
		padding: 10px;
	}
	#left_column .block .title_block{
		font-size: 14px;
		padding-left: 10px;
	}
	.layered .layered_subtitle{
		font-size: 14px;
	}
	.check-box-list input[type="checkbox"] + label span.button{
		margin-right: 5px;
	}
	.special-product .special-product-left{
		width: 100%;
	}
	.special-product .special-product-right{
		margin-left: 0;
		margin-top: 10px;
	}
	.sortPagiBar .sort-product{
		margin-top: 20px;
	}
	.product-tab .nav-tab>li>a {
		padding: 0 10px;
	}
	#product .pb-right-column .product-comments .comments-advices a{
		padding: 0 5px;
	}
	/** MAIN MENU **/
	#main-menu .navbar .navbar-nav>li>a {
		padding: 0 10px;
	}
	.hot-deals-box .hot-deals-tab-content-col{
		padding-left: 15px;
	}
	.hot-deals-box .hot-deals-tab-content{
		padding: 30px;
	}
	.box-products .box-product-content .box-product-adv{
		width: 20%;
		padding-right: 5px;
	}
	.box-products .box-product-content .box-product-list{
		width: 80%;
		margin: 0;
		float: left;
		padding-left: 5px;
	}
	.box-products .box-product-content .box-product-list .product-list li{
		padding-bottom: 5px;
	}
}
/*--------------------
[3. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
	.home .box-vertical-megamenus .vertical-menu-content{
		display: none;
	}
	.vertical-megamenus-ontop .box-vertical-megamenus .vertical-menu-content{
		display: block;
	}
	
	.list-content-body {
    margin-top: -50px;
    display: inline-flex;
}

.productbox-list {
    padding-left: 15px;
    padding-right: 15px;
    width: 47%;
    position: relative;
    display: inline-table;
}

.top-header a {
    border-right: none;
    padding-right: 5px;
    margin-left: 5px;
}


.top-header .dropdown.open >.dropdown-menu {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    opacity: 1;
    z-index: 99;
    margin-left: 40px;
    visibility: inherit;
}


#main-menu .navbar .navbar-nav>li.active>a {
    color: #333;
    /* border-right: 1px solid transparent; */
    margin-left: 25px;
    font-size: 15px;
}

.navbar-nav>li {
    float: left;
    margin-left: 1px;
    margin-right: 20px;
    cursor: pointer;
}

.top-header a.current-open:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 17px;
    vertical-align: 0;
    padding-left: 5px;
    font-weight: bold;
}


.nav-top-menu {
    background: white;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top: 1px solid #dfdfdf;
    height: auto;
}

#main-menu .container-fluid {
    padding: 0;
    padding-top: 10px;
}


.fixedmenu-1 > img {
    position: relative;
    /* left: 20px; */
    top: 7px;
    width: 25px;
    /* padding-top: 10px; */
    position: absolute;
}

#main-menu .navbar .navbar-nav>li.active {
    /* background: #ff6d00; */
    color: #333;
    border-bottom: 5px solid #ff6d00;
    /* padding-bottom: 8px; */
    height: 46px;
}

#main-menu .navbar .navbar-nav>li.active>a {
    color: #333;
    /* border-right: 1px solid transparent; */
    margin-left: 15px;
    font-size: 15px;
    padding-right: 10px;
}


#main-menu .navbar .navbar-nav>li>a {
    color: #757575;
    margin: 15px 0;
    padding: 0;
    padding: 0 25px;
    background: transparent;
    display: inline;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 15px;
    /* vertical-align: middle; */
    /* height: 20px; */
    /* position: relative; */
    position: relative;
    top: 10px;
    margin-left: 15px;
    left: 10px;
    padding-right: 20px;
}

.fixedmenu2img {
    /* width: 29px; */
    /* position: relative; */
    /* top: 5px; */
    /* left: 20px; */
    position: absolute;
    width: 23px;
    top: 8px;
}


#introduce-box > .col-md-6 {
    width: 100%;
    padding-left: 0px;
    margin-top: 20px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.top-box > .container
{
padding-left: 27px;
padding-right: 27px;
}

.progress-bar {
    list-style: none;
    overflow: hidden;
    font: 14px Helvetica;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    counter-reset: li;
    float: none;
    width: 92%;
    border: 1px solid #d9e2ed;
    height: 61px;
    cursor: pointer;
    margin-left: 30px;
}


.progress-bar__steps.active > a > center > .progress-bar__steps--text {
    color: #ff6d00;
    position: relative;
    top: 1px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    left: 5px;
}

.progress-bar__steps:hover {
    background-color: white;
}


.progress-bar__steps.active:hover .process-mark-inactive:after {
    position: absolute;
    top: -6px;
    left: 0;
    border-left: 21px solid white;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-right: 1px solid transparent;
    content: "";
}




.progress-bar__steps--text {
       position: relative;
    top: 1px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    left: 10px;
}


.top-header .dropdown-home{
    border-radius: 0;
    border: none;
    top: 100%;
    left: -40px;
    border-top: 2px solid #ff6d00;
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    opacity: 0;
    display: block;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -khtml-transform: translateY(50px);
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -khtml-transform: translateX(-40px);
    z-index: 0;
    visibility: hidden;
}


	.main-header .logo{
		width: 100%;
		text-align: center;
	}
	.main-header .header-search-box{
		padding-left: 30px;
		padding-right: 15px;
		width: 100%;
	}
	
.main-header .shopping-cart-box {
    margin-top: -30px;
    position: relative;
    top: -185px;
    margin-left: -15px;
    line-height: normal;
    float: right;
}

.row {
margin-right: 0px;
margin-left: 0px;
}

.container {
  width: 100%;
    padding-left: 15px;
    padding-right: 15px;

}


.top-header {
    background: white;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 70px;
}

.top-header .user-info {
    width: auto;
    display: inline-block;
    line-height: 64px;
    float: left !important;
    position: relative;
    left: 10px;
}
.kenapatext-2 {
    font-family: 'MuseoSans-500','Roboto', 'Open Sans', sans-serif !important;
    color: #757575;
    font-size: 12px;
}

.scroll_top {
    width: 34px;
    height: 34px;
    position: fixed;
    display: none;
    font-size: 0;
    z-index: 9999;
    right: 20px;
    bottom: 32px;
    background: #fafafa;
    display: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    border-bottom: 1px solid #dfdfdf;
}

.scroll_top:before {
    content: "\f106";
    font-family: "FontAwesome";
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
}
	.main-header .shopping-cart-box{
		margin-left: 0;
		width: 37.667%;
	}
	.box-vertical-megamenus{
		padding-bottom: 0;
	}
	.box-vertical-megamenus .vertical-menu-content {
		min-width: 270px;
		display: none;
	}
	.nav-menu .nav > li > a {
	    padding: 15px 5px;
	}
	#home-slider .slider-left{
		height: 3px;
	}
	.header-top-right .header-banner{
		display: none;
	}
	.header-top-right {
	    margin-left: 0;
	    padding: 0 15px;
	    width: 100%;
	    border-top: none;
	}
	.header-top-right .homeslider .content-slide {
	    margin-right:0;
	}
	.service .service-item{
		padding: 0 10px;
	}
	.service .service-item .icon{
		width: 100%;
		text-align: center;
	}
	.service .service-item .info{
		width: 100%;
		padding-left: 0;
		text-align: center;
		margin-left: 0;
		margin-top: 50px;
	}
	.page-top .page-top-left{
		width: 100%;
	}
	.page-top .page-top-right{
		width: 100%;
		margin-top: 30px;
	}
	#trademark-list #payment-methods{
		width: 100%;
		float: left;
	}
	.category-banner{
		display: none;
	}
	.floor-elevator{
		display: none;
	}
	.show-brand .navbar-brand{
		padding: 0px 0px 0px 10px;
	}
	.header-top-right .homeslider {
		width: 100%;
	}
	.product-featured .banner-featured {
		display: none;
	}
	.product-featured .product-featured-content .product-featured-list{
		margin-left: 0;
	}
	.product-list.grid li{
		width: 50%;
	}
	.subcategories li a{
		padding: 0 10px;
	}
	#left_column .block .block_content{
		padding: 10px;
	}
	#left_column .block .title_block{
		font-size: 14px;
		padding-left: 10px;
	}
	.layered .layered_subtitle{
		font-size: 14px;
	}
	.check-box-list input[type="checkbox"] + label span.button{
		margin-right: 5px;
	}
	.special-product .special-product-left{
		width: 100%;
	}
	.special-product .special-product-right{
		margin-left: 0;
		margin-top: 10px;
	}
	.sortPagiBar .sort-product{
		margin-top: 20px;
	}
	.trademark-info{
		width: 100%;
		float: left;
		padding: 0 20px;
	}
	.trademark-product{
		width: 100%;
		float: left;
		padding: 0 20px;
	}
	.trademark-product .product-item {
		width: 50%;
	}
	.product-list li .product-star{
		float: left;
	}
	.product-tab .nav-tab>li{
		width: 100%;
		float: left;
		margin-bottom: 2px;
	}
	.product-tab .nav-tab>li>a {
		width: 100%;
	}
	.product-tab .nav-tab>li.active>a{
		height: 48px;
	}
	.product-tab .tab-container {
		margin-top: 2px;
	}
	#product .pb-right-column .product-comments .comments-advices a{
		padding: 0 5px;
	}
	.products-block .products-block-left{
		width: 100%;
	}
	.products-block .products-block-right{
		margin:0;
		width: 100%;
	}
	/** MAIN MENU **/
	#main-menu .navbar .navbar-nav>li>a {
		padding: 0 5px;
	}
	.box-products .box-product-content .box-product-adv {
		display: none;
	}
	.box-products .box-product-content .box-product-list{
		width: 100%;
		margin: 0;
	}
	.hot-deals-box .hot-deals-tab-content-col{
		padding-left: 15px;
	}
	.hot-deals-box .hot-deals-tab-content{
		padding: 30px;
	}
	.featured-banner .box-countdown .box-title{
		width: 50px;
		height: 50px;
		font-size: 20px;
		line-height: 20px;
		padding-top: 5px;
	}
	.featured-banner .box-countdown-inner .box-count{
		width: 50px;
		height: 50px;
		padding-top: 5px;
	}
	.featured-banner .box-countdown-inner .box-count .number{
		font-size: 20px;
		line-height: 20px;
	}
	.featured-banner .box-countdown-inner .box-count .text{
		font-size: 12px;
		text-transform: uppercase;
	}
	.featured-banner .box-small-banner .text-content .title{
		font-size: 14px;
	}
	.featured-banner .box-small-banner .text-content .sub-title{
		font-size: 12px;
	}
	.featured-banner .banner-text .text-content .title{
		font-size: 20px;
	}
	.featured-banner .banner-text .group-button{
		margin-top: 10px;
	}
	.featured-banner .banner-text .group-button a{
		padding: 0 10px;
	}
	.featured-banner .banner-text .text-content{
		left: 1px;
		right:1px;
		-ms-transform: translate(-1px,-50%);
	    -webkit-transform: translate(-1px,-50%);
	    transform: translate(-1px,-50%);
	}

.nav-top-links > .first-item
{
display: none;
}
}
/*--------------------
[4. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) { 
.nav-top-links > .first-item
{
display: none;
}
}
/*--------------------
[5. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {

.main-header {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 120px;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.productbox-list {
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    /* margin-top: 40px; */
    margin-bottom: 40px;
}

.product-responsive
{
width: 100%;
padding-right: 20px;
    padding-left: 20px;
}

.atur-berdasarkan {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
    color: #333;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 13px;
    text-align: center;
}

.list-content-body {
margin-top: 0px; 
}

.sidebar-list {
    padding-left: 0px;
    display: none;
}

.pagination-top {
    margin-top: 50px;
    /* float: left; */
    text-align: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.pagination {
    /* display: block; */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}

.pagination-top
{
display: block;

}
.hasil-pencarian {
    padding-top: 10px;
    color: #333;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 16px;
}


.content-list {
    padding-top: 20px;
    padding-bottom: 50px;
}


.atur-berdasarkan {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
    color: #333;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 13px;
    text-align: left;
    padding-left: 20px;
}




.atur-berdasarkan > select {
    margin-right: 20px;
    margin-bottom: 20px;
}

.top-header {
    background: white;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 30px;
}


span.notify {
    width: 32px;
    height: 22px;
    color: #212121;
    text-align: center;
    position: absolute;
    line-height: normal;
    font-size: 10px;
    padding-top: 2px;
    padding-right: 4px;
    z-index: 1;
    font-weight: bold;
}


	.top-banner{
		display: none;
	}
	
.container > .nav-top-links
	{
	display: none;	
		
	}
	
	.top-header .dropdown.open >.dropdown-menu {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    opacity: 1;
    z-index: 99;
    visibility: inherit;
}
	
.main-header .header-search-box .form-inline .input-serach {
    width: calc(100% - 200px);
    height: 42px;
    margin-left: 0px;
    z-index: 2;
    position: relative;
    border-top: 2px solid #ff6d00;
    border-bottom: 2px solid #ff6d00;
    margin-top: 0px;
    border-left: 2px solid #ff6d00;
}

#box-vertical-megamenus > .category {
    position: relative;
    display: block;
    position: relative;
    top: 14px;
    font-size: 16px;
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    color: #757575;
    /* width: 300px; */
    background-color: white;
    text-align: center;
}

.scroll_top:focus::before {
    content: "\f106";
    font-family: "FontAwesome";
    font-size: 20px;
    color: white !important;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
}

.scroll_top:hover::before {
    content: "\f106";
    font-family: "FontAwesome";
    font-size: 20px;
    color: white !important;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}




.scroll_top {
    width: 34px;
    height: 34px;
    position: fixed;
    display: none;
    font-size: 0;
    z-index: 9999;
    right: 20px;
    bottom: 32px;
    background: #fafafa;
    display: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    border-bottom: 1px solid #dfdfdf;
}

.main-header .header-search-box .form-inline .input-serach input:focus {
    border: none;
    padding-left: 15px;
    width: 100%;
    padding-top: 10px;
    color: #333;
    font-weight: bold;
    font-size: 12px;
}	
	.top-header .nav-top-links,
	.top-header .user-info,
	.top-header .support-link{
		width: 100%;
		float: left;
	}
.main-header .logo {
    text-align: center;
    margin-top: 0px;
    position: relative;
    top: 50px;
}

.main-header .header-search-box {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    position: relative;
    top: 50px;
}
	.main-header .header-search-box .form-inline .form-category{
		display: none;
	}
.main-header .header-search-box .form-inline .input-serach {
    width: calc(100% - 50px);
    padding-top: 0px;
    /* font-size: 12px; */
}

.main-header .header-search-box .form-inline .input-serach input {
    border: none;
    padding-left: 10px;
    width: 100%;
    padding-top: 11px;
    color: #bdbdbd;
    font-weight: bold;
    font-size: 12px;
}

.main-header .header-search-box .form-inline .btn-search {
    width: 60px;
    height: 42px;
    background: #ff6d00 no-repeat center center;
    border: none;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: -1px;
}
.main-header .shopping-cart-box {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    width: 100%;
    margin-top: -150px;
}
.nav-top-menu {
    background: transparent;
    display: block;
}

.header-top-right .homeslider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    /* position: absolute; */
    /* bottom: 10px; */
    /* width: 100%; */
    /* text-align: center; */
    padding-right: 0px;
    padding-left: 16px;
    padding-bottom: 20px;
}

.recommendation > span {
    margin-right: 4px;
    font-family: 'MuseoSans-500','Roboto', 'Open Sans', sans-serif !important;
    font-size: 10px;
    line-height: 12px;
}

.recommendationbox {
    position: relative;
    top: -2px;
    line-height: 10px;
}

.main-header .shopping-cart-box a.cart-link:after {
    content: '';
    width: 30px;
    height: 29px;
    background: #ff6d00 url('../images/cart.png') no-repeat center center;
    position: absolute;
    top: -1px;
    right: -1px;
}

.main-header .shopping-cart-box a.cart-link .title {
    width: auto;
    float: left;
    text-transform: initial;
    font-weight: 400;
    margin-top: 7px;
    font-size: 9px;
    color: #757575;
}

.rp {
    color: #f96d01;
    text-align: left;
    font-family: MuseoSans-500,sans-serif;
    background-color: white;
    position: relative;
    top: 1px;
}

#home-slider {
    margin-top: 25px;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,0), 0 1px 1px rgba(0,0,0,0.004);
}



.top-header .dropdown-menu {
    border-radius: 0;
    border: none;
    top: 100%;
    left: 30px;
    border-top: 2px solid #ff6d00;
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    opacity: 0;
    display: block;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -khtml-transform: translateY(50px);
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -khtml-transform: translateX(-40px);
    z-index: 0;
    visibility: hidden;
}

.top-header a.current-open:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 12px;
    vertical-align: 0;
    padding-left: 5px;
    font-weight: bold;
}

.top-header .dropdown-home {
    border-radius: 0;
    border: none;
    top: 100%;
    left: 21px;
    border-top: 2px solid #ff6d00;
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    opacity: 0;
    display: block;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -khtml-transform: translateY(50px);
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -khtml-transform: translateX(-40px);
    z-index: 0;
    visibility: hidden;
}

.scroll_top:before {
    content: "\f106";
    font-family: "FontAwesome";
    font-size: 20px;
    color: #333;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
}

.bottom-cost {
    color: #f96d01;
    text-align: left;
    font-family: MuseoSans-500,sans-serif;
    position: relative;
    top: 1px;
}

.current-open > span
{
font-size: 11px;
}

.cart-link > .total {
    font-size: 9px;
    position: relative;
    top: 7px;
    left: 5px;
}

.main-header .shopping-cart-box a.cart-link {
    height: 30px;
    width: 100%;
    /* border: 1px solid #eaeaea; */
    display: block;
    position: relative;
    border: 2px solid #ff6d00;
    padding-left: 5px;
}
#box-vertical-megamenus {
    /* width: 50%; */
    height: 50px;
    /* float: left; */
}

.kenapatext-2 {
    font-family: 'MuseoSans-500','Roboto', 'Open Sans', sans-serif !important;
    color: #757575;
    font-size: 12px;
}

.kenapabox-2 {
    padding: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.banner-boder-zoom {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    background: white;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    border-radius: 4px;
}

.banner-bottom > .col-sm-6
{
padding-left: 0px;
padding-right: 0px;
}
.banner-boder-zoom-2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    background: white;
    height: 500px;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    border-radius: 4px;
}
.kenapabox {
    padding: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


	#box-vertical-megamenus .box-vertical-megamenus{
		right: 0px;
		padding-bottom:0;
	}
	.box-vertical-megamenus .vertical-menu-content{
		border-right: 1px solid #eee;
		display: none;
	}
	.box-vertical-megamenus .title{
		color: #fff;
		padding-left: 10px;
		padding-right: 10px;
	}
	#box-vertical-megamenus .vertical-menu-content{
		min-width: 290px;
		display: none;
	}
	.box-vertical-megamenus .vertical-menu-content ul li:hover .vertical-dropdown-menu {
	  visibility: hidden;
	  display: none;
	}
	.box-vertical-megamenus .vertical-menu-content ul li a.parent:before {
		display: none;
	}
	.popular-tabs .nav-tab li{
		padding: 0;
	}
	#home-slider .header-banner{
		display: none;
	}
#home-slider .header-top-right {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
    border-top: none;
    margin-top: 50px;
}

.bx-viewport {
    height: 260px !important;
}
	.header-top-right .homeslider{
		width: 100%;
	}
	#home-slider .header-top-right .homeslider .content-slide{
		margin-right: 0;
	}
	#home-slider .slider-left{
		height: 3px;
	}
	.service{
		display: block;
	}
	
	.btn.color-4 {
    background-color: #ff8d00;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top: 1px solid #dfdfdf;
    width: 100%;
}

.cate-box
{
    padding-right: 0px;
    padding-left: 0px;
}

.title-section {
    padding-top: 0px;
    margin-top: 30px;
}
.marketplace-terbesar {
    font-family: 'MuseoSans-700Italic','Roboto','Arial', sans-serif;
    font-size: 15px;
    color: #757575;
}

.service {
    background: white;
    border: 1px solid #eaeaea;
    padding: 19px 0;
    font-size: 12px;
    margin-top: 0px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.trademark-text-tit {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.trademark-list > li > a {
    color: #757575;
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    text-align: left;
    font-size: 11px;
}

.pemesananmudah {
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 18px;
    color: #757575;
}

.produk-resmi
{
padding-left: 0px !important;
padding-right: 0px !important;
    font-family: 'MuseoSans-900','Roboto','Arial', sans-serif;
    font-size: 24px;
    padding-top: 0px;
}

.top-box {
    background: #fafafa;
    padding-top: 30px;
}


.cate-tit:hover .cate-name {
color: #ff6d00 !important;
}

.progress-bar {
    list-style: none;
    overflow: hidden;
    font: 12px Helvetica;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    counter-reset: li;
    float: none;
    width: 95%;
    border: none;
    height: 61px;
    cursor: pointer;
    margin-left: 0px;
    display: inline;
}

.progress-bar__steps.active {
    background: white;
    cursor: pointer;
    color: #ff6d00;
    border: 1px solid #ff6d00;
}

.progress-bar__steps--text {
    position: relative;
    top: 1px;
    right: 0px;
    text-align: center;
}


.progress-bar__steps {
    background: #f7f8fa;
    color: #666;
    width: 90%;
    position: relative;
    cursor: default;
    list-style-image: none;
    list-style-type: none;
    padding: 10px 0px;
    text-align: center;
    left: 5%;
    border: 1px solid #dfdfdf;
    border-top: 1px solid transparent;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
}


.carabox {
    padding-top: 20px;
    padding-bottom: 20px;
}


.process-mark-inactive {
    right: -19px;
    z-index: 10;
    position: absolute;
    top: 0;
    width: 22px;
    overflow: hidden;
    display: none;
    height: 100%;
}

#trademark-list {
    list-style: outside none none;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 30px;
    display: table;
    width: 100%;
    padding-top: 10px;
    /* margin-top: 30px; */
}

.emedistext {
    font-family: 'MuseoSans-700','Roboto','Arial', sans-serif;
    font-size: 14px;
    color: #ff6d00;
}

.temukantext {
    font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
    font-size: 14px;
    padding-left: 20px;
    color: #757575;
}
	.nav-menu .navbar-brand,
	.nav-menu .toggle-menu{
		display: block;
	}
	.nav-menu .navbar-collapse{
		position: absolute;
		right: 0px;
		top: 50px;
		margin-right: 0;
		margin-left: 0;
		padding: 0 15px;
		left: 0;
		right: 0;
	}
	.nav-menu .navbar-collapse>ul{
		margin-top: 0;
	}
	.nav-menu .navbar-brand{
		margin-left: -10px;
	}
	.popular-tabs .nav-tab li{
		width: 100%;
		float: left;
	}
	.page-top-right{
		margin-top: 30px;
	}
	.content-page{
		margin-top: 0;
	}
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	
.front-cost {
    color: #f96d01;
    text-align: left;
    font-family: MuseoSans-500,sans-serif;
    position: relative;
    top: 1px;
}

span.notify-left {
    background: url('../images/notify-2.png') no-repeat;
    right: 10px;
    top: -8px;
}

	.floor-elevator {
		display: none;
	}
	.category-banner{
		display: none;
	}
	.product-featured .banner-featured{
		display: none;
	}
	.product-featured .product-featured-content .product-featured-list{
		margin-left: 0;
	}
	.product-featured .product-featured-content{
		width: 100%;
	}
	.banner-bottom{
		display: block;
	}
	.trademark-info{
		padding-left: 30px!important;
		padding-right: 30px!important;
	}
	.trademark-product .image-product {
    	width: 40%;
	}
	.trademark-product .info-product{
		padding-left: 10px;
	}
	#introduce-box {
	    margin-top: 30px;
	}
	#introduce-box .introduce-title{
		margin-top: 30px;
	}
	#trademark-list #payment-methods{
		display: block;
		width: 100%;
	}
	.product-list li .product-star{
		float: left;
		width: 100%;
		text-align: left;
	}
	.product-list li .content_price {
		float: left;
		width: 100%;
	}
	.latest-deals{
		padding-bottom: 15px;
	}
	.main-header .shopping-cart-box:hover .cart-block {
	  opacity: 0;
	  visibility: hidden;
	}
	.category-featured>.nav-menu>.container{
		padding-left: 0;
	}
	.category-slider{
		margin-top: 30px;
	}
	.category-slider .owl-controls .owl-prev, 
	.category-slider .owl-controls .owl-next {
	  width: 20px;
	  height: 20px;
	  color: #fff;
	  text-align: center;
	  padding-top: 3px;
	}
	.subcategories li.current-categorie {
	  width: 100%;
	}
	.subcategories li.current-categorie a{
		width: 100%;
		text-align: center;
	}
	.subcategories li.current-categorie:after{
		right: 50%;
		  content: "\f0d7";
		  top: 36px;
	}
	.subcategories li{
		width: 100%;
	}
	.subcategories li a{
		width: 100%;
		padding: 0 10px;
	}
	.sortPagiBar .sort-product, .sortPagiBar .show-product-item{
		margin-top: 20px;
	}
	.product-list.list .left-block {
		width: 100%;
		position: relative;
	}
	.product-list.list .right-block{
		width: 100%;
	}
	.product-list.list .add-to-cart{
		bottom: 0;
		left: 0;
		width: 50%;
		top: inherit;
	}
	.product-list.list .quick-view{
		bottom: 0;
		right: 0;
		top: inherit;
	}
	.nav-menu .nav>li>a {
		padding: 5px 15px;
	}
	.popular-tabs .owl-controls .owl-next,
	.popular-tabs .owl-controls .owl-prev{
		top: -15px;
	}
	.brand-showcase-box .brand-showcase-logo .owl-controls{
	}
	.center_column{
		margin-top: 30px;
	}
	#product .pb-right-column{
		margin-top: 30px;
	}
	.product-tab .nav-tab>li>a{
		padding: 0 10px;
	}
	.product-list li .product-star {
		float: left;
	}
	.product-tab .nav-tab>li{
		width: 100%;
		float: left;
		margin-bottom: 2px;
	}
	.product-tab .nav-tab>li>a {
		width: 100%;
	}
	.product-tab .nav-tab>li.active>a{
		height: 48px;
	}
	.product-tab .tab-container {
		margin-top: 2px;
	}
	#product .pb-right-column .product-comments .comments-advices a{
		width: 100%;
		float: left;
		padding: 0;
	}
	.breadcrumb{
		line-height: 20px;
	}
	.breadcrumb .navigation-pipe:before{
		padding: 0;
	}
	/** MAIN MENU **/
#main-menu .navbar-header {
    display: block;
    margin: 0;
    background: #ff3366;
    color: #fff;
    margin-left: 15px;
    display: none;
}
	#main-menu .navbar-header .navbar-brand {
		padding: 0;
		padding-left: 10px;
		line-height: 50px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
	}
	#main-menu .navbar-header .fa{
		line-height: inherit;
		color: #fff;
		font-size: 17px;
	}
	#main-menu .navbar-header .navbar-toggle{
		border: none;
		padding: 0;
		margin-top: 12px;
	}
	#main-menu .navbar-default .navbar-toggle:focus,
	#main-menu .navbar-default .navbar-toggle:hover{
		background: none;
	}
	#main-menu .navbar-collapse{
		padding: 0 15px;
		margin-left: 15px;
		margin-right: 0px;
		background: #eee;
	}
	#main-menu .container-fluid{
		padding-right: 15px;
  		padding-left: 15px;
	}
	#main-menu .navbar-collapse.in{
		overflow-y:inherit;
	}
	#main-menu .navbar .navbar-nav>li{
		border-bottom: 1px solid #cacaca;
	}
	#main-menu .navbar .navbar-nav>li:hover,
	#main-menu .navbar .navbar-nav>li.active{
		background: none;
	}
	#main-menu .navbar .navbar-nav>li>a{
		margin: 0;
		padding: 10px;
		border-right: none;
		position: relative;
	}
	#main-menu .navbar .navbar-nav>li:hover>a, 
	#main-menu .navbar .navbar-nav>li.active>a {
	  color: #333;
	  border-right: 1px solid transparent;
	}
	#main-menu .dropdown-menu{
		position: inherit;
		opacity: 1;
		visibility: inherit;
		display: none;
	}
	#main-menu li.dropdown>a:after{
		position: absolute;
		top: 9px;
		right: 10px;
	}
	#main-menu .dropdown.open >.dropdown-menu{
		display: block;
	}
	#main-menu li.dropdown:before{
		display: none;
	}
	#main-menu li.dropdown:hover:before{
		display: none;
	}
	#main-menu .navbar-nav > li> .mega_dropdown {
		  -webkit-transform: translate(0,0);
		  -moz-transform: translate(0,0);
		  -o-transform: translate(0,0);
		  -ms-transform: translate(0,0);
		  transform: translate(0,0);
		  width: 100%!important;
		  left: 0!important;
		  top: 0;
  		  padding: 15px 0;
  		  border: 1px solid #eee;
	}
	#main-menu .dropdown-menu{
		border: 1px solid #eee;
	}
	#main-menu .dropdown-menu.container-fluid {
	  padding: 15px;
	  border: 1px solid #eee;
	}
	.page-heading{
		font-size: 16px;
	}
	.page-heading span{
		padding: 0;
	}
	.page-order ul.step li{
		width: 100%;
		display:block;
		text-align: left;
		border-bottom: none;
		border-left: 3px solid #eee;
		padding-left: 20px;
		margin-top: 10px;
	}
	.page-order ul.step li.current-step{
		border-left: 3px solid #ff3366;
		border-bottom: none;
	}
	#footer2 .footer-top .footer-menu li{
		display: block;
		width: 100%;
		line-height: 30px;
	}
	#footer2 .footer-top .footer-social{
		margin-top: 20px;
		float: left;
	}
	#footer2 .footer-row .form-subscribe {
		width: auto;
	}
	#footer2 .footer-row .form-subscribe .form-group{
		margin-bottom: 0;
	}
	#footer2 .footer-row{
		padding: 20px 0;
	}
	#footer2 .widget-body{
		padding-bottom: 20px;
	}
	#footer2 .widget-title{
		padding-bottom: 10px;
	}
	#footer2 .footer-bottom .footer-payment-logo{
		float: left;
		margin-top: 10px;
	}
	.box-products .box-product-head{
		float: left;
		height: auto;
	}
	.box-products .box-product-head .box-title{
		float: left;
		width: 100%;
	}
	.box-products .box-tabs{
		float: left;
		margin-top: 10px;
	}
	.box-products .box-tabs>li{
		display: block;
		width: 100%;

	}
	.box-products .box-tabs li>a{
		border: none;
		padding: 0;
	}
	.box-products .box-product-head .box-title{
		padding-left: 0;
	}
	.box-products .box-tabs li>a:before{
		left: 0;
		right: 0;
	}
	.box-products .box-product-content .box-product-adv{
		display: none;
	}
	.box-products .box-product-content .box-product-list {
		margin-left: 0;
		float: left;
		overflow: hidden;
		width: 100%;
	}
	.hot-deals-box .hot-deals-tab .hot-deals-tab-box{
		padding: 10px;
	}
	.hot-deals-box .hot-deals-tab-content-col {
		padding-left: 15px;
	}
	.hot-deals-box .hot-deals-tab-content{
		padding: 10px;
	}

	/** Footer style 3**/ 
	.footer3 .footer-bottom .footer-bottom-left,
	.footer3 .footer-bottom .footer-bottom-right{
		width: 100%;
	}
	.footer3 .footer-coppyright .payment-logo{
		float: left;
		margin-top: 30px;
	}
	.footer3 .widget-container:last-child{
		margin-bottom: 30px;
	}
	.footer3 .mailchimp-form .mailchimp-submit{
		padding: 0;
	}
	.featured-banner .left, 
	.featured-banner .right{
		width: 100%;
	}
	.featured-banner .box-countdown .box-title{
	    font-size: 14px;
	    width: 50px;
	    height: 50px;
	    line-height: 16px;
	    padding-top: 8px;
	}
	.featured-banner .box-countdown-inner{
		height: 50px;
	}
	.featured-banner .box-countdown-inner .box-count{
		width: 50px;
		height: 50px;
		padding-top: 5px;
	}
	.featured-banner .box-countdown-inner .box-count:before{
		content: '';
		height: 1px;
		background-color: #b0b0ae;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		-ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	.featured-banner .box-countdown-inner .box-count .number{
		font-size: 20px;
		line-height: 20px;
	}
	.featured-banner .box-countdown-inner .box-count .text{
		font-size: 12px;
		text-transform: uppercase;
	}
	.featured-banner .box-small-banner .text-content .title{
		font-size: 14px;
	}
	.featured-banner .box-small-banner .text-content .sub-title{
		font-size: 12px;
	}
	.featured-banner .banner-text .text-content .title{
		font-size: 20px;
	}
	.featured-banner .banner-text .group-button{
		margin-top: 10px;
	}
	.featured-banner .banner-text .group-button a{
		padding: 0 10px;
	}
	.featured-banner .banner-text .text-content{
		left: 1px;
		right:1px;
		-ms-transform: translate(-1px,-50%);
	    -webkit-transform: translate(-1px,-50%);
	    transform: translate(-1px,-50%);
	}
}