@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-UltraLight.otf);
    font-weight: 100;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Black.otf);
    font-weight: 900;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 700;
}


@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: MuseoSans-100;
    src: url(../fonts/MuseoSans-100.otf);
}

@font-face {
    font-family: MuseoSans-100Italic;
    src: url(../fonts/MuseoSans100-Italic.otf);
}

@font-face {
    font-family: MuseoSans-300;
    src: url(../fonts/MuseoSans-300.otf);
}


@font-face {
    font-family: MuseoSans-300Italic;
    src: url(../fonts/MuseoSans-300Italic.otf);
}

@font-face {
    font-family: MuseoSans-500;
    src: url(../fonts/MuseoSans-500.otf);
}


@font-face {
    font-family: MuseoSans-500Italic;
    src: url(../fonts/MuseoSans-500Italic.otf);
}

@font-face {
    font-family: MuseoSans-700;
    src: url(../fonts/MuseoSans-700.otf);
}

@font-face {
    font-family: MuseoSans-700Italic;
    src: url(../fonts/MuseoSans-700Italic.otf);
}

@font-face {
    font-family: MuseoSans-900;
    src: url(../fonts/MuseoSans-900.otf);
}

@font-face {
    font-family: MuseoSans-900Italic;
    src: url(../fonts/MuseoSans-900Italic.otf);
}


body{
    font-family: 'Roboto','Arial', sans-serif;
    font-size: 14px;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    color: #333;
}


.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 0px 7px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* border-radius: 0px; */
}

.container-form
{
padding-top: 10px;
}

.right-block {
    padding-left: 0px;
    padding: 20px;
    padding-left: 70px;
    padding-left: 70px;
}

.container-right > input
{
margin-top: 15px;
margin-bottom: 15px;
}

#large-header {
  background-image: url("../images/login.jpg");
}

.black-dop{
background-color: black;
opacity: 0.5;
width: 100%;
height: 100%;
}

.col-md-6 {
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-12 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}




.main-title2 {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: left;
  top: 25%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
 font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: white;

}

.main-title4 {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: left;
  top: 35%;
  left: 25%;
 font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.buat-akun
{
font-size: 26px;
font-weight: bold;
margin-bottom: 20px;
}

.buat-akun-desc
{
color: #757575;
 font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
}

.buat-akun-desc > a
{
color: #ff6d00;
}


btn.color-4 {
    background-color: #ff8d00;
    position: relative;
    cursor: pointer;
}

.btn {
    border: none;
    color: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    height: 40px;
}


.material-design {
    position: relative;
}


.button-text {
    position: relative;
    /* top: -8px; */
    left: 3px;
    text-transform: initial;
    font-size: 18px;
    font-weight: 100;
    color: white;
      font-family: 'MuseoSans-500','Roboto','Arial', sans-serif;
}

.btn.color-4 {
    background-color: #ff8d00;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px rgba(0,0,0,.08), 0 1px 1px rgba(0,0,0,0.004);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top: 1px solid #dfdfdf;
    width: 100%;
}



.material-design canvas {
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
        outline: none;
}

:focus {
    outline: none;
}

.lupa > a
{
float: right;
color: white;
font-size: 14px;
}


.container-right {
    padding-left: 80px;
    padding-right: 100px;
    display: table-cell;
}
.login
{
  top: 30% !important;
  left: 25%;
}

.forming
{
padding-top: 20px;
}



.main-title3{
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  top: 10%;
  left: 25%;
font-family: Roboto,"Helvetica Neue",Arial,"Droid Sans",sans-serif;
  font-size: 60px;

}
form {
    width: 380px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: transparent;
}
.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: white;
    width: 100%;
    border: none;
    padding-bottom: 10px;
    border-radius: 0;
    border-bottom: 2px solid white;
    /* background-color: white; */
    padding-left: 0px;
}
input, b

input:focus { outline: none; }


/* Label */
label {
    color: white;
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* active */

input:focus ~ label, input.used ~ label {
    top: -20px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    left: -17px;
    /* font-size: 14px; */
    color: #ff9600;
}

/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #ff9600;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 26px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #ff6d00;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
        margin-top: -10px;
}

.tagline {
    color: black;
    font-size: 12px;
    /* text-align: center; */
    position: relative;
    left: 15px;
}

.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
    background: #ff8d00;
    text-shadow: 1px 1px 0 rgba(255, 141, 0, .5);
}


.forming{
	position: absolute;
	z-index: 99;
}

.buttonBlue:hover { background: #ff6d00; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.error_message {
    font-style: italic;
}