{% load staticfiles %}
{% include 'web-v2/_embed_meta.html' %}
{% include 'web-v2/_embed_header.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/cart.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/responsive-cart.css' %}" />
<title>{{ title }}</title>