{% load staticfiles %}
<div class="container">
    <!-- introduce-box -->
    <div id="introduce-box" class="row">
        <div class="col-md-3">
            <div id="address-box">
                <a href="/{{ additional_url_path }}"><img alt="Your Medical Megastore - Emedis" src="{% static 'assets-v2/images/logo.png' %}" /></a>
                <div id="address-list">
                    Emedis.id merupakan perintis marketplace alat kesehatan di Indonesia
                    dengan cakupan wilayah distribusi bisnis ke seluruh pelosok Indonesia sebagai toko
                    alat kesehatan online dengan katalog terbesar dan terlengkap di Indonesia.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-4">
                    <div class="introduce-title">emedis.id</div>
                    <ul id="introduce-company"  class="introduce-list">
                        <li><a href="/page/karir/">Karir</a></li>
                        <li><a href="/page/tentang-emedis/">Tentang emedis.id</a></li>
                        <li><a href="/page/aturan-penggunaan/">Aturan Penggunaan</a></li>
                        <li><a href="/page/kebijakan-privasi/">Kebijakan Privasi</a></li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="introduce-title">Berjualan di emedis.id</div>
                    <ul id = "introduce-Account" class="introduce-list">
                        <li><a href="/page/eva/">emedis.id Vendor Alliance</a></li>
                        <li><a href="/page/berjualan-di-emedis/">Berjualan di emedis.id</a></li>
                        <li><a href="/page/menjadi-mitra-penyedia/">Menjadi Mitra Penyedia</a></li>
                        <li><a href="/page/segenap-keuntungan/">Segenap Keuntungan</a></li>
                        <li><a href="/page/mekanisme-pengadaan-sementara/">Mekasnisme Pengadaan Sederhana</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="introduce-title">Berbelanja di emedis.id</div>
                    <ul id = "introduce-support"  class="introduce-list">
                        <li><a href="/page/unduh-katalog/">Unduh Katalog</a></li>
                        <li><a href="/page/cara-berbelanja/">Cara Belanja</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="contact-box">
                <div class="introduce-title">Daftarkan Email Anda dan Dapatkan Info Diskon Terbaru dari Kami</div>
                <form method="post" id="subscribe-form">
                    <div class="input-group" id="mail-box">
                            {% csrf_token %}
                            <input type="email" placeholder="Alamat email anda" id="subscribe_email_input" required/>
                              <span class="input-group-btn">
                                <button class="btn btn-default" id="ses">OK</button>
                              </span>
                    </div><!-- /input-group -->
                </form>
                <div class="introduce-title">Ikuti Kami</div>
                <div class="social-link">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-vk"></i></a>
                    <a href="https://twitter.com/emedisID" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus" target="_blank"></i></a>
                </div>
            </div>

        </div>
    </div><!-- /#introduce-box -->
</div>

