{% load staticfiles %}
<div class="container main-header" style="border-bottom: none; box-shadow:none; transition:none;" id="product-search">
        <div class="row">
            <div class="col-xs-12 col-sm-2 logo">
                <a href="/{{ additional_url_path }}"><img alt="Your Medical Megastore - Emedis" src="{% static 'assets-v2/images/logo.png' %}" /></a>
                <div class="tagline"><i>Your Medical Megastore</i></div>
            </div>
            <div class="col-xs-7 col-sm-8 header-search-box">
                <form class="form-inline">
                    <div class="form-group form-category">
                        <select class="select-category">
                            <option value="0">Produk</option>
                            <option value="1">Kategori</option>
                        </select>
                    </div>
                    <div class="form-group input-serach">
                        <input type="text"  placeholder="Cari Produk Kesehatan Terbaik" name="search-input" autocomplete="on">
                    </div>
                    <button type="submit" id="product_search_submit" class="pull-right btn-search">CARI</button>
                    <div class="recommendationbox">
                        <span class="recommendation"><span class="pencarian">Pencarian teratas:</span><span><a href="/search/ventilator/">ventilator</a></span><span><a href="/search/ekg/">ekg</a></span><span><a href="/search/dental-unit/">dental unit</a></span><span><a href="/search/usg/">usg</a></span></span>
                    </div>
                </form>
            </div>
            {% include 'web-v2/_embed_cart.html' %}
        </div>
    </div>