{% load staticfiles %}
<div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
    <a class="cart-link" href="/checkout/">
        <span class="title">Keranjang Belanja:</span>
        <span id="total-qty-box" class="total"></span><span class="rp total">Rp&nbsp;</span><span id="shopping_cart_total" class="total front-cost"></span><span class="bottom-cost"></span>
        <span id="cart_total_qty_badge" class="notify notify-left" style="display: none;"></span>
    </a>
    <div class="cart-block">
        <div class="cart-block-content">
            <h5 class="cart-title"></h5>
            <div class="cart-block-list">
                <ul id="shopping_cart_list">
                </ul>
            </div>
            <div id="total-cart-message" class="total-cart">
                <span>Total</span>
                <span id="total-price" class="total-price pull-right"></span>
            </div>
            <div id="cart-checkout-button" class="cart-buttons">
                <button class="btn color-4 material-design button-payment" data-color="#d2181c" onclick="javascript: location.href='/checkout/';"><span class="button-text">Keranjang Belanja<i class="fa fa-arrow-right arrow-position-cart" aria-hidden="true"></i></span><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="167" height="38" style="width: 100%; height: 100%;"></canvas></button>
            </div>
        </div>
    </div>
</div>
