{% load staticfiles %}
<div class="top-header">
    <div class="container">
        <div class="nav-top-links">
            <span class="first-item" href="#"><img alt="phone" src="{% static 'assets-v2/images/distribusi.png' %}" />Distribusi Nasional</span>

        </div>
        <div class="nav-top-links">
            <span class="first-item" href="#"><img alt="phone" src="{% static 'assets-v2/images/lkpp.png' %}" />LKPP Connect</span>

        </div>
        <div class="nav-top-links">
            <span class="first-item" href="#"><img alt="phone" src="{% static 'assets-v2/images/fleksibel.png' %}" />Pembayaran Fleksibel</span>

        </div>

        <div class="nav-top-links">
            <span class="first-item" href="#"><img alt="phone" src="{% static 'assets-v2/images/garansi.png' %}" />Garansi Jaminan dan Keaslian</span>

        </div>
        <div id="user-info-top" class="user-info pull-right">
            <div class="dropdown">
                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>Untuk Pembeli</span></a>
                <ul class="dropdown-menu mega_dropdown" role="menu">
                    {% if is_login %}
                        <li><a href="#">Ganti Profil</a></li>
                        <li><a href="#">Riwayat Transaksi</a></li>
                    {% else %}
                        <li><a href="/signin/">Masuk / Bergabung</a></li>
                    {% endif %}
                </ul>
            </div>


{#            <div class="dropdown">#}
{#                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>Untuk Supplier</span></a>#}
{#                <ul class="dropdown-menu mega_dropdown dropdown-home" role="menu">#}
{#                    <li><a href="#" class="logineva">Login EVA</a></li>#}
{#                    <li><a href="#">emedis.id Vendor Alliance</a></li>#}
{#                    <li><a href="#">Berjualan di emedis.id</a></li>#}
{#                    <li><a href="#">Menjadi Mitra Penyedia</a></li>#}
{#                    <li><a href="#">Segenap Keuntungan</a></li>#}
{#                    <li><a href="#">Mekanisme Pengadaan Sederhana</a></li>#}
{#                </ul>#}
{#            </div>#}

        </div>
    </div>
</div>