{% load staticfiles %}

<script type="text/javascript" src="{% static 'assets-v2/lib/jquery/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/lib/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/lib/jquery.bxslider/jquery.bxslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/lib/owl.carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/lib/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/jquery.actual.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/lib/fancyBox/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/lib/jquery.elevatezoom.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/theme-script.js' %}"></script>
<script src="{% static 'assets-v2/lib/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/jquery.number.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/jquery.autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/subscribe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/script.js' %}"></script>