{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/select2/css/select2.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/jquery.bxslider/jquery.bxslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/owl.carousel/owl.carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/fancyBox/jquery.fancybox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/jquery-ui/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/animate.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/style.css' %}" />
<link rel="icon" href="{% static 'assets-v2/images/emedis.ico' %}" type="image/x-icon}">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>