{% load staticfiles %}
{% include 'web-v2/_embed_meta.html' %}
{% include 'web-v2/_embed_header.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/payment.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/responsive-payment.css' %}" />
<script src="https://use.fontawesome.com/46337945f8.js"></script>
<title>{{ title }}</title>
