{% load staticfiles %}
{#<script type="text/javascript">#}
{#    $(function() {#}
{#        $('a[href*="#"]:not([href="#"])').click(function() {#}
{#            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {#}
{#                var target = $(this.hash);#}
{#                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');#}
{#                if (target.length) {#}
{#                    $('html, body').animate({#}
{#                        scrollTop: target.offset().top#}
{#                    }, 1000);#}
{#                    return false;#}
{#                }#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}

<script type="text/javascript">
    var canvas = {},
            centerX = 0,
            centerY = 0,
            color = '',
            containers = document.getElementsByClassName('material-design')
    context = {},
            element = {},
            radius = 1000,

            requestAnimFrame = function() {
                return (
                        window.requestAnimationFrame ||
                        window.mozRequestAnimationFrame ||
                        window.oRequestAnimationFrame ||
                        window.msRequestAnimationFrame ||
                        function(callback) {
                            window.setTimeout(callback, 1000 / 6);
                        }
                );
            }(),

            init = function() {
                containers = Array.prototype.slice.call(containers);
                for (var i = 0; i < containers.length; i += 1) {
                    canvas = document.createElement('canvas');
                    canvas.addEventListener('click', press, false);
                    containers[i].appendChild(canvas);
                    canvas.style.width = '100%';
                    canvas.style.height = '100%';
                    canvas.width = canvas.offsetWidth;
                    canvas.height = canvas.offsetHeight;
                }
            },

            press = function(event) {
                color = event.toElement.parentElement.dataset.color;
                element = event.toElement;
                context = element.getContext('2d');
                radius = 0;
                centerX = event.offsetX;
                centerY = event.offsetY;
                context.clearRect(0, 0, element.width, element.height);
                draw();
            },

            draw = function() {
                context.beginPath();
                context.arc(centerX, centerY, radius, 0, 2* Math.PI, false);
                context.fillStyle = color;
                context.fill();
                radius += 10;
                if (radius < element.width) {
                    requestAnimFrame(draw);
                }
            };

    init();
</script>
<script type="text/javascript">
    function nav_top_click(menu) {
        if (menu == 'product-search-menu') {
            document.location.hash = '#product-search';
            nav_top_scroll('product-search-menu');
        } else if (menu == 'easy-product-order-menu') {
            document.location.hash = '#easy-product-order';
            nav_top_scroll('easy-product-order-menu');
        } else if (menu == 'why-buy-from-emedis-menu'){
            document.location.hash = '#why-buy-from-emedis';
            nav_top_scroll('why-buy-from-emedis-menu');
        }
    }
    function nav_top_scroll(menu) {
        $('product-search-menu').removeClass('active');
        $('easy-product-order-menu').removeClass('active');
        $('why-buy-from-emedis-menu').removeClass('active');
        if (menu == 'product-search-menu') {
            $('product-search-menu').addClass('active');
        } else if (menu == 'easy-product-order-menu') {
            $('easy-product-order-menu').addClass('active');
        } else if (menu == 'why-buy-from-emedis-menu') {
            $('why-buy-from-emedis-menu').addClass('active');
        }
    }
</script>

{#<script type="text/javascript">#}
{#    $(document).foundation();#}
{#    $(this).scrollTop(0);#}
{#    $('#header').waypoint(function(direction) {#}
{#        if(direction == 'down'){#}
{#            $("#header-content").fadeIn().addClass("show");#}
{#        }#}
{#        else if(direction == 'up') {#}
{#            $("#header-content").fadeOut().removeClass("show");#}
{#        }#}
{#    });#}
{#</script>#}