{% load staticfiles %}
{% include 'web-v2/_embed_meta.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/select2/css/select2.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/jquery.bxslider/jquery.bxslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/owl.carousel/owl.carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/fancyBox/jquery.fancybox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/lib/jquery-ui/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/animate.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/cart.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/style-login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets-v2/css/responsive-login.css' %}" />
<script type="text/javascript" src="{% static 'assets-v2/js/easepack.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/raf.js' %}"></script>
<script type="text/javascript" src="{% static 'assets-v2/js/tweenlite.min.js' %}"></script>

<link rel="icon" href="{% static 'assets-v2/images/emedis.ico' %}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900" rel="stylesheet" type="text/css">
<script src="{% static 'assets-v2/js/46337945f8.js' %}"></script>
<title>{{ title }}</title>
