{% load humanize %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include 'web-v2/_cart_head_part.html' %}
    {% include 'web-v2/_embed_header_analytics.html' %}
</head>
<body class="home">

<div class="header" id="header">
    {% include 'web-v2/_embed_top_header.html' %}
    {% include 'web-v2/_embed_product_search.html' %}
</div>

<div class="container content-list">
    {% if category_page %}
    <div class="directorybox2">
        <span class="directory-font"><a href="javascript: window.history.back();">< Lanjutkan Belanja</a> </span>
    </div>
    {% endif %}
    <div class="hasil-pencarian2" style="display: none;">
        <span class="">Troli Belanja Saya</span><span class="barang-ditemukan">(2 produk)</span>
    </div>

    <div class="col-md-12">
        <div class="col-md-9">
            <div id="checkout_cart_table_notification" class="warning" style="display: none;"><br />
                <h2>Tidak ada produk dalam kotak belanja Anda, silahkan klik <a style="color: #ff6d00;" href="/" class="click_here">di sini</a> untuk ke halamanan utama</h2></div>
            <div class="product-cart" style="display: none;">
                <table id="miyazaki">
                    <thead>
                    <tr>
                        <th></th>
                        <th>PESANAN ANDA</th>
                        <th></th>
                        <th>HARGA PER UNIT</th>
                        <th>JUMLAH</th>
                        <th>HARGA</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3 cart-sidebar">
            <ul>
                {#                <li class="block">#}
                {#                    <input type="checkbox" name="item" id="item1"/>#}
                {#                    <label for="item1" class="labelio">Kode Voucher</label>#}
                {#                    <div class="options voucherbox">#}
                {#                        <div class="voucherbox-text">Masukkan kode voucher jika tersedia</div>#}
                {#                        <input class="input-text" id="coupon_code" name="coupon_code" value="" placeholder="Kode Voucher" />#}
                {#                        <button class="btn color-4 material-design button-payment" data-color="#d2181c"><span class="button-text">Gunakan Voucher</span><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas></button>#}
                {#                    </div>#}
                {##}
                {#                </li>#}
                <li class="block block2">
                    <input type="checkbox" name="item" id="item2" />
                    <label for="item2" class="item2">Keranjang</label>
                    <div class="col-md-12 keranjangbox">

                        <div class="perbaris">
                            <div class="col-md-4">
							<span class="">
							Total<sub>*</sub>
							</span>
                            </div>

                            <div class="col-md-8">
                                <span id="checkout_cart_total2" class="price old-price-emedis"></span>
                            </div>
                        </div>
                        <div class="button-lanjut">
                            <button class="btn color-4 material-design button-payment-2" onclick="javascript: location.href = '{% url 'website.views.confirmation' %}';" data-color="#d2181c"><span class="button-text">Lanjut ke Pembayaran</span><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas></button>
                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</div>

<footer id="footer">
    {% include 'web-v2/_default_footer_content.html' %}
</footer>
<div id="trademark-box" class="row">
    <div class="col-sm-12">
        <ul id="trademark-list">
            <center>
                <img src="{% static 'assets-v2/images/pembayaran.jpg' %}"/>
            </center>
    </div> <!-- /#trademark-box -->

    <!-- #trademark-text-box -->

</div>

{#<div id="trademark-text-box" class="row">#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-search-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">Pencarian Teratas di Emedis.id:</li>#}
{#                <li><a href="#" >Xiaomio Mi3</a></li>#}
{#                <li><a href="#" >Digiflipo Pro XT 712 Tablet</a></li>#}
{#                <li><a href="#" >Mi 3 Phones</a></li>#}
{#                <li><a href="#" >Iphoneo 6 Plus</a></li>#}
{#                <li><a href="#" >Women's Messenger Bags</a></li>#}
{#                <li><a href="#" >Wallets</a></li>#}
{#                <li><a href="#" >Women's Clutches</a></li>#}
{#                <li><a href="#" >Backpacks Totes</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-tv-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">TVS:</li>#}
{#                <li><a href="#" >Sonyo TV</a></li>#}
{#                <li><a href="#" >Samsing TV</a></li>#}
{#                <li><a href="#" >LGG TV</a></li>#}
{#                <li><a href="#" >Onidai TV</a></li>#}
{#                <li><a href="#" >Toshibao TV</a></li>#}
{#                <li><a href="#" >Philipsi TV</a></li>#}
{#                <li><a href="#" >Micromaxo TV</a></li>#}
{#                <li><a href="#" >LED TV</a></li>#}
{#                <li><a href="#" >LCD TV</a></li>#}
{#                <li><a href="#" >Plasma TV</a></li>#}
{#                <li><a href="#" >3D TV</a></li>#}
{#                <li><a href="#" >Smart TV</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-mobile-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">MOBILES:</li>#}
{#                <li><a href="#" >Moto E</a></li>#}
{#                <li><a href="#" >Samsing Mobile</a></li>#}
{#                <li><a href="#" >Micromaxi Mobile</a></li>#}
{#                <li><a href="#" >Nokian Mobile</a></li>#}
{#                <li><a href="#" >HTCi Mobile</a></li>#}
{#                <li><a href="#" >Sonyo Mobile</a></li>#}
{#                <li><a href="#" >Appleo Mobile</a></li>#}
{#                <li><a href="#" >LGG Mobile</a></li>#}
{#                <li><a href="#" >Karbonni Mobile</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-laptop-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">LAPTOPS:</li>#}
{#                <li><a href="#" >Appleo Laptop</a></li>#}
{#                <li><a href="#" >Acer Laptop</a></li>#}
{#                <li><a href="#" >Samsing Laptop</a></li>#}
{#                <li><a href="#" >Lenov Laptop</a></li>#}
{#                <li><a href="#" >Sonyo Laptop</a></li>#}
{#                <li><a href="#" >Delli Laptop</a></li>#}
{#                <li><a href="#" >Asuso Laptop</a></li>#}
{#                <li><a href="#" >Toshibao Laptop</a></li>#}
{#                <li><a href="#" >LGG Laptop</a></li>#}
{#                <li><a href="#" >HPo Laptop</a></li>#}
{#                <li><a href="#" >Notebook</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-watches-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">WATCHES:</li>#}
{#                <li><a href="#" >FCUKo Watches</a></li>#}
{#                <li><a href="#" >Titan Watches</a></li>#}
{#                <li><a href="#" >Casioo Watches</a></li>#}
{#                <li><a href="#" >Fastrack Watches</a></li>#}
{#                <li><a href="#" >Timexi Watches</a></li>#}
{#                <li><a href="#" >Fossili Watches</a></li>#}
{#                <li><a href="#" >Dieselo Watches</a></li>#}
{#                <li><a href="#" >Toshibao Laptop</a></li>#}
{#                <li><a href="#" >Luxury Watches</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-shoes-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">FOOTWEAR:</li>#}
{#                <li><a href="#" >Shoes</a></li>#}
{#                <li><a href="#" >Casual Shoes</a></li>#}
{#                <li><a href="#" >Sports Shoes</a></li>#}
{#                <li><a href="#" >Adidasi Shoes</a></li>#}
{#                <li><a href="#" >Gas Shoes</a></li>#}
{#                <li><a href="#" >Pumai Shoes</a></li>#}
{#                <li><a href="#" >Reeboki Shoes</a></li>#}
{#                <li><a href="#" >Woodlandi Shoes</a></li>#}
{#                <li><a href="#" >Red tape Shoes</a></li>#}
{#                <li><a href="#" >Nikeo Shoes</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<div id="footer-menu-box">
    <div class="col-sm-12">

    </div>

    <p class="text-center">Copyright &#169; 2016 PT Medis Raya.</p>
</div><!-- /#footer-menu-box -->

<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>

{% include 'web-v2/_cart_js_inline.html' %}{% include 'web-v2/_cart_js_embed.html' %}
</body>
</html>