{% load humanize %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include 'web-v2/_detail_head_part.html' %}
    {% include 'web-v2/_embed_header_analytics.html' %}
</head>
<body class="detail">

<div id="header" class="header">
    {% include 'web-v2/_embed_top_header.html' %}
    {% include 'web-v2/_embed_product_search.html' %}
</div>
<div class="container content-list">
    {% if category_page %}
    <span class="directory-font"><a href="#">Kardiologi</a> / Stetoskop </span>
    {% endif %}
    <div class="clear"></div>
    <div class="col-md-9 sidebar-list">

        <!-- Product -->
        <div id="product">
            <div class="primary-box row">
                <div class="pb-left-column col-xs-12 col-sm-6">
                    <!-- product-imge-->
                    <div class="product-image">
                        <div class="product-full">
                            <img id="product-zoom" src="{{ image_url }}" data-zoom-image="{{ image_url }}" />
                        </div>
                        <div class="product-img-thumb" id="gallery_01">
{#                            <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="20" data-loop="false">#}
{#                                <li>#}
{#                                    <a href="#" data-image="{% static 'assets/data/product-s3-420x512.jpg' %}" data-zoom-image="{% static 'assets/data/product-s3-850x1036.jpg' %}">#}
{#                                        <img id="product-zoom"  src="{% static 'assets-v2/data/product-s3-100x122.jpg' %}" />#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#" data-image="assets/data/product-s2-420x512.jpg' %}" data-zoom-image="assets/data/product-s2-850x1036.jpg' %}">#}
{#                                        <img id="product-zoom"  src="{% static 'assets-v2/data/product-s2-100x122.jpg' %}" />#}
{#                                    </a>#}
{#                                </li>#}
{##}
{#                                <li>#}
{#                                    <a href="#" data-image="assets/data/product-s4-420x512.jpg' %}" data-zoom-image="assets/data/product-s4-850x1036.jpg' %}">#}
{#                                        <img id="product-zoom"  src="{% static 'assets-v2/data/product-s4-100x122.jpg' %}" />#}
{#                                    </a>#}
{#                                </li>#}
{##}
{#                            </ul>#}
                        </div>
                    </div>
                    <!-- product-imge-->
                </div>
                <div class="pb-right-column col-xs-12 col-sm-6">
                    <h1 class="product-name">{{ product }}</h1>
                    <div class="product-comments">

                        <div class="comments-advices">

                            <a href="#"> <i class="fa fa-flag" aria-hidden="true"></i>Laporkan barang</a>
                        </div>
                    </div>
                    <div class="product-price-group">
                        <span class="price-emedis-text">emedis price</span>
                    </div>
                    <div class="product-price-group">
                        <span class="price old-price-emedis"><span class="">{{ product.get_product_detail.private_price_currency }} {{ private_price.price }}</span>{{ private_price.thousands }}</span>
                        {#                        <span class="old-price"></span>#}
                        {#                        <span class="discount"></span>#}
                    </div>
{#                    <div class="product-price-group">#}
{#                        <span class="price-lkpp-text">lkpp</span>#}
{#                    </div>#}
{#                    <div class="product-price-group">#}
{#                        <span class="price old-price-lkpp"><span class="">{{ product.get_product_detail.e_catalogue_price_currency }} {{ product.get_product_detail.e_catalogue_price|floatformat:0|intcomma }}</span></span>#}
{#                    </div>#}
{#                    <div class="info-orther col-md-12">#}
{#                        <ul>#}
{#                            <li>#}
{#                                3.5" color LCD Screen#}
{#                            </li>#}
{#                            <li>#}
{#                                Built-in memory stores up to 1000 cases#}
{#                            </li>#}
{#                            <li>#}
{#                                With ECG-Sync software+USB cable#}
{#                            </li>#}
{#                        </ul>#}
{#                        <div class="more">#}
{#                            <a href="#">more...</a>#}
{#                        </div>#}
{##}
{#                    </div>#}

                    <form class="jumlahbarang">


                        <span class="jml-barang"> Jumlah :</span>
                        <div class="value-button" id="decrease" onclick="javascript: decreaseValue();" value="Decrease Value">-</div>
                        <input type="number" id="number" class="number" value="1" />
                        <div class="value-button" id="increase" onclick="javascript: increaseValue();" value="Increase Value">+</div>
                    </form>

                    <div class="col-md-12 button-details">
                        <div class="col-md-5">
                            <button data-product-id="{{ product.id }}" class="btn color-4 material-design button-payment add-product-to-cart" data-type="buy" data-color="#d2181c"><span class="button-text">Beli</span><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas></button>
                        </div>

                        <div class="col-md-7">
                            <button data-product-id="{{ product.id }}" class="btn color-4 material-design keranjang add-product-to-cart" data-type="add-to-cart" data-color="#d2181c"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="button-text">Tambahkan ke Keranjang</span><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas></button>
                        </div>


                    </div>
                    <span class="jml-barang kodeproduk">Kode Produk: {{ product.product_number }}</span>
                </div>



            </div>
        </div>
        <!-- tab product -->
        <div class="product-tab">
            <ul class="nav-tab">
                <li class="active">
                    <a aria-expanded="false" data-toggle="tab" href="#product-detail">Detail Produk</a>
                </li>
                <li>
                    <a aria-expanded="true" data-toggle="tab" href="#information">Spesifikasi</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#reviews">Lainnya</a>
                </li>
{#                <li>#}
{#                    <a data-toggle="tab" href="#extra-tabs">Tab Ekstra</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a data-toggle="tab" href="#guarantees">Garansi</a>#}
{#                </li>#}
            </ul>
            <div class="tab-container">
                <div id="product-detail" class="tab-panel active">


                    <h1 class="product-name-details">{{ product }}</h1>

                    <h2>Introduksi</h2>


{#                    <h2>Fitur Umum</h2>#}
{##}
{#                    <table class="table table-bordered">#}
{#                        <tr>#}
{#                            <td width="200">SKU</td>#}
{#                            <td>CO217HBAA4RH8AANID-9453745</td>#}
{##}
{##}
{##}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Model</td>#}
{#                            <td>ECG300G</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Berat (kg)</td>#}
{#                            <td>3.1</td>#}
{#                        </tr>#}
{#                    </table>#}


                </div>
                <div id="information" class="tab-panel">
                    <table class="table table-bordered">
                        <tr>
                            <td width="200">Spesifkasi dan Sertifikasi</td>
                            <td>{{ product.get_product_spesification_and_certification.specification }}</td>
                        </tr>
                    </table>
                </div>
                <div id="reviews" class="tab-panel">
                    <br /><br />
                </div>
            </div>
        </div>
        <!-- ./tab product -->
        <!-- box product -->
        <div sytle="display: none;" class="page-product-box" id="brand_product_related_list" name="brand_product_related_list">
            <h2>Produk Lainnya Dari Brand Ini</h2>
        </div>
        <!-- ./box product -->

    </div>











    <div class="col-md-3 sidebar-list">
        <div class="verified-box">
            Dijual dan dikirim oleh <b>emedis.id</b>
        </div>

        <center>
            <img src="{% static 'assets-v2/images/check.png' %}"/>
            <p>Produk Asli</p>
            <div class="border-sidebar"></div>
            <p>Pembayaran Aman</p>
            <div class="border-sidebar"></div>
            <p>100% Perlindungan Pembeli</p>
            <div class="border-sidebar"></div>
            <p>Jaminan Kepuasan</p>

        </center>

        <center style="display: none;" id="product_best_seller_list" name="product_best_seller_list">

            <div class="verified-box-2">
                Produk Unggulan Kami
            </div>
            <!-- start product -->
            <center>
                <div class="col-md-12 productbox">

                    <div id="button-hover">
                        <button class="btn color-4 material-design button-payment" data-color="#d2181c"><span class="button-text">Beli</span><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas><canvas width="167" height="38" style="width: 100%; height: 100%;"></canvas></button>
                    </div>

                    <div class="product-container">
                        <div class="left-block">
                            <a href="detail.html">
                                <img class="img-responsive" alt="product" src="{% static 'assets-v2/data/p402.jpg' %}">
                            </a>
                            <div class="quick-view">
                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                <a title="Add to compare" class="compare" href="#"></a>
                                <a title="Quick view" class="search" href="#"></a>
                            </div>

                        </div>
                        <div class="right-block">
                            <h5 class="product-name"><a href="#">ABN - Stetoskop ABN Spectrum - Hitam </a></h5>

                            <div class="content-price-emedis">
                                <div class="price product-price-emedis">emedis</div>
                                <span class="price old-price-emedis"><span class="">Rp. 1.200</span>.000</span>
                            </div>

                            <div class="content-price-lkpp">
                                <div class="price product-price-lkpp">lkpp</div>
                                <span class="price old-price-lkpp">Rp. 1.500.000</span>
                            </div>


                        </div>


                    </div>





                </div>

            </center>
            <!-- end product -->
    </center>
    </div>






</div>
</body>

<!-- Footer -->
<footer id="footer">
    {% include 'web-v2/_default_footer_content.html' %}
</footer>
<!-- #trademark-box -->
<div id="trademark-box" class="row">
    <div class="col-sm-12">
        <ul id="trademark-list">
            <center>
                <img src="{% static 'assets-v2/images/pembayaran.jpg' %}"/>
            </center>
        </ul>
    </div> <!-- /#trademark-box -->

    <!-- #trademark-text-box -->

</div>

{#<div id="trademark-text-box" class="row">#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-search-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">Pencarian Teratas di Emedis.id:</li>#}
{#                <li><a href="#" >Xiaomio Mi3</a></li>#}
{#                <li><a href="#" >Digiflipo Pro XT 712 Tablet</a></li>#}
{#                <li><a href="#" >Mi 3 Phones</a></li>#}
{#                <li><a href="#" >Iphoneo 6 Plus</a></li>#}
{#                <li><a href="#" >Women's Messenger Bags</a></li>#}
{#                <li><a href="#" >Wallets</a></li>#}
{#                <li><a href="#" >Women's Clutches</a></li>#}
{#                <li><a href="#" >Backpacks Totes</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-tv-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">TVS:</li>#}
{#                <li><a href="#" >Sonyo TV</a></li>#}
{#                <li><a href="#" >Samsing TV</a></li>#}
{#                <li><a href="#" >LGG TV</a></li>#}
{#                <li><a href="#" >Onidai TV</a></li>#}
{#                <li><a href="#" >Toshibao TV</a></li>#}
{#                <li><a href="#" >Philipsi TV</a></li>#}
{#                <li><a href="#" >Micromaxo TV</a></li>#}
{#                <li><a href="#" >LED TV</a></li>#}
{#                <li><a href="#" >LCD TV</a></li>#}
{#                <li><a href="#" >Plasma TV</a></li>#}
{#                <li><a href="#" >3D TV</a></li>#}
{#                <li><a href="#" >Smart TV</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-mobile-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">MOBILES:</li>#}
{#                <li><a href="#" >Moto E</a></li>#}
{#                <li><a href="#" >Samsing Mobile</a></li>#}
{#                <li><a href="#" >Micromaxi Mobile</a></li>#}
{#                <li><a href="#" >Nokian Mobile</a></li>#}
{#                <li><a href="#" >HTCi Mobile</a></li>#}
{#                <li><a href="#" >Sonyo Mobile</a></li>#}
{#                <li><a href="#" >Appleo Mobile</a></li>#}
{#                <li><a href="#" >LGG Mobile</a></li>#}
{#                <li><a href="#" >Karbonni Mobile</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-laptop-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">LAPTOPS:</li>#}
{#                <li><a href="#" >Appleo Laptop</a></li>#}
{#                <li><a href="#" >Acer Laptop</a></li>#}
{#                <li><a href="#" >Samsing Laptop</a></li>#}
{#                <li><a href="#" >Lenov Laptop</a></li>#}
{#                <li><a href="#" >Sonyo Laptop</a></li>#}
{#                <li><a href="#" >Delli Laptop</a></li>#}
{#                <li><a href="#" >Asuso Laptop</a></li>#}
{#                <li><a href="#" >Toshibao Laptop</a></li>#}
{#                <li><a href="#" >LGG Laptop</a></li>#}
{#                <li><a href="#" >HPo Laptop</a></li>#}
{#                <li><a href="#" >Notebook</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-watches-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">WATCHES:</li>#}
{#                <li><a href="#" >FCUKo Watches</a></li>#}
{#                <li><a href="#" >Titan Watches</a></li>#}
{#                <li><a href="#" >Casioo Watches</a></li>#}
{#                <li><a href="#" >Fastrack Watches</a></li>#}
{#                <li><a href="#" >Timexi Watches</a></li>#}
{#                <li><a href="#" >Fossili Watches</a></li>#}
{#                <li><a href="#" >Dieselo Watches</a></li>#}
{#                <li><a href="#" >Toshibao Laptop</a></li>#}
{#                <li><a href="#" >Luxury Watches</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-shoes-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">FOOTWEAR:</li>#}
{#                <li><a href="#" >Shoes</a></li>#}
{#                <li><a href="#" >Casual Shoes</a></li>#}
{#                <li><a href="#" >Sports Shoes</a></li>#}
{#                <li><a href="#" >Adidasi Shoes</a></li>#}
{#                <li><a href="#" >Gas Shoes</a></li>#}
{#                <li><a href="#" >Pumai Shoes</a></li>#}
{#                <li><a href="#" >Reeboki Shoes</a></li>#}
{#                <li><a href="#" >Woodlandi Shoes</a></li>#}
{#                <li><a href="#" >Red tape Shoes</a></li>#}
{#                <li><a href="#" >Nikeo Shoes</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<div id="footer-menu-box">
    <div class="col-sm-12">

    </div>

    <p class="text-center">Copyright &#169; 2016 PT Medis Raya.</p>
</div><!-- /#footer-menu-box -->

<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
{% include 'web-v2/_detail_js_inline.html' %}
{% include 'web-v2/_detail_js_embed.html' %}
</body>
</html>