{% load humanize %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include 'web-v2/_final_checkout_head_part.html' %}
    {% include 'web-v2/_embed_header_analytics.html' %}
</head>

<body class="home">

<div id="header" class="header">
    {% include 'web-v2/_embed_top_header.html' %}
    {% include 'web-v2/_embed_product_search.html' %}
</div>

<div class="container content-list">
    <div class="col-md-4 alamat-pengiriman">
        <div class="form-kontak col-md-12">
            <div class="title-kontak">
                1. Alamat Pengiriman
            </div>
            <div class="title-form">
                Nama Kontak
            </div>
            <input type="text" placeholder="Masukkan nama Anda..." class="valid" name="pic_name" id="pic_name" class="col-md-12" value="{{ customer.pic_name }}" />

            <div class="col-md-12">
                    <span class="title-form col-md-6">
		 						 		No Telepon
		 						</span>

                    <span class="title-form col-md-6">
		 						Email
		 						</span>

                <div class="col-md-6 form-kontak form-kontak-inline">
                    <span class="input-prefix">+62</span>
                    <input type="text" placeholder="821 XXX XXXX" class="valid" name="phone" id="phone" class="col-md-12" value="{{ customer.phone }}" />
                </div>

                <div class="col-md-6 form-kontak">
                    <input type="text" placeholder="Email Anda.." class="valid" name="email" id="emaill" class="col-md-12" value="{{ customer.email }}" />
                </div>

                <div class="col-md-6 form-kontak form-desc">
                    Contoh: +62 812345678, bila nomor HP anda 0812345678
                </div>
                <div class="col-md-6 form-kontak form-desc">
                    Contoh: email@example.com
                </div>

                <div class="col-md-12 form-bawah">

                    <div class="col-md-3 form-kontak kontak-responsive">
                        Alamat Penerima
                    </div>

                    <div class="col-md-9 textarea-kontak">
                            <textarea rows="2" placeholder="Tulis alamat lengkap...">
                                 {{ customer.address }}
                            </textarea>
                    </div>

                </div>

                <div class="col-md-12 form-bawah">

                    <div class="col-md-3 form-kontak kontak-responsive">
                        Kota
                    </div>

                    <div class="col-md-9 textarea-kontak">
                        <select name="kab" class="form-control" id="kabupaten">
                            <option value=''>Select Kota/Kabupaten</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 form-bawah">

                    <div class="col-md-3 form-kontak kontak-responsive">
                        Kecamatan
                    </div>

                    <div class="col-md-9 textarea-kontak">
                        <select name="kec" class="form-control" id="kecamatan">
                            <option>Select Kecamatan</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 form-bawah">

                    <div class="col-md-3 form-kontak kontak-responsive">
                        Kode Pos
                    </div>

                    <div class="col-md-9 form-kontak">
                        <input type="text" placeholder="Kode Pos" class="valid" name="zip_code" id="zip_code" class="col-md-12" value="{{ customer.zip_code }}" />
                        </textarea>
                    </div>

                </div>

            </div>

        </div>
        {#        <button class="btn color-4 material-design button-payment" data-color="#d2181c"><span class="button-text">Lanjut Pembayaran</span>#}
        {#            <canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas> <i class="fa fa-arrow-right arrow-position" aria-hidden="true"></i></button>#}
    </div>
    <div class="col-md-4 metode-pembayaran">
        <div class="form-kontak col-md-12">
            <div class="title-kontak">
                2. Pilih Metode Pembayaran
            </div>

            <main class="metode-box">

                <input id="tab1" type="radio" name="tabs" checked>

                <label for="tab1">Bank Transfer</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">Bayar di Tempat (COD)</label>

                <section id="content1">
                    <p>
                        Metode Bank Transfer dapat ditujukan kepada PT MEDIS RAYA di salah satu Bank berikut:
                        <br> - Bank BCA
                        <br> - Bank Mandiri
                        <br>
                        <br> Transfer dapat dilakukan melalui ATM/Internet Banking/SMS Banking setelah order dipesan (Setelah menekan Bayar Melalui Transfer di step ke 3 - review order)
                        <br>
                        <br> Instruksi lebih lanjut mengenai bagaimana cara transfer juga akan diberikan setelah halaman ini. Barang langsung dikirim setelah pembayaran diproses.
                    </p>
                    <p>

                    </p>
                </section>

                <section id="content2">
                    <p>
                        Metode bayar di tempat (Cash on Delivery).
                        <br>
                        <br> Barang yang Anda pesan akan langsung dikirim. Ketika barang Anda sampai, mohon membayar sesuai total transaksi kepada kurir kami.
                        <br>
                        <br> Mohon menyiapkan uang pas untuk memudahkan transaksi.
                    </p>
                    <p>

                    </p>
                </section>

            </main>
        </div>

    </div>
    <div class="col-md-4 review-order">
        <div class="form-kontak col-md-12">
            <div class="title-kontak">
                3. Review Order
            </div>
            <div class="image-gutter col-md-12">
                {% for cart_detail in cart_detail_list %}
                    <div class="imagecart col-md-3">
                        <img src="{{ cart_detail.product_image_url }}" />
                    </div>
                {% endfor %}

                {% for cart_detail in cart_detail_list %}
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span class="">
                                {{ cart_detail.product_name }}&nbsp;x&nbsp;{{ cart_detail.product_qty }}
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="cart-cost">
                                <span class="price old-price-emedis"><span class="">{{ cart_detail.private_price_currency }}&nbsp;{{ cart_detail.private_price.price }}</span>{{ cart_detail.private_price.thousands }}</span>
                            </span>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-md-12">
                    <div class="col-md-6">
                        <span class="">Biaya Kirim</span>
                    </div>

                    <div class="col-md-6">
                            <span class="cart-cost">
                                <span class="price old-price-emedis"><span class="">IDR </span>0</span>
                            </span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6">
                        <span class="">Installasi</span>
                    </div>
                    <div class="col-md-6">
                            <span class="cart-cost">
                                <span class="price old-price-emedis"><span class="">IDR </span>0</span>
                            </span>
                    </div>
                </div>

                <div class="col-md-12 penghematan">
                    <div class="col-md-6">
                        <span class="">Penghematan</span>
                    </div>
                    <div class="col-md-6">
                            <span class="cart-cost">
                                <span class="price old-price-emedis"><span class="">IDR </span>0</span>
                            </span>
                    </div>
                </div>

                <div class="col-md-12 total-harga">
                    <div class="col-md-6">
                        <span class="total">Total</span>
                    </div>

                    <div class="col-md-6">
                            <span class="cart-cost"><span class="price old-price-emedis"><span class="">IDR {{ cart_total.price }}</span>{{ cart_total.thousands }}</span>
                            </span>
                    </div>

                    <button class="btn color-4 material-design masukkan-pesanan" data-color="#d2181c" onclick="javascript: location.href = '{% url 'website.views.direct_payment' %}';"><span class="button-text">Masukkan Pesanan</span>
                        <canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas> <i class="fa fa-arrow-right arrow-position" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

</body>

<!-- Footer -->
<footer id="footer">
    {% include 'web-v2/_default_footer_content.html' %}
</footer>
<!-- #trademark-box -->
<div id="trademark-box" class="row">
    <div class="col-sm-12">
        <ul id="trademark-list">
            <center>
                <img src="{% static 'assets-v2/images/pembayaran.jpg' %}" />
            </center>
        </ul>
    </div>
    <!-- /#trademark-box -->

    <!-- #trademark-text-box -->

</div>

{#<div id="trademark-text-box" class="row">#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-search-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">Pencarian Teratas di Emedis.id:</li>#}
{#                <li><a href="#">Xiaomio Mi3</a></li>#}
{#                <li><a href="#">Digiflipo Pro XT 712 Tablet</a></li>#}
{#                <li><a href="#">Mi 3 Phones</a></li>#}
{#                <li><a href="#">Iphoneo 6 Plus</a></li>#}
{#                <li><a href="#">Women's Messenger Bags</a></li>#}
{#                <li><a href="#">Wallets</a></li>#}
{#                <li><a href="#">Women's Clutches</a></li>#}
{#                <li><a href="#">Backpacks Totes</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-tv-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">TVS:</li>#}
{#                <li><a href="#">Sonyo TV</a></li>#}
{#                <li><a href="#">Samsing TV</a></li>#}
{#                <li><a href="#">LGG TV</a></li>#}
{#                <li><a href="#">Onidai TV</a></li>#}
{#                <li><a href="#">Toshibao TV</a></li>#}
{#                <li><a href="#">Philipsi TV</a></li>#}
{#                <li><a href="#">Micromaxo TV</a></li>#}
{#                <li><a href="#">LED TV</a></li>#}
{#                <li><a href="#">LCD TV</a></li>#}
{#                <li><a href="#">Plasma TV</a></li>#}
{#                <li><a href="#">3D TV</a></li>#}
{#                <li><a href="#">Smart TV</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-mobile-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">MOBILES:</li>#}
{#                <li><a href="#">Moto E</a></li>#}
{#                <li><a href="#">Samsing Mobile</a></li>#}
{#                <li><a href="#">Micromaxi Mobile</a></li>#}
{#                <li><a href="#">Nokian Mobile</a></li>#}
{#                <li><a href="#">HTCi Mobile</a></li>#}
{#                <li><a href="#">Sonyo Mobile</a></li>#}
{#                <li><a href="#">Appleo Mobile</a></li>#}
{#                <li><a href="#">LGG Mobile</a></li>#}
{#                <li><a href="#">Karbonni Mobile</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-laptop-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">LAPTOPS:</li>#}
{#                <li><a href="#">Appleo Laptop</a></li>#}
{#                <li><a href="#">Acer Laptop</a></li>#}
{#                <li><a href="#">Samsing Laptop</a></li>#}
{#                <li><a href="#">Lenov Laptop</a></li>#}
{#                <li><a href="#">Sonyo Laptop</a></li>#}
{#                <li><a href="#">Delli Laptop</a></li>#}
{#                <li><a href="#">Asuso Laptop</a></li>#}
{#                <li><a href="#">Toshibao Laptop</a></li>#}
{#                <li><a href="#">LGG Laptop</a></li>#}
{#                <li><a href="#">HPo Laptop</a></li>#}
{#                <li><a href="#">Notebook</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-watches-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">WATCHES:</li>#}
{#                <li><a href="#">FCUKo Watches</a></li>#}
{#                <li><a href="#">Titan Watches</a></li>#}
{#                <li><a href="#">Casioo Watches</a></li>#}
{#                <li><a href="#">Fastrack Watches</a></li>#}
{#                <li><a href="#">Timexi Watches</a></li>#}
{#                <li><a href="#">Fossili Watches</a></li>#}
{#                <li><a href="#">Dieselo Watches</a></li>#}
{#                <li><a href="#">Toshibao Laptop</a></li>#}
{#                <li><a href="#">Luxury Watches</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul id="trademark-shoes-list" class="trademark-list">#}
{#                <li class="trademark-text-tit">FOOTWEAR:</li>#}
{#                <li><a href="#">Shoes</a></li>#}
{#                <li><a href="#">Casual Shoes</a></li>#}
{#                <li><a href="#">Sports Shoes</a></li>#}
{#                <li><a href="#">Adidasi Shoes</a></li>#}
{#                <li><a href="#">Gas Shoes</a></li>#}
{#                <li><a href="#">Pumai Shoes</a></li>#}
{#                <li><a href="#">Reeboki Shoes</a></li>#}
{#                <li><a href="#">Woodlandi Shoes</a></li>#}
{#                <li><a href="#">Red tape Shoes</a></li>#}
{#                <li><a href="#">Nikeo Shoes</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div id="footer-menu-box">
    <div class="col-sm-12">

    </div>

    <p class="text-center">Copyright &#169; 2016 PT Medis Raya.</p>
</div>
<!-- /#footer-menu-box -->

<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>

<!-- Script-->

{% include 'web-v2/_final_checkout_js_inline.html' %}
{% include 'web-v2/_final_checkout_js_embed.html' %}
</body>

</html>