{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include 'web-v2/_home_head_part.html' %}
    {% include 'web-v2/_embed_header_analytics.html' %}
</head>
<body class="home">

<div id="header" class="header">
    {% include 'web-v2/_embed_top_header.html' %}
    {% include 'web-v2/_embed_product_search.html' %}
</div>
<!-- Home slideder-->
<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 header-top-right">
                <div class="homeslider">
                    <div class="content-slide">
                        <ul id="contenhomeslider">
                            <li><a href="#"><img alt="Funky roots" src="{% static 'assets-v2/data/slider.jpg' %}" title="Funky roots" /></a></li>
                            <li><a href="#"><img alt="Funky roots" src="{% static 'assets-v2/data/slider.jpg' %}" title="Funky roots" /></a></li>
                            <li><a href="#"><img  alt="Funky roots" src="{% static 'assets-v2/data/slider.jpg' %}" title="Funky roots" /></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END Home slideder-->

<div id="nav-top-menu" class="nav-top-menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="box-vertical-megamenus">
                <span class="category">Kategori Produk di emedis.id:</span>
            </div>
            <div id="main-menu" class="col-sm-12 main-menu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="#">MENU</a>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <div id="header-content"><img src="{% static 'assets-v2/images/logo.png' %}"/></div>
                            <ul class="nav navbar-nav">
                                <li class="fixedmenu-1" id="product-search-menu">
                                    <img src="{% static 'assets-v2/images/fixedmenu-1.png' %}" class="fixedmenuimg"/>
                                    <a class="" href="javascript: nav_top_click('product-search-menu');">Cari Produk dan Suppliers</a>

                                </li>
                                <li class="fixedmenu-2" id="easy-product-order-menu">
                                    <img src="{% static 'assets-v2/images/fixedmenu-2-inactive.png' %}" class="fixedmenu2img"/>
                                    <a class="" href="javascript: nav_top_click('easy-product-order-menu');">Cara Pemesanaan Mudah</a>
                                </li>
                                <li class="fixedmenu-3" id="why-buy-from-emedis-menu">
                                    <img src="{% static 'assets-v2/images/fixedmenu-3-inactive.png' %}" class="fixedmenu2img"/>
                                    <a class="" href="javascript: nav_top_click('why-buy-from-emedis-menu');">Kenapa Berbelanja di Emedis.id</a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
<!-- servives -->
<div class="top-box">
    <div class="container">
        <div class="service">
            <div class="temukantext">
                Temukan berbagai macam produk alat kesehatan terbaik di <a href="#"><span class="emedistext">emedis.id</span></a>
            </div>
        </div>
    </div>
</div>
<!-- end services -->
<!---->
<div id="content-wrap">
    <div class="container">
        <div id="hot-categories" class="row">
            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-rumah-sakit-umum-dan-perorangan-rsu-p/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-1.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">RS Umum & Perorangan</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->




            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-bedah-umum-dan-bedah-plastik/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-2.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Bedah Umum & Plastik</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->



            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-ortopedi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-3.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Ortopedi</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->



            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-kimia-klinik-dan-toksikologi-klinik/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-4.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Kimia &
                                    Toksikologi Klinik</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>

            </div><!-- /.cate-box -->



            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-anastesi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-5.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Anestesi</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->
            <!-- /.cate-box -->


            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-kardiologi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-6.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Kardiologi</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->



            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-obstetrik-dan-ginekologi-og/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-7.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Obstetrik & Ginekologi</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->



            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-gastroenterologi-urologi-gu/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-8.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Gastroenterologi - Urologi</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->




            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-radiologi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-9.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Radiologi</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->




            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-hematologi-dan-patologi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-10.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Hematologi & Patologi</p>
                            </div>

                        </div>
                    </a><!-- /.cate-box -->
                </center>
            </div><!-- /.cate-box -->




            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-gigi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-11.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Gigi</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->



            <div class="col-sm-6  col-lg-3 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/antiseptika-dan-desinfektan/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-12.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name">Antiseptika & Disinfektan</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->

            <div class="col-sm-6  col-lg-2 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-imunologi-dan-mikrobiologi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-13.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name cate-name-2">Imunologi &
                                    Mikrobiologi</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->

            <div class="col-sm-6  col-lg-2 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-kesehatan-fisik/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-14.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name cate-name-2">Kesehatan Fisik</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->

            <div class="col-sm-6  col-lg-2 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-neurologi/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-15.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name cate-name-2">Neurologi</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->

            <div class="col-sm-6  col-lg-2 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-telinga-hidung-dan-tenggorokan-tht/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-16.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name cate-name-2">Telinga, Hidung
                                    & Tenggorokan</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->

            <div class="col-sm-6  col-lg-2 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/peralatan-mata/">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-17.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name cate-name-2">Mata</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->

            <div class="col-sm-6  col-lg-2 cate-box">
                <center>
                    <a href="/{{ additional_url_path }}category/lainnya">
                        <div class="cate-tit" >
                            <div class="div-1" style="width: 100%;">
                                <div class="cate-name-wrap">
                                    <div class="div-2" >

                                        <img src="{% static 'assets-v2/images/icon-18.png' %}" alt="Electronics" class="hot-cate-img" />

                                    </div>
                                </div>
                                <p class="cate-name  cate-name-2">Lainnya</p>
                            </div>

                        </div>
                    </a>
                </center>
            </div><!-- /.cate-box -->

            <!-- servives -->



            <div class="container">
                <div class="marketplacealat">
                    <div class="title-section">
                        <center>

                            <div class="marketplace-terbesar">
                                Marketplace Alat Kesehatan <span style="color:#ff6d00;">Pertama </span>dan <span style="color:#ff6d00;">Terbesar</span> di Indonesia. <br>
                                <span style="color:#ff8d00;">5000+</span> Jaringan Pembeli, <span style="color:#ff6d00;">150+</span> Distributor Utama, <span style="color:#ff6d00;">300+</span> Merk Terdaftar
                            </div>



                            <div class="produk-resmi">
                                <span style="color:#ff6d00;">25,000+</span> Produk Resmi
                            </div>

                        </center>


                    </div>
                </div>
            </div>



            <div class="container produk-resmi">
                <div class="service">
                    <div class="col-xs-12">
                        <center>
                            <img src="{% static 'assets-v2/images/product-list.jpg' %}" class="productlist"/>

                            <div class="container">
                                <center>
                                    <button class=
                                                    "btn color-4 material-design" data-color="#d2181c"><span class=
                                                                                                                     "button-text">Lihat Merk Terdaftar</span></button>
                                </center>
                            </div>
                        </center>
                    </div>
                </div>
            </div>

            <!-- end services -->

            <div class="container" id="easy-product-order">
                <div class="marketplacealat">
                    <div class="title-section">
                        <center>

                            <div class="pemesananmudah">
                                Cara Pemesanan Mudah di <span style="color:#ff6d00;">emedis.id</span>
                            </div>



                        </center>


                    </div>
                </div>
            </div>

            <!-- servives -->
            <div class="container produk-resmi">
                <div class="service bs-example">
                    <ul class="progress-bar">
                        <li class="progress-bar__steps active">
                            <a data-toggle="tab" href="#sectionA">
                                <center>
                                    <span class="progress-bar__steps--text">Pemilihan Produk</span>
                                </center>

                                <i class="process-mark-inactive"></i>
                            </a>
                        </li>
                        <li class="progress-bar__steps not-current" data-tab="tab-2">
                            <a data-toggle="tab" href="#sectionB">
                                <center>
                                    <span class="progress-bar__steps--text">Purchase Request</span>
                                </center>
                                <i class="process-mark-inactive"></i>
                            </a>
                        </li>
                        <li class="progress-bar__steps not-current">
                            <a data-toggle="tab" href="#sectionC">
                                <center>
                                    <span class="progress-bar__steps--text">Penawaran</span>
                                </center>

                                <i class="process-mark-inactive"></i>
                            </a>
                        </li>
                        <li class="progress-bar__steps not-current">
                            <a data-toggle="tab" href="#sectionD">
                                <center>
                                    <span class="progress-bar__steps--text"> Pembayaran</span>
                                </center>

                                <i class="process-mark-inactive"></i>
                            </a>
                        </li>
                        <li class="progress-bar__steps not-current">
                            <a data-toggle="tab" href="#sectionE">
                                <center>
                                    <span class="progress-bar__steps--text">Pengiriman</span>
                                </center>
                                <i class="process-mark-inactive"></i>
                            </a>
                        </li>
                    </ul>
                    </center>

                    <div class="cara-description tab-content" id="tab-1">
                        <div id="sectionA" class="tab-pane fade in active">
                            <div class="col-sm-6  col-lg-5">
                                <img src="{% static 'assets-v2/images/cara-1.png' %}"/>
                            </div>

                            <div class="col-sm-6  col-lg-7">
                                <div class="carabox">
                                    <div class="cara-title">Produk Berlisensi</div>
                                    <div class="cara-subtitle">
                                        Hampir seluruh produk alat medis yang berlisensi di Indonesia ada di Emedis.
                                        Nikmati kenyamanan memilih produk sesuai dengan kebutuhan Anda.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- startsection-->
                        <div id="sectionB" class="tab-pane fade">
                            <div class="col-sm-6  col-lg-5">
                                <img src="{% static 'assets-v2/images/cara-2.png' %}"/>
                            </div>
                            <div class="col-sm-6  col-lg-7">
                                <div class="carabox">
                                    <div class="cara-title">Purchase Request</div>
                                    <div class="cara-subtitle">
                                        Konfirmasi pesanan Anda dan kami akan segera kembali
                                        kepada Anda dengan penawaran akhir yang mencakup total
                                        biaya (termasuk pengiriman, instalasi dan pelatihan bila ada)
                                        tanpa ada biaya tak terduga
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- closedsection-->
                        <!-- startsection-->
                        <div id="sectionC" class="tab-pane fade">
                            <div class="col-sm-6  col-lg-5">
                                <img src="{% static 'assets-v2/images/cara-3.png' %}"/>
                            </div>
                            <div class="col-sm-6  col-lg-7">
                                <div class="carabox">
                                    <div class="cara-title">Penawaran</div>
                                    <div class="cara-subtitle">
                                        Dapatkan penawaran terbaik maksimal hanya dalam 2 hari kerja
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- closedsection-->
                        <!-- startsection-->
                        <div id="sectionD" class="tab-pane fade">
                            <div class="col-sm-6  col-lg-5">
                                <img src="{% static 'assets-v2/images/cara-4.png' %}"/>
                            </div>

                            <div class="col-sm-6  col-lg-7">
                                <div class="carabox">
                                    <div class="cara-title">Pembayaran</div>
                                    <div class="cara-subtitle">
                                        Nikmati keamanan dan fleksibilitas bertransaksi di Emedis
                                        yang didukung oleh cash discount dan Emedis e-Credit </div>
                                </div>
                            </div>
                        </div>
                        <!-- closedsection-->
                        <!-- startsection-->
                        <div id="sectionE" class="tab-pane fade">
                            <div class="col-sm-6  col-lg-5">
                                <img src="{% static 'assets-v2/images/cara-5.png' %}"/>
                            </div>
                            <div class="col-sm-6  col-lg-7">
                                <div class="carabox">
                                    <div class="cara-title">Pengiriman</div>
                                    <div class="cara-subtitle">
                                        Pesanan Anda siap dikirim dengan proteksi dan solusi
                                        menyeluruh dari Emedis Logistics
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- closedsection-->
                    </div>
                </div>
            </div>
            <!-- end services -->
        </div> <!-- /.container -->
        <div class="container" id="why-buy-from-emedis">
            <div class="marketplacealat">
                <div class="title-section">
                    <center>
                        <div class="marketplace-terbesar">
                            Kenapa Berbelanja di <span style="color:#ff6d00;">emedis.id</span><br>
                            Akan Membantu Dan Memudahkan Pekerjaan Anda</div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="container">
            <div class="row banner-bottom">
                <div class="col-sm-6">
                    <div class="banner-boder-zoom">
                        <div class="kenapabox">
                            <img src="{% static 'assets-v2/images/kenapa-1.png' %}" class="kenapa" />
                            <div class="kenapatext-1">
                                Emedis Big Catalog
                            </div>
                            <div class="kenapatext-2">
                                Bingung dan tertekan karena harus sourcing dalam
                                waktu yang singkat?<br>
                                <br>
                                Seluruh produk di Emedis bersumber langsung dari jaringan
                                distributor utama di Indonesia sehingga kami dapat
                                memastikan penawaran yang terbaik dan terlengkap untuk
                                Anda.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="banner-boder-zoom">
                        <div class="kenapabox">
                            <img src="{% static 'assets-v2/images/kenapa-2.png' %}" class="kenapa-2" />
                            <div class="kenapatext-1">
                                Emedis e-Credit
                            </div>
                            <div class="kenapatext-2">
                                Beli Sekarang, Bayar Kemudian
                                Dapatkan solusi pembayaran yang atraktif dan fleksibel dalam
                                bertransaksi di Emedis.<br><br>
                                Dapatkan juga cash discount jika Anda melakukan pelunasan
                                secara tunai di awal.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="banner-boder-zoom-2">
                        <div class="kenapabox-2">
                            <img src="{% static 'assets-v2/images/kenapa-3.png' %}" class="kenapa-3" />
                            <div class="kenapatext-1">
                                Emedis 360 Solution
                            </div>
                            <div class="kenapatext-2">
                                Mau menghemat waktu dan biaya? Kami siap membantu
                                Anda.<br><br>
                                Dapatkan total solusi dari konsultan kami dalam membantu
                                operasional pengadaan Anda baik untuk rumah sakit maupun
                                klinik/puskemas yang berskala lebih kecil.<br><br>
                                •	Kustomisasi segala bentuk permintaan dalam pengadaan
                                Anda (Bulk Order)<br>
                                •	Bantuan konsultasi dari tenaga ahli kami dalam membantu
                                operasional pengadaan Anda<br>
                                •	Penawaran terbaik (Quotation) langsung dari distributor
                                utama tanpa ada biaya tak terduga (hidden fee)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="banner-boder-zoom-2">
                        <div class="kenapabox">
                            <img src="{% static 'assets-v2/images/kenapa-4.png' %}" class="kenapa-4" />
                            <div class="kenapatext-1">
                                Emedis Logistics
                            </div>
                            <div class="kenapatext-2">
                                Dapatkan proteksi menyeluruh atas pesanan Anda
                                <br><br>
                                Dengan logistik terintegrasi, dapatkan keamanan dan proteksi
                                menyeluruh dalam pengiriman produk Anda di Emedis.
                                Cakupan wilayah distribusi ke hampir seluruh pelosok daerah
                                di Indonesia.
                                <br><br>
                                Pengawasan atas seluruh produk sebelum distribusi
                                memastikan transaksi Anda bebas dari kekhawatiran.
                                <br><br>
                                •	Aman, Ekonomis<br>
                                •	100% Garansi pengiriman<br>
                                •	100% Jaminan keaslian produk
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end banner bottom -->
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer">
        {% include 'web-v2/_default_footer_content.html' %}
    </footer>
    <!-- #trademark-box -->
    <div id="trademark-box" class="row">
        <div class="col-sm-12">
            <ul id="trademark-list">
                <center>
                    <img src="{% static 'assets-v2/images/pembayaran.jpg' %}"/>
                </center>
            </ul>
        </div> <!-- /#trademark-box -->
        <!-- #trademark-text-box -->
    </div>

    {#    <div id="trademark-text-box" class="row">#}
    {#        <div class="col-sm-12">#}
    {#            <div class="container">#}
    {#                <ul id="trademark-search-list" class="trademark-list">#}
    {#                    <li class="trademark-text-tit">Pencarian Teratas di Emedis.id:</li>#}
    {#                    <li><a href="#" >Xiaomio Mi3</a></li>#}
    {#                    <li><a href="#" >Digiflipo Pro XT 712 Tablet</a></li>#}
    {#                    <li><a href="#" >Mi 3 Phones</a></li>#}
    {#                    <li><a href="#" >Iphoneo 6 Plus</a></li>#}
    {#                    <li><a href="#" >Women's Messenger Bags</a></li>#}
    {#                    <li><a href="#" >Wallets</a></li>#}
    {#                    <li><a href="#" >Women's Clutches</a></li>#}
    {#                    <li><a href="#" >Backpacks Totes</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-sm-12">#}
    {#            <div class="container">#}
    {#                <ul id="trademark-tv-list" class="trademark-list">#}
    {#                    <li class="trademark-text-tit">TVS:</li>#}
    {#                    <li><a href="#" >Sonyo TV</a></li>#}
    {#                    <li><a href="#" >Samsing TV</a></li>#}
    {#                    <li><a href="#" >LGG TV</a></li>#}
    {#                    <li><a href="#" >Onidai TV</a></li>#}
    {#                    <li><a href="#" >Toshibao TV</a></li>#}
    {#                    <li><a href="#" >Philipsi TV</a></li>#}
    {#                    <li><a href="#" >Micromaxo TV</a></li>#}
    {#                    <li><a href="#" >LED TV</a></li>#}
    {#                    <li><a href="#" >LCD TV</a></li>#}
    {#                    <li><a href="#" >Plasma TV</a></li>#}
    {#                    <li><a href="#" >3D TV</a></li>#}
    {#                    <li><a href="#" >Smart TV</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-sm-12">#}
    {#            <div class="container">#}
    {#                <ul id="trademark-mobile-list" class="trademark-list">#}
    {#                    <li class="trademark-text-tit">MOBILES:</li>#}
    {#                    <li><a href="#" >Moto E</a></li>#}
    {#                    <li><a href="#" >Samsing Mobile</a></li>#}
    {#                    <li><a href="#" >Micromaxi Mobile</a></li>#}
    {#                    <li><a href="#" >Nokian Mobile</a></li>#}
    {#                    <li><a href="#" >HTCi Mobile</a></li>#}
    {#                    <li><a href="#" >Sonyo Mobile</a></li>#}
    {#                    <li><a href="#" >Appleo Mobile</a></li>#}
    {#                    <li><a href="#" >LGG Mobile</a></li>#}
    {#                    <li><a href="#" >Karbonni Mobile</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-sm-12">#}
    {#            <div class="container">#}
    {#                <ul id="trademark-laptop-list" class="trademark-list">#}
    {#                    <li class="trademark-text-tit">LAPTOPS:</li>#}
    {#                    <li><a href="#" >Appleo Laptop</a></li>#}
    {#                    <li><a href="#" >Acer Laptop</a></li>#}
    {#                    <li><a href="#" >Samsing Laptop</a></li>#}
    {#                    <li><a href="#" >Lenov Laptop</a></li>#}
    {#                    <li><a href="#" >Sonyo Laptop</a></li>#}
    {#                    <li><a href="#" >Delli Laptop</a></li>#}
    {#                    <li><a href="#" >Asuso Laptop</a></li>#}
    {#                    <li><a href="#" >Toshibao Laptop</a></li>#}
    {#                    <li><a href="#" >LGG Laptop</a></li>#}
    {#                    <li><a href="#" >HPo Laptop</a></li>#}
    {#                    <li><a href="#" >Notebook</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-sm-12">#}
    {#            <div class="container">#}
    {#                <ul id="trademark-watches-list" class="trademark-list">#}
    {#                    <li class="trademark-text-tit">WATCHES:</li>#}
    {#                    <li><a href="#" >FCUKo Watches</a></li>#}
    {#                    <li><a href="#" >Titan Watches</a></li>#}
    {#                    <li><a href="#" >Casioo Watches</a></li>#}
    {#                    <li><a href="#" >Fastrack Watches</a></li>#}
    {#                    <li><a href="#" >Timexi Watches</a></li>#}
    {#                    <li><a href="#" >Fossili Watches</a></li>#}
    {#                    <li><a href="#" >Dieselo Watches</a></li>#}
    {#                    <li><a href="#" >Toshibao Laptop</a></li>#}
    {#                    <li><a href="#" >Luxury Watches</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-sm-12">#}
    {#            <div class="container">#}
    {#                <ul id="trademark-shoes-list" class="trademark-list">#}
    {#                    <li class="trademark-text-tit">FOOTWEAR:</li>#}
    {#                    <li><a href="#" >Shoes</a></li>#}
    {#                    <li><a href="#" >Casual Shoes</a></li>#}
    {#                    <li><a href="#" >Sports Shoes</a></li>#}
    {#                    <li><a href="#" >Adidasi Shoes</a></li>#}
    {#                    <li><a href="#" >Gas Shoes</a></li>#}
    {#                    <li><a href="#" >Pumai Shoes</a></li>#}
    {#                    <li><a href="#" >Reeboki Shoes</a></li>#}
    {#                    <li><a href="#" >Woodlandi Shoes</a></li>#}
    {#                    <li><a href="#" >Red tape Shoes</a></li>#}
    {#                    <li><a href="#" >Nikeo Shoes</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div id="footer-menu-box">
        <div class="col-sm-12">
        </div>
        <p class="text-center">Copyright &#169; 2016 PT Medis Raya.</p>
    </div><!-- /#footer-menu-box -->
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
</div>
{% include 'web-v2/_home_js_inline.html' %} {% include 'web-v2/_home_js_embed.html' %}
</body>
</html>