{% load staticfiles %}
<!doctype html>
<html class='no-js' lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{ title }}</title>
    <link rel='stylesheet' href='{% static 'assets-v2/css/foundation.min.css'%}' />
    <link rel='stylesheet' href='{% static 'assets-v2/css/foundation-flex.css'%}' />
    <link rel='stylesheet' href='{% static 'assets-v2/css/app.css'%}' />
    <link type="text/css" rel="stylesheet" media="screen, print" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <style>
        body {
            font-family: Roboto;
            font-weight: 400;
            font-size: 19px;
        }
    </style>
    <link
            rel="shortcut icon"
            href="{%  static 'assets-v2/images/emedisico.png' %}"
            type="image/ico"
    />
</head>
<body>
<div class="row">
    <div class="small-6 columns small-centered">
        <div id="alert_notification" data-alert class="alert-box alert"  style="display: none;">
            <i class="fi-x"></i> <b>GAGAL</b>. Email Anda belum berhasil kami terima. Mohon sertakan kembali email Anda yang valid.
        </div>
        <div id="success_notification" data-alert class="alert-box success"  style="display: none;">
            <i class="fi-check"></i> <b>BERHASIL</b>. Email Anda telah berhasil kami terima. Nantikan update dari kami segera.
        </div>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72322075-1', 'auto');
    ga('send', 'pageview');
</script>
<br />
<div class="row align-center" style="padding-top:20px">
    <div class="valign-center">
        <img src="{% static 'assets-v2/images/emedis-logo1.png'%}" alt="Emedis" title="Emedis" />
    </div>
</div>
<br />
<div class="row align-center" style="padding-top:20px">
    <div class="orange-content"><font size="45pt" style="font-weight:bold">Opening&nbsp</font></div>
    <div><span class="gray-text"><font size="45pt" style="font-weight:bold">Real Soon</font></span></div>
</div>
<br />
<div class="row align-center" style="padding-top:20px">
  <div><span class="gray-text"><p align="center"><font size="3pt">We are operating on a selective business network at the moment. Our full public services will be widely available very soon.
<br>Simply drop us your email for your private access invitation.<p></font></span></div>

<div class="row align-center" style="width:100%">
    <div class="input-group large-4 medium-6 small-10">
        <input id="email_addr" name="email_addr" class="input-group-field" type="email" placeholder="Your Email">
        <div class="input-group-button">
            <a href="#" id="submit_email" name="submit_email" class="expanded button" style="width: 150px;height: 40px">INVITE ME</a>
        </div>
    </div>
</div>
<div class="row align-center" style="padding-top:50px">
    <div class="content" style="text-align: center">
        <div><span class="gray-text"><font size="3pt">We look forward to meeting you at <b>29th Indonesia International Hospital Expo 2016 at JCC, October 19-22, 2016 (Booth AS-50)</b>.
<br>Should you need any assistance, please contact </span><span class="gray-text"><a href="mailto:eva@emedis.id" style="color: #ed5412">eva@emedis.id</a></span><span class="gray-text"> or </span><span class="gray-text" style="color: #ed5412;">+62811138858</font></span></div>
    </div>
</div>
<br />
</div>
<br /><br />
<div class="row align-center">
    <footer style="visibility:hidden;">
        <div class="footer-class">Copyright &copy;2016 emedis.id</div>
    </footer>
</div>
<script src="{% static 'assets-v2/js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'assets-v2/js/foundation.min.js' %}"></script>
<script src="{% static 'assets-v2/js/stickyFooter.js' %}"></script>
<script src="{% static 'assets-v2/js/app.js' %}"></script>
<script>
    $( document ).ready(function(e) {
        $("#submit_email").click(function(){
            $.post("/submit",
                    {
                        email_addr: $("#email_addr").val(),
                    },
                    function(data, status) {
                        if (isValidEmailAddress($("#email_addr").val())) {
                            if (status == "success") {
                                $( "#success_notification" ).show().delay( 5000 ).fadeOut( 1000 );
                            } else {
                                $( "#alert_notification" ).show().delay( 5000 ).fadeOut( 1000 );
                            }
                        } else {
                            $( "#alert_notification" ).show().delay( 5000 ).fadeOut( 1000 );
                        }
                        $("#email_addr").val("");
                        $("#email_addr").focus();
                    });
        });
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    };
</script>
</body>
</html>
