{% load humanize %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include 'web-v2/_list_head_part.html' %}
    <style>
        .ui-widget-header,.ui-state-default, ui-button ui-widget-content {
            background:#ff6d00;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
        }
        .ui-corner-all {

            border-radius: 0;
        }
    </style>
    {% include 'web-v2/_embed_header_analytics.html' %}
</head>
<body class="list">
<div id="dialog-confirm" title="Proses Pembelian" style="background: white; color: black; display: none;">
    <p><span class="ui-icon ui-icon-info" style="float:left; margin:12px 12px 20px 0;"></span>Produk Berhasil Ditambahkan</p>
</div>
<div class="header" id="header">
    {% include 'web-v2/_embed_top_header.html' %}
    {% include 'web-v2/_embed_product_search.html' %}
</div>
<div class="container content-list">
    {% if category_page %}
        <div class="directorybox">
            <span class="directory-font"><a href="#">{{ current_category.name }}</a></span>
        </div>
    {% endif %}
    <div class="hasil-pencarian">
        <span class="">Hasil Pencarian: {{ search_keyword }}</span><span class="barang-ditemukan">({{ pagination.total_row }} barang ditemukan)</span>
    </div>
    <div class="atur-berdasarkan">
        <span class="">Atur berdasarkan</span> <select>
        <option value="1">
            Terpopuler
        </option>
        <option value="2">
            Terbaru
        </option>
        <option value="3">
            Alfabet A-Z
        </option>
        <option value="4">
            Harga Terendah
        </option>
        <option value="5">
            Harga Tertinggi
        </option>
        <option value="6">
            Diskon Tertinggi
        </option>
        <option value="7">
            Diskon Terendah
        </option>
    </select> <span class="">Perlihatkan item</span> <select>
        <option value="1">20</option>
        <option value="2">40</option>
        <option value="3">80</option>
    </select> <span class="bottom-pagination pagination-list"></span>
        <nav>
            <span class="bottom-pagination pagination-list"></span>
            <ul class="pagination pagination-top">
                <ul class="pagination">
                    {% if pagination.paginators.first_page > 0 %}
                        <li class="bottom-pagination pagination-list pagination-list-center a">
                            <a href="{{ request.path }}?page={{ pagination.paginators.first_page }}" aria-label="Awal">
                                <span aria-hidden="true">Awal</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if pagination.paginators.previous_page > 0 %}
                        <li class="bottom-pagination pagination-list pagination-list-center b">
                            <a href="{{ request.path }}?page={{ pagination.paginators.previous_page }}" aria-label="Sebelum">
                                <span aria-hidden="true">Sebelum</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page_number in pagination.paginators.page_number %}
                        <li class="bottom-pagination pagination-list pagination-list-center c {% if page_number == pagination.current_page %}active{% endif %}">
                            <a href="{% if page_number == pagination.current_page %}#{% else %}{{ request.path }}?page={{ page_number }}{% endif %}" aria-label="Berikut">
                                <span aria-hidden="true">{{ page_number }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    {% if pagination.paginators.next_page > 0 %}
                        <li class="bottom-pagination pagination-list pagination-list-center d">
                            <a href="{{ request.path }}?page={{ pagination.paginators.next_page }}" aria-label="Berikut">
                                <span aria-hidden="true">Berikut</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if pagination.paginators.last_page > 0 %}
                        <li class="bottom-pagination pagination-list pagination-list-center e">
                            <a href="{{ request.path }}?page={{ pagination.paginators.last_page }}" aria-label="Akhir">
                                <span aria-hidden="true">Akhir</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </ul>
        </nav>
    </div>
    <div class="list-content-body">
        <div class="col-md-3 sidebar-list">
            {#            <div class="preferensi">#}
            {#                Preferensi Barang#}
            {#            </div>#}
            {#            <div class="sidebartext">#}
            {#                <span class="sidebartext-title">Harga (in Rp)</span>#}
            {#                <div class="layered-content slider-range">#}
            {#                    <div class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-label-reasult="Range:" data-max="100000000" data-min="0"#}
            {#                         data-unit="Rp" data-value-max="100000000" data-value-min="0">#}
            {#                        <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" style=#}
            {#                            "left: 11.4%;" tabindex="0"></span><span class="ui-slider-handle ui-state-default ui-corner-all" style="left: 100%;" tabindex="0"></span>#}
            {#                    </div>#}
            {#                    <div class="amount-range-price">#}
            {#                        Range: Rp0 - Rp100000000#}
            {#                    </div>#}
            {#                    <ul class="check-box-list">#}
            {#                        <li><input id="p1" name="cc" type="checkbox"> <label for="p1"><span class="button"></span> Rp. 500.000 - Rp 5.000.000 <span class="count">(0)</span></label></li>#}
            {#                        <li><input id="p2" name="cc" type="checkbox"> <label for="p2"><span class="button"></span> Rp 5.000.000 - Rp 15.000.000 <span class="count">(0)</span></label></li>#}
            {#                        <li><input id="p3" name="cc" type="checkbox"> <label for="p3"><span class="button"></span> Rp 15.000.000 - Rp 25.000.000 <span class="count">(0)</span></label></li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </div>#}
            <div class="sidebartext">
                {#                <span class="sidebartext-title">Brand (Merk)</span>#}
                {#                <ul class="check-box-list">#}
                {#                    <li><input id="brand1" name="cc" type="checkbox"> <label for="brand1"><span class="button"></span> Litmann<span class="count">(0)</span></label></li>#}
                {#                    <li><input id="brand2" name="cc" type="checkbox"> <label for="brand2"><span class="button"></span> 3M<span class="count">(0)</span></label></li>#}
                {#                    <li><input id="brand3" name="cc" type="checkbox"> <label for="brand3"><span class="button"></span> ABN<span class="count">(0)</span></label></li>#}
                {#                    <li><input id="brand4" name="cc" type="checkbox"> <label for="brand4"><span class="button"></span> Riester<span class="count">(0)</span></label></li>#}
                {#                    <li><input id="brand5" name="cc" type="checkbox"> <label for="brand5"><span class="button"></span> GEA<span class="count">(0)</span></label></li>#}
                {#                    <li><input id="brand6" name="cc" type="checkbox"> <label for="brand6"><span class="button"></span> Lotus<span class="count">(0)</span></label></li>#}
                {#                    <li><input id="brand7" name="cc" type="checkbox"> <label for="brand7"><span class="button"></span> Meditop<span class="count">(0)</span></label></li>#}
                {#                    <li><input id="brand8" name="cc" type="checkbox"> <label for="brand8"><span class="button"></span> GC<span class="count">(0)</span></label></li>#}
                {#                </ul>#}
                {#                <div class="more">#}
                {#                    <a href="#">more...</a>#}
                {#                </div>#}
                <div class="layered layered-category kategori-di-emedis">
                    <span class="preferensi">Kategori di eMedis</span>
                    <div class="layered-content">
                        <ul class="tree-menu">
                            <li class="active"></li>
                            <li>
                                <img class="miniicon1" src="{% static 'assets-v2/images/icon-1.png' %}"><a href="#">RS Umum & Perorangan</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon2" src="{% static 'assets-v2/images/icon-2.png' %}"><a href="#">Bedah Umum & Plastik</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon3" src="{% static 'assets-v2/images/icon-3.png' %}"><a href="#">Ortopedi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon4" src="{% static 'assets-v2/images/icon-4.png' %}"><a href="#">Kimia & Toksikologi Klinik</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon5" src="{% static 'assets-v2/images/icon-5.png' %}"><a href="#">Anestesi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon6" src="{% static 'assets-v2/images/icon-6.png' %}"><a href="#">Kardiologi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon7" src="{% static 'assets-v2/images/icon-7.png' %}"><a href="#">Obstetrik & Ginekologi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon8" src="{% static 'assets-v2/images/icon-8.png' %}"><a href="#">Gastroenterologi - Urologi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon9" src="{% static 'assets-v2/images/icon-9.png' %}"><a href="#">Radiologi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon10" src="{% static 'assets-v2/images/icon-10.png' %}"><a href="#">Hematologi & Patologi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon11" src="{% static 'assets-v2/images/icon-11.png' %}"><a href="#">Gigi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon12" src="{% static 'assets-v2/images/icon-12.png' %}"><a href="#">Antiseptika & Disinfektan</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon13" src="{% static 'assets-v2/images/icon-13.png' %}"><a href="#">Imunologi & Mikrobiologi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon14" src="{% static 'assets-v2/images/icon-14.png' %}"><a href="#">Kesehatan Fisik</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon15" src="{% static 'assets-v2/images/icon-15.png' %}"><a href="#">Neurologi</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon16" src="{% static 'assets-v2/images/icon-16.png' %}"><a href="#">Telinga, Hidung & Tenggorokan</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon17" src="{% static 'assets-v2/images/icon-17.png' %}"><a href="#">Mata</a><span></span>
                            </li>
                            <li>
                                <img class="miniicon18" src="{% static 'assets-v2/images/icon-18.png' %}"><a href="#">Lainnya</a><span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 product-responsive">
            <!--        product start -->
            <div id="button-hover-list">
                <button class="btn color-4 material-design button-payment add-product-to-cart" data-color="#d2181c"><span class="button-text">Beli</span>
                    <canvas height="38" style="width: 100%; height: 100%;" width="250"></canvas>
                    <canvas height="38" style="width: 100%; height: 100%;" width="250"></canvas>
                    <canvas height="38" style="width: 100%; height: 100%;" width="167"></canvas></button>
            </div>
            {% for product in products %}
                <div class="col-md-3 productbox-list">
                    <div id="button-hover-list">
                        <button data-product-id="{{ product.id }}" class="btn color-4 material-design button-payment add-product-to-cart" data-color="#d2181c" data-type="list-buy"><span class="button-text">Beli</span>
                            <canvas height="38" style="width: 100%; height: 100%;" width="250"></canvas>
                            <canvas height="38" style="width: 100%; height: 100%;" width="250"></canvas>
                            <canvas height="38" style="width: 100%; height: 100%;" width="167"></canvas></button>
                    </div>
                    <div class="product-container">
                        <div class="left-block">
                            <a href="{% url 'website.views.product_detail' product.slug %}"><img alt="product" class="img-responsive" src="{{ product.image.url }}"></a>
                            <div class="quick-view">
                                <a class="heart" href="#" title="Add to my wishlist"></a> <a class="compare" href="#" title="Add to compare"></a> <a class="search" href="#" title="Quick view"></a>
                            </div>
                        </div>
                        <div class="right-block">
                            {% autoescape off %}
                                <h5 class="product-name"><a href="{% url 'website.views.product_detail' product.slug %}" style="word-break: break-all;">{{ product.product_name }}</a></h5>
                            {% endautoescape %}
                            <div class="content-price-emedis">
                                <div class="price product-price-emedis">
                                    emedis price
                                </div><span class="price old-price-emedis"><span class="">{{ product.price.private_price_currency }} {{ product.price.private.price }}</span>{{ product.price.private.thousands }}</span>
                            </div>
                            {#                            <div class="content-price-lkpp">#}
                            {#                                <div class="price product-price-lkpp">#}
                            {#                                    lkpp#}
                            {#                                </div><span class="price old-price-lkpp">{{ product.price.e_catalogue_currency }} {{ product.price.e_catalogue|floatformat:0|intcomma }}</span>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div><!--        product end -->
            {% endfor %}
        </div>
    </div>
</div>
<nav>
    {#    <span class="bottom-pagination pagination-list pagination-list-center"></span>#}
    <center>
        <ul class="pagination pagination-thebottom">
            {% if pagination.paginators.first_page > 0 %}
                <li class="bottom-pagination pagination-list pagination-list-center a">
                    <a href="{{ request.path }}?page={{ pagination.paginators.first_page }}" aria-label="Awal">
                        <span aria-hidden="true">Awal</span>
                    </a>
                </li>
            {% endif %}
            {% if pagination.paginators.previous_page > 0 %}
                <li class="bottom-pagination pagination-list pagination-list-center b">
                    <a href="{{ request.path }}?page={{ pagination.paginators.previous_page }}" aria-label="Sebelum">
                        <span aria-hidden="true">Sebelum</span>
                    </a>
                </li>
            {% endif %}
            {% for page_number in pagination.paginators.page_number %}
                <li class="bottom-pagination pagination-list pagination-list-center c {% if page_number == pagination.current_page %}active{% endif %}">
                    <a href="{% if page_number == pagination.current_page %}#{% else %}{{ request.path }}?page={{ page_number }}{% endif %}" aria-label="Berikut">
                        <span aria-hidden="true">{{ page_number }}</span>
                    </a>
                </li>
            {% endfor %}
            {% if pagination.paginators.next_page > 0 %}
                <li class="bottom-pagination pagination-list pagination-list-center d">
                    <a href="{{ request.path }}?page={{ pagination.paginators.next_page }}" aria-label="Berikut">
                        <span aria-hidden="true">Berikut</span>
                    </a>
                </li>
            {% endif %}
            {% if pagination.paginators.last_page > 0 %}
                <li class="bottom-pagination pagination-list pagination-list-center e">
                    <a href="{{ request.path }}?page={{ pagination.paginators.last_page }}" aria-label="Akhir">
                        <span aria-hidden="true">Akhir</span>
                    </a>
                </li>
            {% endif %}
            {#        <li class="active"><span class=""><a href="#">1</a></span></li>#}
            {#        <li><span class="bottom-pagination pagination-list pagination-list-center"><a href="#">2</a></span></li>#}
            {#        <li><span class="bottom-pagination pagination-list pagination-list-center"><a href="#">3</a></span></li>#}
            {#        <li><span class="bottom-pagination pagination-list pagination-list-center"><a href="#">4</a></span></li>#}
            {#        <li><span class="bottom-pagination pagination-list pagination-list-center"><a href="#">5</a></span></li>#}
            {#        <li><span class="bottom-pagination pagination-list pagination-list-center"><a aria-label="Next" href="#"><span aria-hidden="true"><i aria-hidden="true" class="fa fa-caret-right"></i></span></a></span></li>#}
            <li style="list-style: none"></li>
        </ul>
    </center>
</nav>
<footer id="footer">
    {% include 'web-v2/_default_footer_content.html' %}
</footer>
<div class="row" id="trademark-box">
    <div class="col-sm-12">
        <div id="trademark-list" style="margin-left: 2em">
            <center>
                <img src="{% static 'assets-v2/images/pembayaran.jpg' %}">
            </center>
        </div>
    </div><!-- /#trademark-box -->
    <!-- #trademark-text-box -->
</div>
{#<div class="row" id="trademark-text-box">#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-search-list">#}
{#                <li class="trademark-text-tit">Pencarian Teratas di Emedis.id:</li>#}
{#                <li>#}
{#                    <a href="#">Xiaomio Mi3</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Digiflipo Pro XT 712 Tablet</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Mi 3 Phones</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Iphoneo 6 Plus</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Women's Messenger Bags</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Wallets</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Women's Clutches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Backpacks Totes</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-tv-list">#}
{#                <li class="trademark-text-tit">TVS:</li>#}
{#                <li>#}
{#                    <a href="#">Sonyo TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Samsing TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LGG TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Onidai TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Toshibao TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Philipsi TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Micromaxo TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LED TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LCD TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Plasma TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">3D TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Smart TV</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-mobile-list">#}
{#                <li class="trademark-text-tit">MOBILES:</li>#}
{#                <li>#}
{#                    <a href="#">Moto E</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Samsing Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Micromaxi Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Nokian Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">HTCi Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Sonyo Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Appleo Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LGG Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Karbonni Mobile</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-laptop-list">#}
{#                <li class="trademark-text-tit">LAPTOPS:</li>#}
{#                <li>#}
{#                    <a href="#">Appleo Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Acer Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Samsing Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Lenov Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Sonyo Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Delli Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Asuso Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Toshibao Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LGG Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">HPo Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Notebook</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-watches-list">#}
{#                <li class="trademark-text-tit">WATCHES:</li>#}
{#                <li>#}
{#                    <a href="#">FCUKo Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Titan Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Casioo Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Fastrack Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Timexi Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Fossili Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Dieselo Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Toshibao Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Luxury Watches</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-shoes-list">#}
{#                <li class="trademark-text-tit">FOOTWEAR:</li>#}
{#                <li>#}
{#                    <a href="#">Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Casual Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Sports Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Adidasi Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Gas Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Pumai Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Reeboki Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Woodlandi Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Red tape Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Nikeo Shoes</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div id="footer-menu-box">
    <div class="col-sm-12"></div>
    <p class="text-center">Copyright &#169; 2016 PT Medis Raya.</p>
</div>
<a class="scroll_top" href="#" style="display: inline;" title="Scroll to Top">Scroll</a> <!-- Script-->
{% include 'web-v2/_list_js_inline.html' %} {% include 'web-v2/_list_js_embed.html' %}
</body>
</html>