<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Success</title>
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = document.getElementById('redirect_to_home').href;
        }, 2000);
    </script>
</head>
<body>
{{ message|safe }}
</body>
</html>