{% load staticfiles %}
<html>
<head>
    {% include 'web-v2/_sign_head_part.html' %}
    {% include 'web-v2/_embed_header_analytics.html' %}
</head>

<body>

<div class="col-md-12 emedis-login">

    <div class="col-md-6">

        <div id="large-header" class="large-header">

            <canvas id="demo-canvas"></canvas>
            <div class="black-dop"></div>
            <h1 class="main-title3">emedis.id</h1>
            <h2 class="main-title2">
                Semua kebutuhan alat kesehatan
                dalam genggaman anda.
            </h2>
            <h2 class="main-title4">
                <span class="login">Login:</span>

                <form class="forming" id="sign_in" name="sign_in" method="post" action="/signin/">
                    {% csrf_token %}
                    <div class="group">
                        <input type="email" id="login_email" name="login_email" value="santo@emedis.id{{ data.login_email }}"><span class="highlight"></span><span class="bar"></span>
                        <label>Email</label>
                    </div>
                    <div class="group">
                        <input type="password" id="login_password" name="login_password" value="1"><span class="highlight"></span><span class="bar"></span>
                        <label>Password</label>
                    </div>
                    <button type="submit" class="button buttonBlue" form="sign_in">Masuk
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                    <div class="lupa">
                        <a href="#">Lupa password?</a>
                    </div>
                </form>
        </div>
        </h2>


    </div>


    <div class="col-md-6">
        <div class="right-block ">
            <div class="">
                <a href="index.html"><img alt="Your Medical Megastore - Emedis" src="{% static 'assets-v2/images/logo.png' %}" /></a>
                <div class="tagline"><i>Your Medical Megastore</i></div>
            </div>
        </div>

        <div class="container container-right">

            <div class="buat-akun">
                Buat Akun Baru
            </div>

            <div class="buat-akun-desc">
                Buat akun baru, proses kurang dari satu menit.<br>
                Jika anda sudah memiliki akun silakan <a href="#" onclick="javascript: document.getElementById('login_email').focus();">login</a>.<br /><br />
                <div id="error_message" name="error_message" class="error_message">
                    {{ error_message|safe }}
                </div>
            </div>
        </div>

    </div>
    <div class="container container-right container-form">
        <form class="forming" id="sign_up" name="sign_up" method="post" action="/signup/">
            {% csrf_token %}
            <input type="text" class="form-control" id="full_name" name="full_name" aria-describedby="emailHelp" placeholder="Nama Lengkap" value="{{ data.full_name }}">
            <input type="number" class="form-control" id="phone_number" name="phone_number" aria-describedby="emailHelp" placeholder="Telepon" value="{{ data.phone_number }}">
            <input type="email" class="form-control" id="email_address" name="email_address" aria-describedby="emailHelp" placeholder="Email" value="{{ data.email_address }}">
            <input type="password" class="form-control" id="user_password" name="user_password" aria-describedby="emailHelp" placeholder="Password">
            <input type="password" class="form-control" id="user_confirm_password" name="user_confirm_password" aria-describedby="emailHelp" placeholder="Ulangi Password">
            <button type="submit" form="sign_up" class="btn color-4 material-design" data-color="#d2181c"><span class="button-text">Buat Akun</span><canvas width="250" height="38" style="width: 100%; height: 100%;"></canvas></button>
        </form>
    </div>
</div>
</div>
{% include 'web-v2/_sign_js_inline.html' %}
{% include 'web-v2/_sign_js_embed.html' %}
<script type="text/javascript">
    (function() {

        var width, height, largeHeader, canvas, ctx, points, target, animateHeader = true;

        // Main
        initHeader();
        initAnimation();
        addListeners();

        function initHeader() {
            width = window.innerWidth;
            height = window.innerHeight;
            target = {x: width/2, y: height/2};

            largeHeader = document.getElementById('large-header');
            largeHeader.style.height = height+'px';

            canvas = document.getElementById('demo-canvas');
            canvas.width = width;
            canvas.height = height;
            ctx = canvas.getContext('2d');

            // create points
            points = [];
            for(var x = 0; x < width; x = x + width/20) {
                for(var y = 0; y < height; y = y + height/20) {
                    var px = x + Math.random()*width/20;
                    var py = y + Math.random()*height/20;
                    var p = {x: px, originX: px, y: py, originY: py };
                    points.push(p);
                }
            }

            // for each point find the 5 closest points
            for(var i = 0; i < points.length; i++) {
                var closest = [];
                var p1 = points[i];
                for(var j = 0; j < points.length; j++) {
                    var p2 = points[j]
                    if(!(p1 == p2)) {
                        var placed = false;
                        for(var k = 0; k < 5; k++) {
                            if(!placed) {
                                if(closest[k] == undefined) {
                                    closest[k] = p2;
                                    placed = true;
                                }
                            }
                        }

                        for(var k = 0; k < 5; k++) {
                            if(!placed) {
                                if(getDistance(p1, p2) < getDistance(p1, closest[k])) {
                                    closest[k] = p2;
                                    placed = true;
                                }
                            }
                        }
                    }
                }
                p1.closest = closest;
            }

            // assign a circle to each point
            for(var i in points) {
                var c = new Circle(points[i], 2+Math.random()*2, 'rgba(255,255,255,0.3)');
                points[i].circle = c;
            }
        }

        // Event handling
        function addListeners() {
            if(!('ontouchstart' in window)) {
                window.addEventListener('mousemove', mouseMove);
            }
            window.addEventListener('scroll', scrollCheck);
            window.addEventListener('resize', resize);
        }

        function mouseMove(e) {
            var posx = posy = 0;
            if (e.pageX || e.pageY) {
                posx = e.pageX;
                posy = e.pageY;
            }
            else if (e.clientX || e.clientY)    {
                posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
                posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
            }
            target.x = posx;
            target.y = posy;
        }

        function scrollCheck() {
            if(document.body.scrollTop > height) animateHeader = false;
            else animateHeader = true;
        }

        function resize() {
            width = window.innerWidth;
            height = window.innerHeight;
            largeHeader.style.height = height+'px';
            canvas.width = width;
            canvas.height = height;
        }

        // animation
        function initAnimation() {
            animate();
            for(var i in points) {
                shiftPoint(points[i]);
            }
        }

        function animate() {
            if(animateHeader) {
                ctx.clearRect(0,0,width,height);
                for(var i in points) {
                    // detect points in range
                    if(Math.abs(getDistance(target, points[i])) < 4000) {
                        points[i].active = 0.3;
                        points[i].circle.active = 0.6;
                    } else if(Math.abs(getDistance(target, points[i])) < 20000) {
                        points[i].active = 0.1;
                        points[i].circle.active = 0.3;
                    } else if(Math.abs(getDistance(target, points[i])) < 40000) {
                        points[i].active = 0.02;
                        points[i].circle.active = 0.1;
                    } else {
                        points[i].active = 0;
                        points[i].circle.active = 0;
                    }

                    drawLines(points[i]);
                    points[i].circle.draw();
                }
            }
            requestAnimationFrame(animate);
        }

        function shiftPoint(p) {
            TweenLite.to(p, 1+1*Math.random(), {x:p.originX-50+Math.random()*100,
                y: p.originY-50+Math.random()*100, ease:Circ.easeInOut,
                onComplete: function() {
                    shiftPoint(p);
                }});
        }

        // Canvas manipulation
        function drawLines(p) {
            if(!p.active) return;
            for(var i in p.closest) {
                ctx.beginPath();
                ctx.moveTo(p.x, p.y);
                ctx.lineTo(p.closest[i].x, p.closest[i].y);
                ctx.strokeStyle = 'rgba(255,141,0,'+ p.active+')';
                ctx.stroke();
            }
        }

        function Circle(pos,rad,color) {
            var _this = this;

            // constructor
            (function() {
                _this.pos = pos || null;
                _this.radius = rad || null;
                _this.color = color || null;
            })();

            this.draw = function() {
                if(!_this.active) return;
                ctx.beginPath();
                ctx.arc(_this.pos.x, _this.pos.y, _this.radius, 0, 2 * Math.PI, false);
                ctx.fillStyle = 'rgba(255,141,0,'+ _this.active+')';
                ctx.fill();
            };
        }

        // Util
        function getDistance(p1, p2) {
            return Math.pow(p1.x - p2.x, 2) + Math.pow(p1.y - p2.y, 2);
        }

    })();

</script>
<script type="text/javascript">
    $(window, document, undefined).ready(function() {

        $('input').blur(function() {
            var $this = $(this);
            if ($this.val())
                $this.addClass('used');
            else
                $this.removeClass('used');
        });

        var $ripples = $('.ripples');

        $ripples.on('click.Ripples', function(e) {

            var $this = $(this);
            var $offset = $this.parent().offset();
            var $circle = $this.find('.ripplesCircle');

            var x = e.pageX - $offset.left;
            var y = e.pageY - $offset.top;

            $circle.css({
                top: y + 'px',
                left: x + 'px'
            });

            $this.addClass('is-active');

        });

        $ripples.on('animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd', function(e) {
            $(this).removeClass('is-active');
        });
    });
</script>
</body>
</html>