{% load humanize %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% include 'web-v2/_static_head_part.html' %}
    {% include 'web-v2/_embed_header_analytics.html' %}
</head>
<body class="list">
<div id="dialog-confirm" title="Proses Pembelian" style="background: white; color: black; display: none;">
    <p><span class="ui-icon ui-icon-info" style="float:left; margin:12px 12px 20px 0;"></span>Produk Berhasil Ditambahkan</p>
</div>
<div class="header" id="header">
    {% include 'web-v2/_embed_top_header.html' %}
    {% include 'web-v2/_embed_product_search.html' %}
</div>
<div class="container">
    <div class="row">
        {{ content.content |safe }}
    </div>
</div>
<footer id="footer">
    {% include 'web-v2/_default_footer_content.html' %}
</footer>
<div class="row" id="trademark-box">
    <div class="col-sm-12">
        <div id="trademark-list" style="margin-left: 2em">
            <center>
                <img src="{% static 'assets-v2/images/pembayaran.jpg' %}">
            </center>
        </div>
    </div><!-- /#trademark-box -->
    <!-- #trademark-text-box -->
</div>
{#<div class="row" id="trademark-text-box">#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-search-list">#}
{#                <li class="trademark-text-tit">Pencarian Teratas di Emedis.id:</li>#}
{#                <li>#}
{#                    <a href="#">Xiaomio Mi3</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Digiflipo Pro XT 712 Tablet</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Mi 3 Phones</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Iphoneo 6 Plus</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Women's Messenger Bags</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Wallets</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Women's Clutches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Backpacks Totes</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-tv-list">#}
{#                <li class="trademark-text-tit">TVS:</li>#}
{#                <li>#}
{#                    <a href="#">Sonyo TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Samsing TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LGG TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Onidai TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Toshibao TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Philipsi TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Micromaxo TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LED TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LCD TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Plasma TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">3D TV</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Smart TV</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-mobile-list">#}
{#                <li class="trademark-text-tit">MOBILES:</li>#}
{#                <li>#}
{#                    <a href="#">Moto E</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Samsing Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Micromaxi Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Nokian Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">HTCi Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Sonyo Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Appleo Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LGG Mobile</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Karbonni Mobile</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-laptop-list">#}
{#                <li class="trademark-text-tit">LAPTOPS:</li>#}
{#                <li>#}
{#                    <a href="#">Appleo Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Acer Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Samsing Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Lenov Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Sonyo Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Delli Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Asuso Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Toshibao Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">LGG Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">HPo Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Notebook</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-watches-list">#}
{#                <li class="trademark-text-tit">WATCHES:</li>#}
{#                <li>#}
{#                    <a href="#">FCUKo Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Titan Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Casioo Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Fastrack Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Timexi Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Fossili Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Dieselo Watches</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Toshibao Laptop</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Luxury Watches</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-sm-12">#}
{#        <div class="container">#}
{#            <ul class="trademark-list" id="trademark-shoes-list">#}
{#                <li class="trademark-text-tit">FOOTWEAR:</li>#}
{#                <li>#}
{#                    <a href="#">Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Casual Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Sports Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Adidasi Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Gas Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Pumai Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Reeboki Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Woodlandi Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Red tape Shoes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Nikeo Shoes</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div id="footer-menu-box">
    <div class="col-sm-12"></div>
    <p class="text-center">Copyright &#169; 2016 PT Medis Raya.</p>
</div>
<a class="scroll_top" href="#" style="display: inline;" title="Scroll to Top">Scroll</a> <!-- Script-->
{% include 'web-v2/_static_js_inline.html' %} {% include 'web-v2/_static_js_embed.html' %}
</body>
</html>