{% load i18n admin_static %}

{% if cl.search_fields %}

    <div id="toolbar">
        <form id="changelist-search" action="" method="get">
            <div class="row collapse">
                <div class="">
                    <span class="prefix"><img src="{% static "admin/img/icon_searchbox.png" %}" alt="Search" /></span>
                </div>
                <div class="small-3 large-1 columns">
                    <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
                </div>
                <input type="submit" value="{% trans 'Search' %}" />
                {% if show_result_count %}
                    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
                {% endif %}
                {% for pair in cl.params.items %}
                    {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
                {% endfor %}
            </div>
        </form></div>
    <script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
