<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Selamat Data di Emedis</title>
    <style type='text/css'>
        body{padding-top:0!important;padding-bottom:0!important;padding-top:0!important;padding-bottom:0!important;margin:0!important;width:100%!important;-webkit-text-size-adjust:100%!important;-ms-text-size-adjust:100%!important;-webkit-font-smoothing:antialiased!important;}
        .tableContent img{border:0!important;display:block!important;outline:none!important;}
        a{color:#382F2E;}
        p,h1{color:#382F2E;margin:0;}
        p{text-align:justify;color:#000;font-size:14px;font-weight:400;line-height:19px;}
        a.link1{color:#ed7002;}
        a.link2{font-size:14px;text-decoration:none;color:#fff;}
        h2{text-align:justify;color:#222;font-size:15px;font-weight:700;}
        div,p,ul,h1{margin:0;}
        .bgBody{background:#fff;}
        .bgItem{background:#fff;}
        .adr {font-size: 14px;}
        .document-img {width: 100px;}
        {#        table#invoice-amount{border: solid 1px #000;}#}
        table#invoice-amount{border-collapse: collapse;}
        table#invoice-amount tr td{border: solid 1px #f2f2f2;}
        tr td{padding: 10px;}
    </style>
    <script type='colorScheme' class='swatch active'>
    {
        'name':'Default',
        'bgBody':'ffffff',
        'link':'382F2E',
        'color':'999999',
        'bgItem':'ffffff',
        'title':'222222'
    }
    </script>
</head>
<body paddingwidth='0' paddingheight='0'   style='padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;' offset='0' toppadding='0' leftpadding='0'>
<table width='100%' border='0' cellspacing='0' cellpadding='0' class='tableContent bgBody' align='center'  style='font-family:Helvetica, Arial, SansSerif;'>
    <tr>
        <td>
            <table width='600' border='0' cellspacing='0' cellpadding='0' align='center' class='bgItem'>
                <tr>
                    <td width='40'></td>
                    <td width='520'>
                        <table width='520' border='0' cellspacing='0' cellpadding='0' align='center'>
                            <tr>
                                <td class='movableContentContainer ' valign='top'>
                                    <div class='movableContent'>
                                        <table width='520' border='0' cellspacing='0' cellpadding='0' align='center'>
                                            <tr>
                                                <td valign='top' align='center'>
                                                    <div class='contentEditableContainer contentTextEditable'>
                                                        <div class='contentEditable'>
                                                            <img src='https://www.emedis.id/assets/img/logo.png' alt='Emedis Logo' />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class='movableContent'>
                                        <table width='520' border='0' cellspacing='0' cellpadding='0' align='center'>
                                            <tr><td height='30'></td></tr>
                                            <tr>
                                                <td align='left'>
                                                    <table id="invoice-amount">
                                                        <tfoot>
                                                        <tr>
                                                            <td colspan="2" align="right">
                                                                Subtotal
                                                            </td>
                                                            <td align="right">
                                                                {{ subtotal }}
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    {% for order in orders %}
                                                    <tr class="tr_header">
                                                        <td colspan="3">Produk #{{ forloop.counter }}</td>
                                                    </tr>
                                                    <tr class="item odd" width="520px">
                                                        <td>
                                                            <img class="document-img" src="{{ order.url }}" alt="">
                                                        </td>
                                                        <td width="80%">
                                                            {{ order.product_name }}<br />
                                                            {{ order.product_brand }}<br />
                                                            {{ order.product_number }}<br />
                                                            {{ order.product_quantity }}<br />
                                                        </td>
                                                        <td align="right">{{ currency }}{{ order.product_price }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                            <tr><td height='15'> </td></tr>
                                        </table>
                                        {% if is_customer == False %}
                                            <table>
                                                <tr height="15"><td colspan="3"></td></tr>
                                                <tr width="100">
                                                    <td align='center' colspan="3" style='background:#ed7002; padding:10px 15px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;'>
                                                        <div class='contentEditableContainer contentTextEditable'>
                                                            <div class='contentEditable' align='center'>
                                                                <a target='_blank' href='{{ data.process_link }}' class='link2'>Proses Pesanan</a><br />
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align='center' colspan="3" style='padding:10px 15px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;'>
                                                        <p>Bilamana tombol tidak berfungsi di browser, Anda dapat mengakses melalui link atau URL berikut:</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align='left' colspan="3" style='padding:10px 15px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;'>
                                                        <a href='{{ data.process_link }}' class='link1' target='_blank'>{{ data.process_link }}</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        {% endif %}
                                    </div>
                                    <div class='movableContent'>
                                        <table width='520' border='0' cellspacing='0' cellpadding='0' align='center'>
                                            <tr><td height='25'></td></tr>
                                            <tr><td  style='border-bottom:1px solid #DDDDDD;'></td></tr>
                                            <tr><td height='25'></td></tr>
                                            <tr>
                                                <td>
                                                    <table width='520' border='0' cellspacing='0' cellpadding='0' align='center'>
                                                        <tr>
                                                            <td valign='top' align='left' width='370'>
                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                    <div class='contentEditable' align='center'>
                                                                        <p  style='text-align:center;color:#CCCCCC;font-size:12px;font-weight:normal;line-height:20px;'>
                                                                            <span style='font-weight:bold;'>Copyright &copy; 2016 PT Medis Raya. All Right Reserved<br />Emedis - <a href="https://www.emedis.id" class='link1' target='_blank'>https://www.emedis.id</a></span>
                                                                            <br />
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width='40'></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td height='88'></td></tr>
</table>
</body>
</html>