{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>eMedis eMail - Delivery Order</title>
    <link href="images/emedis.ico" rel="shortcut icon" type="image/x-icon">

<style>
/*

@font-face {
    font-family: Titillium;
    src: url(../fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: MuseoSansLight;
    src: url(../fonts/MuseoSans_300.otf);
}

@font-face {
    font-family: MuseoSansBold;
    src: url(../fonts/MuseoSans_700.otf);
}
*/

:focus {
    outline: none;
}

:root {
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

:root.bg--big {
    background-color: #00BCD4;
}

:root.bg--medium {
    background-color: #E53935;
}

:root.bg--small {
    background-color: #4527A0;
}

.material-design canvas:focus {
    outline: none;
}

.material-design:focus canvas {
    outline: none;
}

body {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-weight: 400;
    background: #fafafa;
}

button {
    border: none;
    background: transparent;
}

.clear {
    padding-bottom: 40px;
}

.hargatotal {
    font-family: 'MuseoSansBold','Roboto',sans-serif;
}

.hargatotal-2 {
    font-family: 'MuseoSansBold','Roboto',sans-serif !important;
    color: #747474;
}

.controller-container {
    margin-bottom: 2%;
    text-align: center;
}

.controller {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 22px;
    padding: 10px 0;
    color: #757575;
    position: relative;
    -webkit-transition: all 100ms cubic-bezier(0.165,0.84,0.44,1);
    transition: all 100ms cubic-bezier(0.165,0.84,0.44,1);
    text-decoration: none;
}

.logo {
    height: 60px;
    padding: 10px;
    float: left;
}

.logo-email-marketing {
    height: 60px;
    padding: 10px;
     margin-top: 60px;

}

.logo2 {
    height: 30px;
    padding: 10px;
    position: relative;
    display: inline-block;
    float: left;
}

td {
    height: auto;
    vertical-align: middle;
}

.product-desc {
    vertical-align: middle;
    height: 100%;
}

.controller:after {
    content: "";
    height: 3px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    -webkit-transition: all 300ms cubic-bezier(0.165,0.84,0.44,1);
    transition: all 300ms cubic-bezier(0.165,0.84,0.44,1);
    background-color: #424242;
}

.controller.is_current:after {
    width: 100%;
}

.controller:hover,.controller.is_current {
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    cursor: pointer;
    color: #424242;
}

.card {
    will-change: transform;
    margin: 8px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    height: 35%;
    -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
    transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    width: 45%;
}

.card-quote {
    will-change: transform;
    margin: 8px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    height: 35%;
    -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
    transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    width: 55%;
    border-left: 3px solid #ff8d00;
}

.card:hover {
    cursor: pointer;
}

.card__image {
    position: relative;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repat;
    width: 100%;
    overflow: hidden;
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: all 200ms cubic-bezier(0.075,0.82,0.165,1);
}

.card__image:after {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    bottom: 0;
}

.card__title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 24px;
    color: #FFF;
    margin: 0;
    position: relative;
    left: 0;
    right: 0;
    padding: 0 16px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: all 200ms cubic-bezier(0.075,0.82,0.165,1);
}

.card__subtitle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    left: 88px;
    right: 0;
    position: absolute;
    padding: 0 16px;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: all 200ms cubic-bezier(0.075,0.82,0.165,1);
}

.card__text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    padding: 16px;
    margin: 0;
    line-height: 1.6;
    position: relative;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    padding-top: 30px;
    text-align: left;
}

.card__text__email {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    display: block;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0;
    line-height: 1.6;
    position: relative;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    padding-top: 30px;
    font-style: italic;
}


.card__text__email2{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    display: block;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0;
    line-height: 1.6;
    position: relative;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    padding-top: 0px;
    font-style: italic;
}

.card__text__email4{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 26px;
    display: block;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0;
    line-height: 1.3;
    position: relative;
    color: #424242;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    padding-top: 0px;
    font-style: 900;
}

.card__text__email3{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 26px;
    display: block;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0;
    line-height: 1.3;
    position: relative;
    color: #424242;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    padding-top: 0px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.emedis-eva
{
color: #ff8d00;
font-weight: bold;
}

.borderwidths {
    height: 1px;
    width: 40px;
    background-color: black;
    position: relative;
    top: -7px;
}


.card__text_bank {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    padding: 16px;
    margin: 0;
    line-height: 1.6;
    position: relative;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    padding-top: 30px;
    text-align: right;
}

.card__text2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: inline-block;
    left: 0;
    right: 0;
    padding: 16px;
    margin: 0;
    line-height: 1.6;
    position: relative;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    padding-bottom: 30px;
    text-align: left;
    width: 95%;
}

.card__text3 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    line-height: 1.4;
    position: relative;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    color: #777;
    font-size: 11px;
    background: #fafafa;
    text-align: left;
}

ol ol, ol ul, ul ol, ul ul {
    margin-left: 0rem;
    margin-bottom: 0;
    list-style-type: inherit;
}

.card__text4 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    line-height: 1.4;
    position: relative;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    color: #777;
    font-size: 11px;
    background: #fafafa;
    text-align: left;
}

.card__action-bar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    padding: 0 8px;
    border-top: 1px solid #E0E0E0;
    boz-sizing: border-box;
    height: auto;
    -webkit-transition: left 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: left 200ms cubic-bezier(0.075,0.82,0.165,1);
    float: left;
    width: 100%;
}

.card__button {
    outline: none;
    position: relative;
    display: inline-block;
    line-height: 52px;
    padding: 0 16px;
    color: #FF1744;
}

.card--big {
    box-shadow: 0 27px 55px 0 rgba(0,0,0,0.3),0 17px 17px 0 rgba(0,0,0,0.15);
}

.card--big .card__image {
    border-radius: 1px 1px 0 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
    cursor: default;
    max-height: 176px;
}

.card--big .card__title {
    top: 135px;
}

.card--big .card__text {
}

.card--big .card__text2 {
    top: 0;
}

.card--big .card__text3 {
    width: 95%;
    margin-left: 2%;
    border-top: 1px solid #E0E0E0;
    padding-top: 5px;
    margin-bottom: 20px;
}

.card--big .card__text4 {
    width: 92%;
    margin-left: 2%;
    border: 1px solid #E0E0E0;
    padding-top: 5px;
    margin-bottom: 0;
}
}

.card--big .card__action-bar {
    background: #fafafa;
    width: 100%;
    height: 300px;
}

.card--medium {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,0.3),0 11px 7px 0 rgba(0,0,0,0.19);
    height: 208px;
    min-height: 208px;
}

.card--medium .card__image {
    border-radius: 1px 1px 0 0;
    left: -100%;
    right: 0;
    top: 0;
    max-height: 0;
    opacity: 0;
}

.card--medium .card__title {
    color: #FF1744;
    top: 16px;
}

.card--medium .card__text {
    font-size: 16px;
    top: 50px;
}

.card--medium .card__action-bar {
    left: 0;
}

.card--small {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3),0 2px 2px 0 rgba(0,0,0,0.2);
    height: 136px;
    min-height: 136px;
}

.card--small .card__image {
    border-radius: 1px 0 0 1px;
    left: 0;
    top: 0;
    width: 88px;
    opacity: 1;
    max-height: 136px;
}

.card--small .card__image:after {
    opacity: 0;
}

.card--small .card__title {
    color: #000;
    left: 88px;
    top: 8px;
}

.card--small .card__subtitle {
    opacity: 1;
    left: 88px;
}

.card--small .card__text {
    top: 30px;
    opacity: 0;
}

.card--small .card__action-bar {
    left: 88px;
}

.quote-address {
    width: 250px;
    position: relative;
    display: inline-block;
}

.name {
    color: #0091ea;
    font-size: 16px;
}

.btn.color-4 {
    background-color: #ff8d00;
    position: relative;
    cursor: pointer;
}

.btn {
    border: none;
    color: #fff;
    overflow: hidden;
    margin: 1rem;
    padding: 0;
    text-transform: uppercase;
    height: 40px;
    width: 93%;
}

.material-design {
    position: relative;
}

.bantuan {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
    display: inline-block;
    left: 0;
    width: 270px;
    right: 0;
    top: 10px;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    position: relative;
    color: #757575;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    transition: width 200ms cubic-bezier(0.075,0.82,0.165,1);
    -webkit-transition: delay .1s;
    transition: delay .1s;
    float: left;
    text-align: left;
        height: 70px;
}

.border-gradient {
    border-top: 1px solid aqua;
}

.material-design canvas {
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
}

.bordertest:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left,#ff9800,#ffd740);
    top: 0;
    left: 0;
}

.bordertest-2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left,#ff9800,#ffd740);
    top: 80px;
    left: 0;
}

.link-emedis {
    color: #ff8d00;
}

.button-text {
    position: relative;
    top: -8px;
    left: 3px;
    text-transform: initial;
    font-size: 16px;
    font-weight: 100;
}

.button-text-2 {
    position: relative;
    top: 0;
    left: 3px;
    text-transform: initial;
    font-size: 16px;
    font-weight: 100;
}

.tagline {
    float: right;
    width: 140px;
    line-height: 13px;
    right: 10px;
    position: relative;
    top: 5px;
}

.tagline-text {
    font-size: 12px;
    position: relative;
    font-family: "Titillium",Roboto,"Helvetica Neue",Arial,"Droid Sans",sans-serif;
    padding: 5px;
    top: 12px;
    right: 10px;
    right: 3px;
}

.quote {
    width: 9px;
    position: relative;
    top: 10px;
}

.warningicon {
    height: 20px;
}

table#miyazaki {
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light,sans-serif;
    font-weight: 100;
    background: #fff;
    color: #000;
    width: 95%;
    border-radius: 5px;
}

table#miyazaki caption {
    font-size: 2rem;
    color: #444;
    margin: 1rem;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki.png),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left,center right;
}

table#miyazaki thead th {
    font-weight: 600;
    color: #747474;
    font-family: Roboto,"Helvetica Neue",Arial,"Droid Sans",sans-serif;
    text-transform: uppercase;
    font-size: 14px !important;
}

table#miyazaki thead th,table#miyazaki tbody td {
    padding: .8rem;
    font-size: 1.4rem;
    padding-right: 0;
}

table#miyazaki tbody td {
    padding: .8rem;
    font-size: 14px;
    color: #444;
    background: #fff;
    vertical-align: middle;
    height: 100%;
}

.productimg {
    width: 90%;
}

table#miyazaki tbody tr:not(:last-child) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .card {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 45%;
    }

    .card-quote {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 55%;
        border-left: 3px solid #ff8d00;
    }

    .card--big {
        box-shadow: 0 27px 55px 0 rgba(0,0,0,0.3),0 17px 17px 0 rgba(0,0,0,0.15);
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .card {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 60%;
    }

    .card-quote {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 65%;
        border-left: 3px solid #ff8d00;
    }

    .card--big {
        box-shadow: 0 27px 55px 0 rgba(0,0,0,0.3),0 17px 17px 0 rgba(0,0,0,0.15);
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    body {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        font-family: 'Roboto',sans-serif;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        font-weight: 400;
        background: #fafafa;
    }

    .card {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 80%;
    }

    .card-quote {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 80%;
        border-left: 3px solid #ff8d00;
    }

    .card--big {
        box-shadow: 0 27px 55px 0 rgba(0,0,0,0.3),0 17px 17px 0 rgba(0,0,0,0.15);
    }
}

@media screen and (max-width: 600px) {
    table#miyazaki caption {
        background-image: none;
    }

    table#miyazaki thead {
        display: none;
    }

    table#miyazaki tbody td {
        display: table-cell;
        padding: .6rem;
    }

    table#miyazaki tbody tr td:first-child {
        background: #fff;
        color: #747474;
    }

    table#miyazaki tbody td:before {
        content: attr(data-th);
        font-weight: 700;
        display: inline-block;
        width: 4rem;
    }

    table#miyazaki tbody td {
        padding: .8rem;
        font-size: 12px;
        color: #444;
        background: #fff;
        vertical-align: middle;
        height: 100%;
    }
}

@media all and (max-width: 480px) {
    .card--big {
        box-shadow: 0 27px 55px 0 rgba(0,0,0,0.3),0 17px 17px 0 rgba(0,0,0,0.15);
    }

    body {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        font-family: 'Roboto',sans-serif;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        font-weight: 400;
        background: #fafafa;
    }

    .card {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 100%;
    }

    .card-quote {
        will-change: transform;
        margin: 8px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        height: 35%;
        -webkit-transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        transition: all 400ms cubic-bezier(0.165,0.84,0.44,1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        width: 100%;
        border-left: 3px solid #ff8d00;
    }
}

/* Portrait */
@media screen and (orientation: portrait) {
    /* Portrait styles here */

}

/* Landscape */
@media screen and (orientation: landscape) {
    /* Landscape styles here */

}

/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {

}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {

}

</style>
</head>
<body>
    <center>
        <div class="card-quote card--big">
            <div class="card__image">
                <img class="logo" src="{% static 'assets/img/email_template_logo.png' %}">
                <div class="tagline">
                    <img class="quote" src="{% static 'assets/img/quote.png' %}"> <span class=
                    "tagline-text">Dapatkan penawaran alat kesehatan terlengkap
                    dan terbaik se - Indonesia.</span>
                </div>
            </div>
            <p class="card__text bordertest">Salam Mitra emedis.id,<br>
            Terima kasih atas kerjasama Anda.<br>
            <span style="top:5px; position:relative">Berikut kami informasikan
            bahwa pembayaran dari pembeli telah berhasil kami
            terima.</span><br style="height:20px;">
            <span style="top:8px; position:relative">Mohon segera persiapkan
            pengiriman produk ke pihak pembeli dengan detil sebagai
            berikut:</span><br>
            <span style=
            "top:14px; position:relative;font-size:12px;"><span style=
            "color:#747474;font-size:12px;">Nomor Order :</span>
            <b>{{ order.order_number }}</b><br>
            <span style="color:#747474;font-size:12px;">Nomor Order Vendor
            :</span> <b>{{ order.vendor_order_number }}</b><br>
            <span style="color:#747474;font-size:12px;">Nomor Penjualan
            :</span> <b>10000202</b><br>
            <span style="color:#747474;font-size:12px;">Tanggal Pemesanan
            :</span> <b>{{ order.created_date }}</b><br>
            <span style="color:#747474;font-size:12px;">Nama Akun Pembeli
            :</span> <b>{{ customer.pic_name }}</b><br>
            <span style="color:#747474;font-size:12px;">Email Akun Pembeli
            :</span> <b>{{ customer.email }}</b><br>
            <span style="color:#747474;font-size:12px;">Alamat Akun Pembeli
            :</span> <b>{{ customer.address }}</b><br>
            <span style="color:#747474;font-size:12px;">Kontak Akun Pembeli
            :</span> <b> {{ customer.phone }}</b><br>
            <span style="color:#747474;font-size:12px;">Alamat Pengiriman
            :</span> <b>{{ customer.shipping_address }}</b><br>
            <span style="color:#747474;font-size:12px;">Detil Penerima :</span>
            <b>-</b><br>
            <span style="color:#747474;font-size:12px;">Detil Cart
            :</span></span></p>
            <table id="miyazaki">
                <thead>
                    <tr>
                        <th>NAMA BARANG</th>
                        <th></th>
                        <th>JUMLAH</th>
                        <th>HARGA</th>
                    </tr>
                </thead>
                <tbody>

		{% for product in products %}
                    <tr>
                        <td height="100" width="100">
                            <center>
                                <img class="productimg" src=
                                "images/product-1.png">
                            </center>
                        </td>
                        <td>
                            <center>
                                {{ product.product_name }}
                            </center>
                        </td>
                        <td>
                            <center>
                                {{ product.product_quantity }}
                            </center>
                        </td>
                        <td>
                            <center>
                                Rp {{ product.product_price }}
                            </center>
                        </td>
                    </tr>
        {% endfor %}

                    <tr>
                        <td height="100" width="100">Subtotal:</td>
                        <td></td>
                        <td></td>
                        <td>
                            <center>
                                Rp {{ order.subtotal }}
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td height="100" width="100"></td>
                        <td></td>
                        <td>Biaya Instalasi:</td>
                        <td>
                            <center>
                                {{ order.installation_fee }}
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td height="100" width="100"></td>
                        <td></td>
                        <td>Biaya Pengiriman:</td>
                        <td>
                            <center>
                                Rp {{ order.shipping_cost }}
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td class="hargatotal" height="100" width="100">TOTAL:
                        </td>
                        <td></td>
                        <td></td>
                        <td class="hargatotal">
                            <center>
                                <span class="hargatotal-2">Rp</span> {{ order.total }}
                            </center>
                        </td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            <p class="card__text4" style="font-style:italic;">Catatan:<br>
            Invoice fisik akan kami kirimkan ke alamat resmi yang terdaftar
            pada saat registrasi.</p>
            <p class="card__text2">Untuk produk berstatus "Ready Stock", max
            persiapan pengiriman adalah 3 hari kerja.<br>
            Untuk produk berstatus "Indent", max persiapan pengiriman adalah 60
            hari kerja.<br>
            <br>
            Silakan menghubungi kami di +62819819181 (pada jam operasional)
            untuk bantuan dan informasi lebih lanjut.<br>
            <br>
            Salam dan selamat beraktivitas,<br>
            emedis.id</p>
            <div class="card__action-bar">
                <span class=""><img class="logo2" src="{% static 'assets/img/email_template_logo.png' %}"></span>
                <span class="bantuan">Jika butuh bantuan, gunakan halaman
                Kontak Kami. 2016 &copy; PT Medis Raya. All Right Reserved</span>
            </div>
        </div>
    </center>
    <script type="text/javascript">
    var canvas = {},
    centerX = 0,
    centerY = 0,
    color = '',
    containers = document.getElementsByClassName('material-design')
    context = {},
    element = {},
    radius = 1000,

    requestAnimFrame = function() {
    return (
      window.requestAnimationFrame ||
      window.mozRequestAnimationFrame ||
      window.oRequestAnimationFrame ||
      window.msRequestAnimationFrame ||
      function(callback) {
        window.setTimeout(callback, 1000 / 6);
      }
    );
    }(),

    init = function() {
    containers = Array.prototype.slice.call(containers);
    for (var i = 0; i < containers.length; i += 1) {
      canvas = document.createElement('canvas');
      canvas.addEventListener('click', press, false);
      containers[i].appendChild(canvas);
      canvas.style.width = '100%';
      canvas.style.height = '100%';
      canvas.width = canvas.offsetWidth;
      canvas.height = canvas.offsetHeight;
    }
    },

    press = function(event) {
    color = event.toElement.parentElement.dataset.color;
    element = event.toElement;
    context = element.getContext('2d');
    radius = 0;
    centerX = event.offsetX;
    centerY = event.offsetY;
    context.clearRect(0, 0, element.width, element.height);
    draw();
    },

    draw = function() {
    context.beginPath();
    context.arc(centerX, centerY, radius, 0, 2* Math.PI, false);
    context.fillStyle = color;
    context.fill();
    radius += 10;
    if (radius < element.width) {
      requestAnimFrame(draw);
    }
    };

    init();
    </script>
    <script type="text/javascript">
    (function(){

    $(".controller").click(function(){
    id = $(this).attr("id");

    $(".controller-container").find(".is_current").removeClass("is_current");
    $(this).addClass("is_current");
    $(".card").attr('class', 'card card--' + id);
    $("html").attr('class', 'bg--' + id);

    });

    })();



    // Ripple function
    (function(){
    "use strict";

    var colour = "#FF1744";
    var opacity = 0.1;
    var ripple_within_elements = ['input', 'button', 'a'];
    var ripple_without_diameter = 0;

    var overlays = {
        items: [],
        get: function(){
            var $element;
            for(var i = 0; i < overlays.items.length; i++){
                $element = overlays.items[i];
                if($element.transition_phase === false) {
                    $element.transition_phase = 0;
                    return $element;
                }
            }
            $element = document.createElement("div");
            $element.style.position = "absolute";
            $element.style.opacity = opacity;
            //$element.style.outline = "10px solid red";
            $element.style.pointerEvents = "none";
            $element.style.background = "-webkit-radial-gradient(" + colour + " 64%, rgba(0,0,0,0) 65%) no-repeat";
            $element.style.background = "radial-gradient(" + colour + " 64%, rgba(0,0,0,0) 65%) no-repeat";
            $element.style.transform = "translateZ(0)";
            $element.transition_phase = 0;
            $element.rid = overlays.items.length;
            $element.next_transition = overlays.next_transition_generator($element);
            document.body.appendChild($element);
            overlays.items.push($element);
            return $element;
        },
        next_transition_generator: function($element){
            return function(){
                $element.transition_phase++;
                switch($element.transition_phase){
                    case 1:
                        $element.style[transition] = "all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000)";
                        $element.style.backgroundSize = $element.ripple_backgroundSize;
                        $element.style.backgroundPosition = $element.ripple_backgroundPosition;
                        setTimeout($element.next_transition, 0.2 * 1000); //now I know transitionend is better but it fires multiple times when multiple properties are animated, so this is simpler code and (imo) worth tiny delays
                        break;
                    case 2:
                        $element.style[transition] = "opacity 0.15s ease-in-out";
                        $element.style.opacity = 0;
                        setTimeout($element.next_transition, 0.15 * 1000);
                        break;
                    case 3:
                        overlays.recycle($element);
                        break;
                }
            };
        },
        recycle: function($element){
            $element.style.display = "none";
            $element.style[transition] = "none";
            if($element.timer) clearTimeout($element.timer);
            $element.transition_phase = false;
        }
    };

    var transition = function(){
        var i,
            el = document.createElement('div'),
            transitions = {
                'WebkitTransition':'webkitTransition',
                'transition':'transition',
                'OTransition':'otransition',
                'MozTransition':'transition'
            };
        for (i in transitions) {
            if (transitions.hasOwnProperty(i) && el.style[i] !== undefined) {
                return transitions[i];
            }
        }
    }();

    var click = function(event){
        var $element = overlays.get(),
            touch,
            x,
            y;

        touch = event.touches ? event.touches[0] : event;

        $element.style[transition] = "none";
        $element.style.backgroundSize = "3px 3px";
        $element.style.opacity = opacity;
        if(ripple_within_elements.indexOf(touch.target.nodeName.toLowerCase()) > -1) {
            x = touch.offsetX;
            y = touch.offsetY;

            var dimensions = touch.target.getBoundingClientRect();
            if(!x || !y){
                x = (touch.clientX || touch.x) - dimensions.left;
                y = (touch.clientY || touch.y) - dimensions.top;
            }
            $element.style.backgroundPosition = x + "px " + y + "px";
            $element.style.width = dimensions.width + "px";
            $element.style.height = dimensions.height + "px";
            $element.style.left = (dimensions.left) + "px";
            $element.style.top = (dimensions.top + document.body.scrollTop + document.documentElement.scrollTop) + "px";
            var computed_style = window.getComputedStyle(event.target);
            for (var key in computed_style) {
                if (key.toString().indexOf("adius") > -1) {
                    if(computed_style[key]) {
                        $element.style[key] = computed_style[key];
                    }
                } else if(parseInt(key, 10).toString() === key && computed_style[key].indexOf("adius") > -1){
                    $element.style[computed_style[key]] = computed_style[computed_style[key]];
                }
            }
            $element.style.backgroundPosition = x + "px " + y + "px";
            $element.ripple_backgroundPosition = (x - dimensions.width)  + "px " + (y - dimensions.width) + "px";
            $element.ripple_backgroundSize = (dimensions.width * 2) + "px " + (dimensions.width * 2) + "px";
        } else { //click was outside of ripple element
            x = touch.clientX || touch.x || touch.pageX;
            y = touch.clientY || touch.y || touch.pageY;

            $element.style.borderRadius = "0px";
            $element.style.left = (x - ripple_without_diameter / 2) + "px";
            $element.style.top = (document.body.scrollTop + document.documentElement.scrollTop + y - ripple_without_diameter / 2) + "px";
            $element.ripple_backgroundSize = ripple_without_diameter + "px " + ripple_without_diameter + "px";
            $element.style.width = ripple_without_diameter + "px";
            $element.style.height = ripple_without_diameter + "px";
            $element.style.backgroundPosition = "center center";
            $element.ripple_backgroundPosition = "center center";
            $element.ripple_backgroundSize = ripple_without_diameter + "px " + ripple_without_diameter + "px";
        }
        $element.ripple_x = x;
        $element.ripple_y = y;
        $element.style.display = "block";
        setTimeout($element.next_transition, 20);
    };

    if('ontouchstart' in window || 'onmsgesturechange' in window){
        document.addEventListener("touchstart", click, false);
    } else {
        document.addEventListener("click", click, false);
    }
    }());
    </script>
</body>
</html>