<html lang="en">
<head>
    <title>emedis.id | Order #{{ order_detail.order_number|upper }}</title>
</head>
<body>

<p>{{ order_detail.to }}</p>

<p> Your order number #{{ order_detail.order_number }} has been received.</p>

<table>
    <thead>
        <td>Produk</td>
        <td>Kuantitas</td>
        <td>Price</td>
        <td>Subtotal</td>
    </thead>
    <tbody>
    {% if order_detail.products %}
        {% for product in order_detail.products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.subtotal }}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
</body>
</html>